/***********************************
***   GENERAL DATAFEEDS STYLES   ***
***********************************/
/* header and breadcrumbs */
body.page-data-feeds #zone-header,
body.page-track-data-feed #zone-header,
body.page-featured-trends #zone-header,
body.page-data-feeds #section-header,
body.context-contract-api #section-header,
body.context-spending-api #section-header,
body.context-payroll-api #section-header,
body.page-node-300 #section-header,
body.page-node-302 #section-header{
    padding-bottom: 0px;
    margin-bottom: 0px;
}

body.page-data-feeds .breadcrumb,
body.page-track-data-feed .breadcrumb,
body.page-featured-trends .breadcrumb{
    margin-top: 0;
}

body.page-data-feeds #zone-content-wrapper #breadcrumb,
body.context-contract-api #zone-content-wrapper #breadcrumb,
body.context-spending-api #zone-content-wrapper #breadcrumb,
body.context-payroll-api #zone-content-wrapper #breadcrumb,
body.page-node-300 #zone-content-wrapper #breadcrumb,
body.page-node-302 #zone-content-wrapper #breadcrumb{
    margin-left: 0px;
}
body.context-contract-api h1#page-title,
body.context-spending-api h1#page-title,
body.context-payroll-api h1#page-title,
body.page-data-feeds-tab1 h1#page-title,
body.page-data-feeds-tab2 h1#page-title,
body.page-data-feeds h1#page-title,
body.page-node-300 h1#page-title,
body.page-node-302 h1#page-title{
    margin-bottom:20px;

}

body.page-data-feeds,
body.page-track-data-feed {
    color: #000;
    line-height: 18px;
}

/* top tabs */
body.page-data-feeds ul.primary li.active a, body.page-data-feeds ul.primary li a {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

body.page-data-feeds ul.tabs li a {
    font-size: 14px;
    font-weight: bold;
}

/* side bar */
body.page-data-feeds .data-feeds-sidebar,
body.page-track-data-feed .data-feeds-sidebar {
    float: left;
    margin-right: 20px;
    width: 200px;
}

body.page-data-feeds .data-feeds-sidebar h2,
body.page-track-data-feed .data-feeds-sidebar h2,
.data-feed-wizard > .form-item > label,
body.page-data-feeds .trackstatus form label,
body.page-track-data-feed .trackstatus form label,
body.page-data-feeds #zone-content form.data-feeds-wizard h2,
body.page-track-data-feed #zone-content form.data-feeds-wizard h2,
body.page-data-feeds #zone-content form.data-feeds-wizard .fieldset-legend,
body.page-track-data-feed #zone-content form.data-feeds-wizard .fieldset-legend {
    font: bold 14px 'roboto';
    color: #2D4C68;
    margin-bottom: 10px;
}

.data-feed-wizard > .form-item > label {
    margin-bottom: 5px;
}

body.page-data-feeds #zone-content .content > form,
body.page-track-data-feed #zone-content #data-feed-wizard {
    float: left;
    width: 698px;
}

body.page-data-feeds #zone-content .content > form.first-page,
body.page-data-feeds #zone-content .content > form fieldset,
body.page-track-data-feed #zone-content .content form fieldset,
body.page-data-feeds .trackstatus form,
body.page-track-data-feed .trackstatus form {
    border: 1px solid #CCCCCC;
    border-radius: 5px 5px 5px 5px;
    padding: 10px;
}

body.page-data-feeds .trackstatus,
body.page-track-data-feed .trackstatus {
    margin-top: 30px;
}

body.page-data-feeds .trackstatus form,
body.page-track-data-feed .trackstatus form {
    float: left;
    padding: 5px;
}

body.page-data-feeds .trackstatus form label,
body.page-track-data-feed .trackstatus form label {
    float: left;
    clear: both;
    margin-top: 20px;
}

body.page-data-feeds .trackstatus form input,
body.page-data-feeds #zone-content .trackstatus form .form-item,
body.page-track-data-feed .trackstatus form input,
body.page-track-data-feed #zone-content .trackstatus form .form-item {
    width: 130px;
    float: left;
}
.form-item-tracking-number #edit-tracking-number{
    width: 130px !important;
    float: left !important;
}

body.page-data-feeds .trackstatus form input.form-submit,
body.page-track-data-feed .trackstatus form input.form-submit {
    width: auto;
    float: left;
    margin: 46px 0px 10px 2px;
}

body.page-data-feeds #zone-content fieldset,
body.page-track-data-feed #zone-content fieldset {
    margin-bottom: 10px;
}

body.page-data-feeds #zone-content fieldset#edit-columns {
    margin-top: 20px;
}

body.page-data-feeds #zone-content div#dynamic-columns-wrapper + input,
body.page-data-feeds #zone-content fieldset#edit-columns + input,
body.page-data-feeds #zone-content #edit-feeds-budget-next,
body.page-data-feeds #zone-content #edit-feeds-revenue-next {
    float: right;
}

body.page-data-feeds #zone-content fieldset#edit-columns + input#edit-prev {
    float: left;
}

body.page-track-data-feed .search-columns .item-list ul li {
    margin-left: 0;
}

body.page-track-data-feed #edit-search-criteria-fieldset div {
    margin-bottom: 5px;
}

body.page-track-data-feed #data-feed-wizard p {
    margin-bottom: 5px;
}

/**********************************
***   DATAFEEDS FORM ELEMENTS   ***
**********************************/
.ms-container .ms-selection li.ms-elem-selected {
    border-bottom: 1px solid #EEEEEE;
    color: #555555;
    padding: 1px 10px 1px 20px;
}
.ms-container .ms-selection li.ms-elem-selected:hover {
    color: #000;
}
body.page-data-feeds #zone-content .form-item,
body.page-data-feeds .form-actions,
body.page-track-data-feed #zone-content .form-item,
body.page-track-data-feed .form-item {
    margin-bottom: 0px;
    margin-top: 0px;
}

body.page-data-feeds #zone-content .form-radios .form-item {
    float: left;
    width: auto;
    clear: none;
    margin-right: 45px;
}

body.page-data-feeds #zone-content .form-item {
    float: left;
    width: 100%;
}

body.page-data-feeds #zone-content #edit-type-next {
    float: right;
}

body.page-data-feeds #zone-content form.data-feeds-wizard .column {
    display: block;
    float: left;
    vertical-align: top;
    width: 318px;
}

body.page-data-feeds #zone-content form.data-feeds-wizard column-right {
    margin-left: 20px;
}

body.page-data-feeds #zone-content form.data-feeds-wizard .column label {
    float: left;
}

body.page-data-feeds #zone-content form.data-feeds-wizard .column select,
body.page-data-feeds #zone-content form.data-feeds-wizard .column input {
    float: right;
    width: 178px;
}

body.page-data-feeds #zone-content form.data-feeds-wizard .column .datafield {
    float: left;
    clear: both;
    width: 100%;
    display: block;
    height: 50px;
}

body.page-data-feeds #zone-content form.data-feeds-wizard .column .datafield .datafield {
    height: auto;
}

/* date filter */
body.page-data-feeds #zone-content form.data-feeds-wizard .column #edit-date-filter {
    float: left;
}

body.page-data-feeds #zone-content form.data-feeds-wizard .column #edit-date-filter > .form-item {
    margin-bottom: 0px;
}

body.page-data-feeds #zone-content form.data-feeds-wizard .column #edit-date-filter > .form-item:first-child {
    margin-right: 100px;
}

body.page-data-feeds #zone-content form.data-feeds-wizard .column .form-item-date-filter > label {
    float: left;
    width: 100%;
}

body.page-data-feeds #zone-content form.data-feeds-wizard .column .form-item-date-filter div > label {
    float: right;
    width: auto;
}

body.page-data-feeds #zone-content form.data-feeds-wizard .column .form-item-date-filter > input {
    float: left;
    width: auto;
}

body.page-data-feeds #zone-content form.data-feeds-wizard .column #datefilter .datafield {
    height: 40px;
}

body.page-data-feeds #zone-content form.spending.data-feeds-wizard .column .form-item-year {
    width: auto;
}

body.page-data-feeds #zone-content form.spending.data-feeds-wizard .column .form-item-year select {
    width: 90px;
}

body.page-data-feeds #zone-content form.spending.data-feeds-wizard .column .datafield #year {
    float: left;
}

body.page-data-feeds #zone-content form.spending.data-feeds-wizard .column .datafield #year + .datafield {
    width: auto;
    clear: none;
    float: right;
}

body.page-data-feeds #zone-content form.data-feeds-wizard .column .ranges {
    float: right;
}

body.page-data-feeds #zone-content form.data-feeds-wizard .column .ranges .form-item {
    width: auto;
}

body.page-data-feeds #zone-content form.data-feeds-wizard .column .ranges .form-item input {
    width: 76px;
}

body.page-data-feeds #zone-content form.data-feeds-wizard .column .ranges .form-item .description {
    clear: both;
}

/* select columns styles */
body.page-data-feeds .ms-container {
    position: relative;
}

body.page-data-feeds #edit-columns .form-item-column-select label,
body.page-data-feeds #edit-columns .form-item-oge-column-select label,
body.page-data-feeds #edit-columns .form-item-column-select-expense label,
body.page-data-feeds #edit-columns .form-item-column-select-oge-expense label,
body.page-data-feeds #edit-columns .form-item-column-select-revenue label,
body.page-data-feeds #edit-columns .form-item-column-select-all label,
body.page-data-feeds #edit-columns .form-item-column-select-pending-all label,
body.page-data-feeds #edit-columns .form-item-column-select-pending label,
body.page-data-feeds #edit-columns .form-item-column-select-nycha label{
    margin-left: 97px;
}

body.page-data-feeds form.data-feeds-wizard .ms-container .ms-selectable {
    margin-left: 97px;
    margin-right: 120px;
}

body.page-data-feeds form.data-feeds-wizard a.select {
    background: url("../images/arrow-right.png") no-repeat scroll right center transparent;
    border: 1px solid #CCCCCC;
    color: #555555;
    display: block;
    left: 289px;
    padding: 3px 14px 3px 7px;
    position: absolute;
    top: 48px;
    vertical-align: middle;
    width: 63px;
}

body.page-data-feeds form.data-feeds-wizard a.deselect {
    background: url("../images/arrow-left.png") no-repeat scroll left center transparent;
    border: 1px solid #CCCCCC;
    color: #555555;
    display: block;
    left: 289px;
    padding: 5px 0 5px 14px;
    position: absolute;
    top: 96px;
    vertical-align: middle;
    width: 70px;
}

/**************************************
***   DATAFEEDS FIRST PAGE STYLES   ***
**************************************/
body.page-data-feeds #zone-content .first-page .data-feed-wizard > .form-item > label {
    margin-bottom: 0px;
}

body.page-data-feeds #zone-content .first-page .form-radios {
    margin-bottom: 12px;
    margin-top: 12px;
    float: left;
    width: 100%;
}

/****************************************
***   DATAFEEDS PAYROLL PAGE STYLES   ***
****************************************/
.salarytype {
    margin-left: 140px;
}

body.page-data-feeds #zone-content form.data-feeds-wizard .column .salarytype .form-item {
    float: left;
    clear: both;
}

body.page-data-feeds #zone-content form.data-feeds-wizard .column .salarytype input, .salarytype label {
    float: left;
    margin-right: 5px;
    width: auto;
}

/**************************
***   API PAGE STYLES   ***
**************************/
#node-page-299 h2.node-title {
    display: none;
}

#api-landing-page h2 {
    font-size: 14px;
    margin-bottom: 10px;
}

#api-landing-page p {
    margin-bottom: 10px;
}

#api-landing-page .left, #api-landing-page .right {
    float: left;
    margin-right: 100px;
}

#api-landing-page .field-content {
    margin-bottom: 10px;
}

.api-table {
    margin-bottom: 10px;
}

.api-response-columns-table {
    margin-bottom: 10px;
    width: 303px;
}
.agency-code-list-table {
    margin-top: 10px;
}
.api-table + p a.float-right, .api-response-columns-table + p a.float-right, .api-center + .divider + p a.float-right, .api-response-columns-center + .divider + p a.float-right, pre.prettyprint + p a.float-right, a.float-right {
    float: right;
}

.api-table th,
.api-response-columns-table th{
    color: #FFFFFF;
    padding: 10px 5px;
    background: #48759d; /* Old browsers */
    background: -moz-linear-gradient(top,  #48759d 0%, #3f668f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#48759d), color-stop(100%,#3f668f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #48759d 0%,#3f668f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #48759d 0%,#3f668f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #48759d 0%,#3f668f 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #48759d 0%,#3f668f 100%); /* W3C */
   -ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#48759d', endColorstr='#3f668f',GradientType=0 )"; /* IE6-9 */

}

.api-table td,
.api-response-columns-table td{
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    padding: 10px 5px;
}

.api-center {
    margin: 0 auto 10px auto;
    width: 565px;
}

.api-response-columns-center {
    margin: 0 auto 10px auto;
    width: auto;
}

.api-center table th, .api-center table td, .api-response-columns-center table th, .api-response-columns-center table td {
    padding: 10px 5px;
}

pre.prettyprint {
    border: 1px solid #888888;
    padding: 2px;
    margin-bottom: 10px;
}
/* api sub page styles */
#node-page-466, #node-page-483, #node-page-304, #node-page-300, #node-page-302 {
    line-height: 18px;
    color: #000;
}

#node-page-466 h3, #node-page-483 h3, #node-page-304 h3, #node-page-300 h3, #node-page-302 h3 {
    font: bold 12px 'roboto';
}

#node-page-466 p, #node-page-483 p, #node-page-304 p, #node-page-300 p, #node-page-302 p {
    margin-bottom: 10px;
}
body.page-node-466 ol{
  list-style-type: decimal;
}
body.page-node-466 ol li{
  margin-left: 20px;
}


/*Fix for large drop downs in IE8 to force them to stay fixed*/
body.page-data-feeds #zone-content form.data-feeds-wizard .column select#edit-agency,
body.page-data-feeds #zone-content form.data-feeds-wizard .column select#edit-dept,
body.page-data-feeds #zone-content form.data-feeds-wizard .column select#edit-expense-category,
body.page-data-feeds #zone-content form.data-feeds-wizard .column select.edit-expense-type,
body.page-data-feeds #zone-content form.data-feeds-wizard .column select#edit-contract-type,
body.page-data-feeds #zone-content form.data-feeds-wizard .column select#edit-award-method  {
    position: relative !important;
    width: 178px !important;
}

body.page-data-feeds #zone-content form.data-feeds-wizard .column select#edit-agency option,
body.page-data-feeds #zone-content form.data-feeds-wizard .column select#edit-dept option,
body.page-data-feeds #zone-content form.data-feeds-wizard .column select#edit-expense-category option,
body.page-data-feeds #zone-content form.data-feeds-wizard .column select.edit-expense-type option,
body.page-data-feeds #zone-content form.data-feeds-wizard .column select#edit-contract-type option,
body.page-data-feeds #zone-content form.data-feeds-wizard .column select#edit-award-method option {
    position: absolute !important;
}
