/* filter */
.chzn-container-single .chzn-single{border-radius:0px;}

.spending_transactions .dataTables_processing,
.payroll_agencytransactions .dataTables_processing {
    top: -20px;
}


.grid-3 div.checkbox,
.smart-search-right div.checkbox input{
    height: 13px;
    width: 13px;
}

.grid-3 div.checkbox input,
.smart-search-right .checkbox input{
    padding: 0;
}

/* data table */
.fy-ait td {-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#48759d', endColorstr = '#3f668f', GradientType = 0)";}

/* 351 */
#table_351_wrapper .DTFC_LeftHeadWrapper tr > th .trendCen {margin-right:30px;}
#table_351_wrapper .DTFC_LeftHeadWrapper tr + tr > th .trendCen {margin-right:35px;}
#table_351_wrapper tr > th .trendCen {margin-right:31px;}
#table_351_wrapper tr + tr > th .trendCen {margin-right:45px;}
#table_351_wrapper tr + tr > th + th .trendCen {margin-right:33px;}
#table_351_wrapper tr > th + th + th .trendCen {margin-right:24px;  }
#table_351_wrapper tr > th + th + th + th .trendCen {margin-right:14px;}
#table_351_wrapper tr + tr > th + th + th .trendCen {margin-right:45px;}
#table_351_wrapper tr + tr > th + th + th + th .trendCen {margin-right:33px;}
#table_351_wrapper tr > th + th + th + th + th + th .trendCen {margin-right:29px;}
#table_351_wrapper .DTFC_LeftBodyWrapper tr > td:nth-child(1) .tdCen  {margin-right:36px;}
#table_351_wrapper tr > td .tdCen {margin-right:29px;}
#table_351_wrapper tr > td + td .tdCen {margin-right:32px;}
#table_351_wrapper tr > td + td + td  .tdCen {margin-right:50px;}
#table_351_wrapper tr > td + td + td + td .tdCen {margin-right:37px;}
#table_351_wrapper tr > td + td + td + td + td  .tdCen {margin-right:32px;}
#table_351_wrapper tr > td + td + td + td + td + td .tdCen {margin-right:29px;}
#table_351_wrapper tr > td + td + td + td + td + td + td .tdCen {margin-right:50px;}
#table_351_wrapper tr > td + td + td + td + td + td + td + td  .tdCen {margin-right:37px;}

/* 353 */
#table_353_wrapper .dataTables_scrollBody{height:130px !important;}
#table_353_wrapper .DTFC_LeftHeadWrapper tr > th:first-child .trendCen {margin-right:0px; margin-left:40px;}
#table_353_wrapper tr > td .tdCen {margin-right:43px;}

/* 355 */
#table_355_wrapper .DTFC_LeftHeadWrapper tr > th:first-child  div.trendCen {margin-right:0px; margin-left:30px;}
#table_355_wrapper tr > th .trendCen {margin-right:28px;}
#table_355_wrapper tr > th + th .trendCen {margin-right:36px;}
#table_355_wrapper tr > th + th + th .trendCen {margin-right:52px;}
#table_355_wrapper tr > th + th + th + th .trendCen {margin-right:48px;}
#table_355_wrapper tr > th + th + th + th + th .trendCen {margin-right:52px;}
#table_355_wrapper tr > th + th + th + th + th + th .trendCen {margin-right:44px;}
#table_355_wrapper tr > th + th + th + th + th + th + th .trendCen {margin-right:48px;}
#table_355_wrapper tr > th + th + th + th + th + th + th + th .trendCen {margin-right:51px;}
#table_355_wrapper tr > th + th + th + th + th + th + th + th + th .trendCen {margin-right:48px;}
#table_355_wrapper tr > th + th + th + th + th + th + th + th + th + th .trendCen {margin-right:29px;}
#table_355_wrapper tr > th + th + th + th + th + th + th + th + th + th + th .trendCen {margin-right:24px;}
#table_355_wrapper tr > th + th + th + th + th + th + th + th + th + th + th + th .trendCen {margin-right:42px;}
#table_355_wrapper tr > th + th + th + th + th + th + th + th + th + th + th + th + th .trendCen {margin-right:24px;}
#table_355_wrapper tr > th + th + th + th + th + th + th + th + th + th + th + th + th + th .trendCen {margin-right:23px;}
#table_355_wrapper .DTFC_LeftBodyWrapper tr > td .tdCen  {margin-right:39px;}
#table_355_wrapper tr > td .tdCen {margin-right:48px;}
#table_355_wrapper tr > td + td .tdCen {margin-right:56px;}
#table_355_wrapper tr > td + td + td .tdCen {margin-right:56px;}
#table_355_wrapper tr > td + td + td + td .tdCen {margin-right:51px;}
#table_355_wrapper tr > td + td + td + td + td .tdCen {margin-right:48px;}
#table_355_wrapper tr > td + td + td + td + td + td .tdCen {margin-right:51px;}
#table_355_wrapper tr > td + td + td + td + td + td + td .tdCen {margin-right:51px;}
#table_355_wrapper tr > td + td + td + td + td + td + td + td .tdCen {margin-right:56px;}
#table_355_wrapper tr > td + td + td + td + td + td + td + td + td .tdCen {margin-right:56px;}
#table_355_wrapper tr > td + td + td + td + td + td + td + td + td + td .tdCen {margin-right:51px;}
#table_355_wrapper tr > td + td + td + td + td + td + td + td + td + td + td .tdCen {margin-right:51px;}
#table_355_wrapper tr > td + td + td + td + td + td + td + td + td + td + td + td .tdCen {margin-right:56px;}
#table_355_wrapper tr > td + td + td + td + td + td + td + td + td + td + td + td + td .tdCen {margin-right:48px;}
#table_355_wrapper tr > td + td + td + td + td + td + td + td + td + td + td + td + td + td.tdCen {margin-right:41px;}

/* 359 */
#table_359_wrapper tr > th .trendCen {margin-right:62px;}
#table_359_wrapper tr + tr + tr > th .trendCen {margin-right:33px;}
#table_359_wrapper tr + tr + tr > th + th .trendCen {margin-right:29px;}
#table_359_wrapper tr + tr + tr > th + th + th .trendCen {margin-right:47px;}
#table_359_wrapper tr + tr + tr > th + th + th + th .trendCen {margin-right:56px;}
#table_359_wrapper tr > td .tdCen {margin-right:63px;}
#table_359_wrapper tr > td + td .tdCen {margin-right:62px;}
#table_359_wrapper tr > td + td + td .tdCen {margin-right:67px;}
#table_359_wrapper tr > td + td + td + td + td .tdCen {margin-right:58px;}
#table_359_wrapper tr > td + td + td + td + td + td  .tdCen {margin-right:58px;}

/* 360 */
#table_360_wrapper tr > th .trendCen {margin-right:28px;}
#table_360_wrapper tr > th + th .trendCen {margin-right:36px;}
#table_360_wrapper tr + tr > th .trendCen {margin-right:43px;}
#table_360_wrapper tr + tr > th + th .trendCen {margin-right:35px;}
#table_360_wrapper tr + tr > th + th + th .trendCen {margin-right:27px;}
#table_360_wrapper tr > th + th + th + th .trendCen {margin-right:35px;}
#table_360_wrapper tr > td .tdCen {margin-right:34px;}
#table_360_wrapper tr > td + td .tdCen {margin-right:43px;}
#table_360_wrapper tr > td + td + td .tdCen {margin-right:70px;}
#table_360_wrapper tr > td + td + td + td .tdCen {margin-right:73px;}
#table_360_wrapper tr > td + td + td + td + td .tdCen {margin-right:73px;}
#table_360_wrapper tr > td + td + td + td + td + td .tdCen {margin-right:68px;}

/* 395 */
#table_395_wrapper tr > th .trendCen {margin-right:5px; }
#table_395_wrapper tr > th + th .trendCen {margin-right:0px;}
#table_395_wrapper tr > th + th + th .trendCen {margin-right:0px;}
#table_395_wrapper tr > th+ th + th + th .trendCen {margin-right:15px;}
#table_395_wrapper tr + tr > th .trendCen {margin-right:15px;}
#table_395_wrapper tr + tr > th + th .trendCen {margin-right:15px;}
#table_395_wrapper tr + tr > th + th + th .trendCen {margin-right:25px;}
#table_395_wrapper tr > th + th + th + th + th + th .trendCen {margin-right:0px;}
#table_395_wrapper tr > th + th + th + th + th + th + th .trendCen {margin-right:0px; }
#table_395_wrapper tr > th + th + th + th + th + th + th + th .trendCen {margin-right:25px;}
#table_395_wrapper tr > td .tdCen {margin-right:10px;}
#table_395_wrapper tr > td + td .tdCen {margin-right:8px;}
#table_395_wrapper tr > td + td + td .tdCen {margin-right:10px;}
#table_395_wrapper tr > td + td + td + td .tdCen {margin-right:25px;}
#table_395_wrapper tr > td + td + td + td + td .tdCen {margin-right:27px;}
#table_395_wrapper tr > td + td + td + td + td + td .tdCen {margin-right:27px;}
#table_395_wrapper tr > td + td + td + td + td + td + td .tdCen {margin-right:25px;}
#table_395_wrapper tr > td + td + td + td + td + td + td + td .tdCen {margin-right:15px;}
#table_395_wrapper tr > td + td + td + td + td + td + td + td + td .tdCen {margin-right:13px;}
#table_395_wrapper tr > td + td + td + td + td + td + td + td + td + td .tdCen {margin-right:35px;}

/* 396 */
#table_396_wrapper tr + tr > th .trendCen {margin-right:79px;}
#table_396_wrapper tr + tr > th + th .trendCen {margin-right:51px;}
#table_396_wrapper tr + tr > th + th + th .trendCen {margin-right:52px; }
#table_396_wrapper tr + tr > th + th + th + th .trendCen {margin-right:64px;}
#table_396_wrapper tr + tr > th + th + th + th + th .trendCen {margin-right:52px;}
#table_396_wrapper tr > td .tdCen {margin-right:80px;}
#table_396_wrapper tr > td + td .tdCen {margin-right:61px;}
#table_396_wrapper tr > td + td + td .tdCen {margin-right:78px;}
#table_396_wrapper tr > td + td + td + td .tdCen {margin-right:68px;}
#table_396_wrapper tr > td + td + td + td + td .tdCen {margin-right:78px;}

/* 397 */
#table_397_wrapper tr + tr > th .trendCen {margin-right:141px;}
#table_397_wrapper tr + tr > th + th .trendCen {margin-right:121px;}
#table_397_wrapper tr + tr > th + th + th .trendCen {margin-right:138px;}
#table_397_wrapper tr > td .tdCen {margin-right:143px;}
#table_397_wrapper tr > td + td .tdCen {margin-right:146px;}
#table_397_wrapper tr > td + td + td .tdCen {margin-right:135px;}

/* 398 */
#table_398_wrapper .dataTables_scrollHead,
#table_398_wrapper .dataTables_scrollBody{
    width:100% !important;
}
#table_398_wrapper .DTFC_LeftHeadWrapper tr > th .trendCen {margin-right:30px;}
#table_398_wrapper tr > th .trendCen {margin-right:31px; }
#table_398_wrapper tr > th + th .trendCen {margin-right:31px;}
#table_398_wrapper tr > th + th + th .trendCen {margin-right:31px;}
#table_398_wrapper tr > th + th + th + th .trendCen {margin-right:31px;}
#table_398_wrapper tr > th + th + th + th + th .trendCen {margin-right:15px;}
#table_398_wrapper tr > th + th + th + th + th + th .trendCen {margin-right:6px;}
#table_398_wrapper tr > th + th + th + th + th + th + th .trendCen {margin-right:27px;}
#table_398_wrapper tr > th + th + th + th + th + th + th + th .trendCen {margin-right:18px;}
#table_398_wrapper tr > th + th + th + th + th + th + th + th + th .trendCen {margin-right:4px; }
#table_398_wrapper .DTFC_LeftBodyWrapper tr > td .tdCen {margin-right:36px;}
#table_398_wrapper tr > td .tdCen {margin-right:27px;}
#table_398_wrapper tr > td + td .tdCen {margin-right:27px;}
#table_398_wrapper tr > td + td + td .tdCen {margin-right:27px;}
#table_398_wrapper tr > td + td + td + td .tdCen {margin-right:27px;}
#table_398_wrapper tr > td + td + td + td + td .tdCen {margin-right:27px;}
#table_398_wrapper tr > td + td + td + td + td + td .tdCen {margin-right:23px;}
#table_398_wrapper tr > td + td + td + td + td + td + td .tdCen {margin-right:30px;}
#table_398_wrapper tr > td + td + td + td + td + td + td + td .tdCen {margin-right:23px;}
#table_398_wrapper tr > td + td + td + td + td + td + td + td + td .tdCen {margin-right:35px;}

/* 399 */
#table_399_wrapper tr > th .trendCen {margin-right:98px;}
#table_399_wrapper tr > th + th .trendCen {margin-right:70px;}
#table_399_wrapper tr > th + th + th .trendCen {margin-right:125px;}
#table_399_wrapper tr > th + th + th + th .trendCen {margin-right:84px;}
#table_399_wrapper tr > td .tdCen {margin-right:105px;}
#table_399_wrapper tr > td + td .tdCen {margin-right:72px;}
#table_399_wrapper tr > td + td + td .tdCen {margin-right:147px;}
#table_399_wrapper tr > td + td + td + td .tdCen {margin-right:89px;}

/* 400 */
#table_400_wrapper .dataTables_scroll .dataTable th div,#table_400_wrapper .dataTables_scroll .dataTable td div{margin-left:0px;}
#table_400_wrapper .dataTables_scroll .dataTable th:first-child div, #table_400_wrapper .dataTables_scroll .dataTable td.text:first-child div{margin-left:0px;}
#table_400_wrapper tr + tr > th .thAssess {margin-right:11px;}
#table_400_wrapper tr + tr > th .thPercent {margin-right:13px;}
#table_400_wrapper tr + tr > th .thDirect {margin-right:30px;}
#table_400_wrapper tr > td .tdCen {margin-right:23px;}
#table_400_wrapper tr > td .tdCen {margin-right:40px;}
#table_400_wrapper tr > td .tdCen {margin-right:32px;}

/* 404 */
#table_404_wrapper .DTFC_LeftHeadWrapper tr > th .trendCen {margin-right:12px;}
#table_404_wrapper .DTFC_LeftHeadWrapper tr + tr > th .trendCen {margin-right:17px; }
#table_404_wrapper tr > th .trendCen {margin-right:44px;}
#table_404_wrapper tr > th + th .trendCen {margin-right:44px;}
#table_404_wrapper tr > th + th + th .trendCen {margin-right:44px;}
#table_404_wrapper tr > th + th + th + th .trendCen {margin-right:52px;}
#table_404_wrapper tr > th + th + th + th + th .trendCen {margin-right:42px;}
#table_404_wrapper tr > th + th + th + th + th + th .trendCen {margin-right:53px; }
#table_404_wrapper tr + tr > th .trendCen {margin-right:36px;}
#table_404_wrapper tr + tr > th + th.trendCen {margin-right:33px;}
#table_404_wrapper tr + tr > th+ th + th .trendCen {margin-right:45px;}
#table_404_wrapper tr > th + th + th + th + th + th + th + th .trendCen {margin-right:47px;}
#table_404_wrapper tr > th + th + th + th + th + th + th + th + th .trendCen {margin-right:43px; }
#table_404_wrapper tr > th + th + th + th + th + th + th + th + th .trendCen {margin-right:29px; }
#table_404_wrapper .DTFC_LeftBodyWrapper tr > td:nth-child(1) .tdCen {margin-right:61px; }
#table_404_wrapper tr > td .tdCen {margin-right:61px;}
#table_404_wrapper tr > td + td .tdCen {margin-right:61px;}
#table_404_wrapper tr > td + td + td .tdCen {margin-right:61px;}
#table_404_wrapper tr > td + td + td + td .tdCen {margin-right:61px;}
#table_404_wrapper tr > td + td + td + td + td .tdCen {margin-right:57px;}
#table_404_wrapper tr > td + td + td + td + td + td .tdCen {margin-right:57px;}
#table_404_wrapper tr > td + td + td + td + td + td + td .tdCen {margin-right:41px;}
#table_404_wrapper tr > td + td + td + td + td + td + td + td .tdCen {margin-right:60px;}
#table_404_wrapper tr > td + td + td + td + td + td + td + td + td .tdCen {margin-right:41px;}
#table_404_wrapper tr > td + td + td + td + td + td + td + td + td + td .tdCen {margin-right:69px;}
#table_404_wrapper tr > td + td + td + td + td + td + td + td + td + td + td .tdCen {margin-right:57px;}
#table_404_wrapper tr > td + td + td + td + td + td + td + td + td + td + td + td .tdCen {margin-right:52px;}

/* 406 */
#table_406_wrapper tr > th .trendCen {margin-right:97px;}
#table_406_wrapper tr > th + th .trendCen {margin-right:78px;}
#table_406_wrapper tr > th + th + th .trendCen {margin-right:59px;}
#table_406_wrapper tr > th + th + th + th .trendCen {margin-right:79px;}
#table_406_wrapper tr > td .tdCen {margin-right:104px;}
#table_406_wrapper tr > td + td .tdCen {margin-right:98px;}
#table_406_wrapper tr > td + td + td .tdCen {margin-right:99px;}
#table_406_wrapper tr > td + td + td + td .tdCen {margin-right:101px;}

/* 420 */
#table_420_wrapper .dataTables_scrollHead,
#table_420_wrapper .dataTables_scrollBody{
    width:100% !important;
}
#table_420_wrapper .DTFC_LeftHeadWrapper tr > th .trendCen {margin-right:30px;}
#table_420_wrapper .DTFC_LeftHeadWrapper tr + tr > th .trendCen {margin-right:35px; }
#table_420_wrapper tr > th .trendCen {margin-right:18px;}
#table_420_wrapper tr > th + th .trendCen {margin-right:18px;}
#table_420_wrapper tr > th + th + th .trendCen {margin-right:5px;}
#table_420_wrapper tr > th + th + th + th .trendCen {margin-right:5px;}
#table_420_wrapper tr > th + th + th + th + th .trendCen {margin-right:16px;}
#table_420_wrapper tr > th + th + th + th + th + th .trendCen {margin-right:27px; }
#table_420_wrapper tr + tr > th .trendCen {margin-right:15px;}
#table_420_wrapper tr + tr > th + th .trendCen {margin-right:13px;}
#table_420_wrapper tr + tr > th + th + th .trendCen {margin-right:25px;}
#table_420_wrapper tr > th + th + th + th + th + th + th + th .trendCen {margin-right:21px;}
#table_420_wrapper tr > th + th + th + th + th + th + th + th + th .trendCen {margin-right:17px; }
#table_420_wrapper .DTFC_LeftBodyWrapper tr > td:nth-child(1) .tdCen {margin-right:36px; }
#table_420_wrapper tr > td .tdCen {margin-right:27px;}
#table_420_wrapper tr > td + td .tdCen {margin-right:27px;}
#table_420_wrapper tr > td + td + td .tdCen {margin-right:23px;}
#table_420_wrapper tr > td + td + td + td .tdCen {margin-right:27px;}
#table_420_wrapper tr > td + td + td + td + td .tdCen {margin-right:35px;}
#table_420_wrapper tr > td + td + td + td + td + td .tdCen {margin-right:23px;}
#table_420_wrapper tr > td + td + td + td + td + td + td .tdCen {margin-right:21px;}
#table_420_wrapper tr > td + td + td + td + td + td + td + td .tdCen {margin-right:21px;}
#table_420_wrapper tr > td + td + td + td + td + td + td + td + td .tdCen {margin-right:16px;}
#table_420_wrapper tr > td + td + td + td + td + td + td + td + td + td .tdCen {margin-right:35px;}
#table_420_wrapper tr > td + td + td + td + td + td + td + td + td + td + td .tdCen {margin-right:27px;}
