/* filter */
.chzn-container-single .chzn-single{border-radius:0px;}
.spending_transactions .dataTables_processing,
.payroll_agencytransactions .dataTables_processing {
    top: -20px;
}

.grid-3 div.checkbox,
.smart-search-right div.checkbox input{
    height: 13px;
    width: 13px;
}

.grid-3 div.checkbox input,
.smart-search-right .checkbox input{
    padding: 0;
}

/* data table */
.fy-ait td {-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#48759d', endColorstr = '#3f668f', GradientType = 0)";}