/********************************************
***   GENERAL RESOURCES AND HELP STYLES   ***
********************************************/
body.context-resources, body.page-node-503, body.page-node-504, body.page-node-505, body.page-node-510, body.page-node-511{
    line-height: 18px;
    color:#000;
}
body.page-node-505 #region-content, body.page-node-505 #region-content h1{font-family: 'Georgia', serif;}
body.context-resources p, body.page-node-503 p, body.page-node-504 p, body.page-node-505 p, body.page-node-510 p, body.page-node-511 p{
    margin-bottom: 10px;
}
body.page-node-504 h2, body.page-node-510 h2, body.page-node-511 h2{font-size: 12px;}
body.page-node-504 #breadcrumb, body.page-node-510 #breadcrumb, body.page-node-511 #breadcrumb{display:none;}
body.page-node-504 #section-header, body.page-node-510 #section-header, body.page-node-511 #section-header{margin-bottom:15px;}
body.context-resources #breadcrumb, body.page-node-503 #breadcrumb, body.page-node-505 #breadcrumb{
    margin-left:0px;
}

body.context-contract-api #section-header,
body.page-node-503 #section-header,
body.page-node-512 #section-header,
body.page-node-513 #section-header,
body.page-node-514 #section-header,
body.page-node-515 #section-header{margin-bottom:0px;}
body.page-node-503 #breadcrumb,
body.page-node-512 #breadcrumb,
body.page-node-513 #breadcrumb,
body.page-node-514 #breadcrumb,
body.page-node-515 #breadcrumb{margin-left:0px;}
body.page-node-503 #page-title,
body.page-node-504 #page-title,
body.page-node-510 #page-title,
body.page-node-511 #page-title,
body.page-node-512 #page-title,
body.page-node-513 #page-title,
body.page-node-514 #page-title,
body.page-node-515 #page-title{margin-bottom:20px;}

/* video overview page */
body.page-node-505 #section-header{margin-bottom:0px;}
body.page-node-505 #breadcrumb{margin: 6px 0 2px; line-height:11px;}
body.page-node-505 #breadcrumb .breadcrumb{margin:0px; padding:0px;}
body.page-node-505 #region-header-first .advanced-search{line-height:12px;}
body.node-type-overview h1#page-title {
    background: url("../images/overview-page-gradient.png") no-repeat scroll left bottom transparent;
    margin-bottom: 10px;
    padding-bottom: 20px;
}

/* site nav and glossary */
ul#site-overview {
    margin-top: 40px;
}
ul#site-overview li {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 24%;
}
ul#site-overview li a {
    color: #3C5E7C;
    display: block;
    font-style: italic;
    font-weight: bold;
    padding: 10px 0;
}


