/******************************
***   TREND PAGES GENERAL   ***
******************************/

/* header and breadcrumb area */
body.page-trends #section-header,
body.page-featured-trends #section-header,
body.page-all-trends #section-header,
body.page-trends-landing #section-header,
body.page-featuredtrends #section-header{
    margin-bottom: 0px;
}
body.page-trends .breadcrumb,
body.page-featured-trends .breadcrumb,
body.page-all-trends .breadcrumb,
body.page-trends-landing .breadcrumb,
body.page-featuredtrends .breadcrumb{
    margin-left:0px;
}
body.page-trends .breadcrumb .breadcrumb,
body.page-featured-trends .breadcrumb .breadcrumb,
body.page-all-trends .breadcrumb .breadcrumb,
body.page-trends-landing .breadcrumb .breadcrumb,
body.page-featuredtrends .breadcrumb .breadcrumb{
    margin: 0px;
    padding:0px;
}
body.page-trends h1#page-title,
body.page-featured-trends h1#page-title,
body.page-all-trends h1#page-title,
body.page-trends-landing h1#page-title,
body.page-featuredtrends  h1#page-title,
body.page-trends-landing-trends h1#page-titleSpecial,
body.page-trends h1#page-titleSpecial{
    margin-top:6px;
    line-height: 42px;
}

/*******************************
***   FEATURED TRENDS PAGE   ***
*******************************/
body.page-featured-trends .highcharts-border{
    margin-left:10px;
    background: url("/sites/all/themes/checkbook/images/nyc_map.png") no-repeat scroll center top transparent;
}
.featured-trends-filter {
    position: absolute;
    right: 0;
    top: 37px;
    z-index: 1;
}
.featured-trends-filter .filter-container {
    background: linear-gradient(to bottom, #FBFBFB 0%, #F9F9F9 5%, #F7F7F7 100%) repeat scroll 0 0 transparent;
    border: 1px solid #ADADAD;
    padding: 5px;
    display:block;
    float:left;
    margin-right:3px;
}
.featured-trends-filter .filter-container input,
.featured-trends-filter .filter-container label{
    font-size: 14px;
    color:#000;
    height: 29px;
    text-align: center;
    float:left;
}
.featured-trends-filter .filter-container label {
    margin: 10px 10px 0px 10px;
    font-size:12px;
    height:auto;
}
.featured-trends-filter img {
    cursor: pointer;
}
.detail-page-links {
    bottom: 20px;
    float: right;
    position: relative;
    text-align: right;
    width: 100%;
}
.detail-page-links a {margin-left: 30px;}
#featured-trends-thumbnails {
    background-color: #E9EEF0;
    float:left;
    clear:both;
    width:100%;
}
#featured-trends-thumbnails .navigation.activeSlide {
    border: 3px solid #1F82C9;
}
#featured-trends-thumbnails .navigation {
    color: #3E576F;
    cursor: pointer;
    display: block;
    float:left;
    height: 113px;
    width: 163px;
    margin: 15px 11px;
    font-size: 11px;
    text-align: center;
    vertical-align: top;
    border:1px solid #767676;
}
#featured-trends-thumbnails #general-fund {
    background: url("/sites/all/themes/checkbook/images/trends/GeneralFund.png") no-repeat scroll left top transparent;
}
#featured-trends-thumbnails #property-tax {
    background: url("/sites/all/themes/checkbook/images/trends/PropertyTax.png") no-repeat scroll left top transparent;
}
#featured-trends-thumbnails #capital-projects {
    background: url("/sites/all/themes/checkbook/images/trends/CapitalProjects.png") no-repeat scroll left top transparent;
}
#featured-trends-thumbnails #personal-income {
    background: url("/sites/all/themes/checkbook/images/trends/PersonalIncome.png") no-repeat scroll left top transparent;
}
#featured-trends-thumbnails #debt-ratio {
    background: url("/sites/all/themes/checkbook/images/trends/RatiosOfDebt.png") no-repeat scroll left top transparent;
}
#featured-trends .pane-content{
    width: 940px;;
}
/**************************
***   ALL TRENDS PAGE   ***
**************************/
.page-all-trends .panel-display.omega-grid.omega-12-onecol,
.page-trends-landing .panel-display.omega-grid.omega-12-onecol{
    margin:auto;
}
#table_355_wrapper{margin-top:20px;}
#table_404_wrapper{margin-top:20px;}
#table_395_wrapper{margin-top:20px;}
.page-all-trends h1{margin:10px 0px;}
.page-all-trends #block-system-main .pane-block{
    display:block;
    float: left;
    width: 291px;
    height: 275px;
    margin-bottom: 15px;
    margin-left: 15px;
    overflow: auto;
}
.page-all-trends #block-system-main .pane-block.pane-menu-menu-demographic-trends,
.page-all-trends #block-system-main .pane-block.pane-menu-menu-operational-trends{
    height:auto;
}
.page-all-trends #block-system-main .pane-block h2{
    font-family: 'Roboto';
    font-size:12px;
    margin-bottom:10px;
}
.page-all-trends #block-system-main li{line-height:18px;}

.page-trends #zone-content,
.page-trends-landing #zone-content{
    width:auto;
    float:left;
    clear:both;
}

/****************************
***   TREND TABLE PAGES   ***
****************************/
body.page-trends .dataTables_scrollHead,
body.page-trends-landing .dataTables_scrollHead,
body.page-featuredtrends .dataTables_scrollHead{
    background-color: #48759d; /* Old browsers */
    background-image: -moz-linear-gradient(top, #48759d 0%, #3f668f 100%); /* FF3.6+ */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #48759d), color-stop(100%, #3f668f)); /* Chrome,Safari4+ */
    background-image: -webkit-linear-gradient(top, #48759d 0%, #3f668f 100%); /* Chrome10+,Safari5.1+ */
    background-image: -o-linear-gradient(top, #48759d 0%, #3f668f 100%); /* Opera 11.10+ */
    background-image: -ms-linear-gradient(top, #48759d 0%, #3f668f 100%); /* IE10+ */
    background-image: linear-gradient(to bottom, #48759d 0%, #3f668f 100%); /* W3C */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr = '#48759d', endColorstr = '#3f668f', GradientType = 0)"; /* IE6-9 */
}
body.page-trends .node-widget h3,
body.page-trends-landing .node-widget h3,
body.page-featuredtrends .node-widget h3{
    display: none;
}
body.page-trends .footnote,
body.page-trends-landing .footnote,
body.page-featuredtrends .footnote{
    line-height:18px;
    color:#000;
    float:left;
    width:940px;
    clear:both;
}
body.page-trends .amount-L,
body.page-trends-landing .amount-L,
body.page-featuredtrends .amount-L,
body.page-trends .amount-S,
body.page-trends-landing .amount-S,
body.page-featuredtrends .amount-S{
    border-bottom: 1px solid #676767;
}
body.page-trends .amount-G,
body.page-trends-landing .amount-G,
body.page-featuredtrends .amount-G{
    border-bottom: 4px double #676767;
}
body.page-trends .footnote p,
body.page-trends-landing .footnote p,
body.page-featuredtrends .footnote p{
    margin-bottom:5px;
}

body.page-trends .centrig,
body.page-trends-landing .centrig,
body.page-featuredtrends .centrig{
    text-align: center;
}
body.page-trends th.number,
body.page-trends-landing th.number,
body.page-featuredtrends th.number{
    text-align:right;
}
body.page-trends .dataTables_wrapper,
body.page-trends-landing .dataTables_wrapper,
body.page-featuredtrends .dataTables_wrapper{
    margin-top:0px;
    width:938px !important;
}
body.page-trends table.fy-ait,
body.page-trends-landing table.fy-ait,
body.page-featuredtrends table.fy-ait{
    background-color:#48759D;
    background: linear-gradient(to bottom, #48759D 0%, #3F668F 100%) repeat scroll 0 0 transparent;
    border: 1px solid #CACACA;
    border-bottom:none;
    color: #FFFFFF;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
body.page-trends table.fy-ait td,
body.page-trends table.fy-ait th,
body.page-trends-landing table.fy-ait td,
body.page-trends-landing table.fy-ait th,
body.page-featuredtrends table.fy-ait td,
body.page-featuredtrends table.fy-ait th{
    padding: 10px 5px;
}
body.page-trends table.fy-ait tr.first-row td,
body.page-trends table.fy-ait td.bb,
body.page-trends table.fy-ait th.bb,
body.page-trends-landing table.fy-ait tr.first-row td,
body.page-trends-landing table.fy-ait td.bb,
body.page-trends-landing table.fy-ait th.bb,
body.page-featuredtrends table.fy-ait tr.first-row td,
body.page-featuredtrends table.fy-ait td.bb,
body.page-featuredtrends table.fy-ait th.bb{
    border-bottom: 1px solid #5D96C8;
}
body.page-trends table.fy-ait + .dataTables_wrapper,
body.page-trends-landing table.fy-ait + .dataTables_wrapper,
body.page-featuredtrends table.fy-ait + .dataTables_wrapper{border-top:none;}

a.trends-export {
    background: url("../images/export.png") no-repeat scroll right 0 transparent;
    width: 70px;
    height:17px;
    cursor: pointer;
    position: absolute;
    top:-23px;
    right: 0px;
    padding-top:4px;
    color: #209AD6;
    font-weight: bold;
    text-transform: uppercase;
}

/* dollar styles */
/*td.number div.dollarItem {float:left; margin-left:12px;}*/
td.number div.dollarItem {float:left;}
/*body.page-trends-landing-trends td.number div.dollarItem, body.page-trends-node td.number div.dollarItem {float:left; margin-left:0;}
#table_353_wrapper td.number div.dollarItem {margin-left:20px;}*/
/*#table_353_wrapper td.number div.dollarItem,*/
/*#table_351_wrapper td.number div.dollarItem,*/
/*#table_360_wrapper td.number div.dollarItem,*/
/*#table_355_wrapper td.number div.dollarItem,*/
/*#table_401_wrapper td.number div.dollarItem,*/
/*#table_406_wrapper td.number div.dollarItem,*/
/*#table_404_wrapper td.number div.dollarItem {float:left; margin-left:0px;}*/
#table_392_wrapper td.number div.dollarItem {float:left; margin-left:-5px;}
#table_394_wrapper td.number div.dollarItem,
#table_347_wrapper td.number div.dollarItem {float:left; margin-left:0px;}
#table_399_wrapper td.number div.dollarItem {float:left; margin-left:95px;}
#table_316_wrapper td.number {width: 100px;}
#table_354_wrapper td.number {width: 100px;}
#table_400_wrapper td.number {width: 100px;}



/* 351 */
#table_351_wrapper .DTFC_LeftHeadWrapper tr:nth-child(1) > th:nth-child(1) .trendCen {margin-right:30px;}
#table_351_wrapper .DTFC_LeftHeadWrapper tr:nth-child(2) > th:nth-child(1) .trendCen {margin-right:35px;}
#table_351_wrapper tr:nth-child(1) > th:nth-child(1) .trendCen {margin-right:31px;}
#table_351_wrapper tr:nth-child(2) > th:nth-child(1) .trendCen {margin-right:45px;}
#table_351_wrapper tr:nth-child(2) > th:nth-child(2) .trendCen {margin-right:33px;}
#table_351_wrapper tr:nth-child(1) > th:nth-child(3) .trendCen {margin-right:24px;}
#table_351_wrapper tr:nth-child(1) > th:nth-child(4) .trendCen {margin-right:14px;}
#table_351_wrapper tr:nth-child(2) > th:nth-child(3) .trendCen {margin-right:45px;}
#table_351_wrapper tr:nth-child(2) > th:nth-child(4) .trendCen {margin-right:33px;}
#table_351_wrapper tr:nth-child(1) > th:nth-child(6) .trendCen {margin-right:29px;}
#table_351_wrapper .DTFC_LeftBodyWrapper tr > td:nth-child(1) .tdCen  {margin-right:36px;}
#table_351_wrapper tr > td:nth-child(1) .tdCen {margin-right:29px;}
#table_351_wrapper tr > td:nth-child(2) .tdCen {margin-right:32px;}
#table_351_wrapper tr > td:nth-child(3) .tdCen {margin-right:50px;}
#table_351_wrapper tr > td:nth-child(4) .tdCen {margin-right:37px;}
#table_351_wrapper tr > td:nth-child(5) .tdCen {margin-right:32px;}
#table_351_wrapper tr > td:nth-child(6) .tdCen {margin-right:29px;}
#table_351_wrapper tr > td:nth-child(7) .tdCen {margin-right:50px;}
#table_351_wrapper tr > td:nth-child(8) .tdCen {margin-right:37px;}

/* 353 */
#node-widget-353 h5,
#node-widget-353 h6{
    color: #2D4C68;
    margin: 10px 0px;
}
#node-widget-353 a.trends-export{top:40px;}
#table_353_wrapper .DTFC_LeftBodyWrapper tr > td:nth-child(3) div  {margin-right:52px;}
#table_353_wrapper td.text div{
    margin-left:10px
}
#node-widget-353 div.dollarItem{
    margin-left: 20px !important;
}

/* 355 */
#node-widget-355 a.trends-export{top:10px;}
#table_355_wrapper .DTFC_LeftHeadWrapper tr:nth-child(1) > th:nth-child(1) .trendCen {margin-right:28px;}
#table_355_wrapper tr:nth-child(1) > th:nth-child(1) .trendCen {margin-right:28px;}
#table_355_wrapper tr:nth-child(1) > th:nth-child(2) .trendCen {margin-right:36px;}
#table_355_wrapper tr:nth-child(1) > th:nth-child(3) .trendCen {margin-right:52px;}
#table_355_wrapper tr:nth-child(1) > th:nth-child(4) .trendCen {margin-right:48px;}
#table_355_wrapper tr:nth-child(1) > th:nth-child(5) .trendCen {margin-right:52px;}
#table_355_wrapper tr:nth-child(1) > th:nth-child(6) .trendCen {margin-right:44px;}
#table_355_wrapper tr:nth-child(1) > th:nth-child(7) .trendCen {margin-right:48px;}
#table_355_wrapper tr:nth-child(1) > th:nth-child(8) .trendCen {margin-right:51px;}
#table_355_wrapper tr:nth-child(1) > th:nth-child(9) .trendCen {margin-right:48px;}
#table_355_wrapper tr:nth-child(1) > th:nth-child(10) .trendCen {margin-right:29px;}
#table_355_wrapper tr:nth-child(1) > th:nth-child(11) .trendCen {margin-right:24px;}
#table_355_wrapper tr:nth-child(1) > th:nth-child(12) .trendCen {margin-right:42px;}
#table_355_wrapper tr:nth-child(1) > th:nth-child(13) .trendCen {margin-right:24px;}
#table_355_wrapper tr:nth-child(1) > th:nth-child(14) .trendCen {margin-right:23px;}
#table_355_wrapper .DTFC_LeftBodyWrapper tr > td:nth-child(1) .tdCen  {margin-right:36px;}
#table_355_wrapper tr > td:nth-child(1) .tdCen {margin-right:43px;}
#table_355_wrapper tr > td:nth-child(2) .tdCen {margin-right:51px;}
#table_355_wrapper tr > td:nth-child(3) .tdCen {margin-right:51px;}
#table_355_wrapper tr > td:nth-child(4) .tdCen {margin-right:46px;}
#table_355_wrapper tr > td:nth-child(5) .tdCen {margin-right:43px;}
#table_355_wrapper tr > td:nth-child(6) .tdCen {margin-right:46px;}
#table_355_wrapper tr > td:nth-child(7) .tdCen {margin-right:46px;}
#table_355_wrapper tr > td:nth-child(8) .tdCen {margin-right:51px;}
#table_355_wrapper tr > td:nth-child(9) .tdCen {margin-right:51px;}
#table_355_wrapper tr > td:nth-child(10) .tdCen {margin-right:46px;}
#table_355_wrapper tr > td:nth-child(11) .tdCen {margin-right:46px;}
#table_355_wrapper tr > td:nth-child(12) .tdCen {margin-right:51px;}
#table_355_wrapper tr > td:nth-child(13) .tdCen {margin-right:47px;}
#table_355_wrapper tr > td:nth-child(14) .tdCen {margin-right:43px;}

#node-widget-355,#node-widget-404,#node-widget-395, #node-widget-406 h5{
    color: #2D4C68;
}

/* 359 */
#table_359_wrapper tr:nth-child(1) > th:nth-child(1) .trendCen {margin-right:62px;}
#table_359_wrapper tr:nth-child(3) > th:nth-child(1) .trendCen {margin-right:33px;}
#table_359_wrapper tr:nth-child(3) > th:nth-child(2) .trendCen {margin-right:29px;}
#table_359_wrapper tr:nth-child(3) > th:nth-child(3) .trendCen {margin-right:47px;}
#table_359_wrapper tr:nth-child(3) > th:nth-child(4) .trendCen {margin-right:56px;}
#table_359_wrapper tr > td:nth-child(1) .tdCen {margin-right:63px;}
#table_359_wrapper tr > td:nth-child(2) .tdCen {margin-right:62px;}
#table_359_wrapper tr > td:nth-child(3) .tdCen {margin-right:67px;}
#table_359_wrapper tr > td:nth-child(5) .tdCen {margin-right:58px;}
#table_359_wrapper tr > td:nth-child(6) .tdCen {margin-right:58px;}

/* 360 */
body.page-trends-landing-trends-node-360 h1#page-title,
body.page-trends-node h1#page-title{
    width: 850px;
}
#table_360_wrapper tr:nth-child(1) > th:nth-child(1) .trendCen {margin-right:28px;}
#table_360_wrapper tr:nth-child(1) > th:nth-child(2) .trendCen {margin-right:36px;}
#table_360_wrapper tr:nth-child(2) > th:nth-child(1) .trendCen {margin-right:43px; }
#table_360_wrapper tr:nth-child(2) > th:nth-child(2) .trendCen {margin-right:35px;}
#table_360_wrapper tr:nth-child(2) > th:nth-child(3) .trendCen {margin-right:27px;}
#table_360_wrapper tr:nth-child(1) > th:nth-child(4) .trendCen {margin-right:35px;}
#table_360 tr > td:nth-child(1) .tdCen {margin-right:34px;}
#table_360 tr > td:nth-child(2) .tdCen {margin-right:43px;}
#table_360 tr > td:nth-child(3) .tdCen {margin-right:70px;}
#table_360 tr > td:nth-child(4) .tdCen {margin-right:73px;}
#table_360 tr > td:nth-child(5) .tdCen {margin-right:73px;}
#table_360 tr > td:nth-child(6) .tdCen {margin-right:68px;}

/* 395 */
body.page-trends-node-395 #page-title,
body.page-trends-landing-trends-node-395 #page-title {
    display: none;
}
body.page-trends-landing-trends-node-395 #zone-content{
    /*margin-top:15px;*/
}
#node-widget-395 #page-titleSpecial{margin-bottom: 7px;}
#node-widget-395 a.trends-export{top:45px;}
#table_395_wrapper tr:nth-child(1) > th:nth-child(1) .trendCen {margin-right:20px; }
#table_395_wrapper tr:nth-child(1) > th:nth-child(2) .trendCen {margin-right:17px;}
#table_395_wrapper tr:nth-child(1) > th:nth-child(3) .trendCen {margin-right:18px;}
#table_395_wrapper tr:nth-child(1) > th:nth-child(4) .trendCen {margin-right:17px;}
#table_395_wrapper tr:nth-child(2) > th:nth-child(1) .trendCen {margin-right:25px;}
#table_395_wrapper tr:nth-child(2) > th:nth-child(2) .trendCen {margin-right:19px;}
#table_395_wrapper tr:nth-child(2) > th:nth-child(3) .trendCen {margin-right:16px;}
#table_395_wrapper tr:nth-child(1) > th:nth-child(6) .trendCen {margin-right:20px;}
#table_395_wrapper tr:nth-child(1) > th:nth-child(7) .trendCen {margin-right:22px; }
#table_395_wrapper tr:nth-child(1) > th:nth-child(8) .trendCen {margin-right:21px;}
#table_395_wrapper tr > td:nth-child(1) .tdCen {margin-right:27px;}
#table_395_wrapper tr > td:nth-child(2) .tdCen {margin-right:25px;}
#table_395_wrapper tr > td:nth-child(3) .tdCen {margin-right:30px;}
#table_395_wrapper tr > td:nth-child(4) .tdCen {margin-right:25px;}
#table_395_wrapper tr > td:nth-child(5) .tdCen {margin-right:37px;}
#table_395_wrapper tr > td:nth-child(6) .tdCen {margin-right:30px;}
#table_395_wrapper tr > td:nth-child(7) .tdCen {margin-right:15px;}
#table_395_wrapper tr > td:nth-child(8) .tdCen {margin-right:38px;}
#table_395_wrapper tr > td:nth-child(9) .tdCen {margin-right:39px;}
#table_395_wrapper tr > td:nth-child(10) .tdCen {margin-right:42px;}

/* 396 */
#table_396_wrapper tr:nth-child(2) > th:nth-child(1) .trendCen {margin-right:79px;}
#table_396_wrapper tr:nth-child(2) > th:nth-child(2) .trendCen {margin-right:51px;}
#table_396_wrapper tr:nth-child(2) > th:nth-child(3) .trendCen {margin-right:52px; }
#table_396_wrapper tr:nth-child(2) > th:nth-child(4) .trendCen {margin-right:64px;}
#table_396_wrapper tr:nth-child(2) > th:nth-child(5) .trendCen {margin-right:52px;}
#table_396_wrapper tr > td:nth-child(1) .tdCen {margin-right:80px;}
#table_396_wrapper tr > td:nth-child(2) .tdCen {margin-right:61px;}
#table_396_wrapper tr > td:nth-child(3) .tdCen {margin-right:78px;}
#table_396_wrapper tr > td:nth-child(4) .tdCen {margin-right:68px;}
#table_396_wrapper tr > td:nth-child(5) .tdCen {margin-right:78px;}

/* 397 */
#table_397_wrapper tr:nth-child(2) > th:nth-child(1) .trendCen {margin-right:141px;}
#table_397_wrapper tr:nth-child(2) > th:nth-child(2) .trendCen {margin-right:121px;}
#table_397_wrapper tr:nth-child(2) > th:nth-child(3) .trendCen {margin-right:138px;}
#table_397_wrapper tr > td:nth-child(1) .tdCen {margin-right:143px;}
#table_397_wrapper tr > td:nth-child(2) .tdCen {margin-right:146px;}
#table_397_wrapper tr > td:nth-child(3) .tdCen {margin-right:135px;}

/* 398 */
#table_398_wrapper td.number div.dollarItem{
    margin-left:10px;
}
#table_398_wrapper .DTFC_LeftHeadWrapper tr:nth-child(1) > th:nth-child(1) .trendCen {margin-right:30px;}
#table_398_wrapper tr:nth-child(1) > th:nth-child(1) .trendCen {margin-right:31px; }
#table_398_wrapper tr:nth-child(1) > th:nth-child(2) .trendCen {margin-right:31px;}
#table_398_wrapper tr:nth-child(1) > th:nth-child(3) .trendCen {margin-right:31px;}
#table_398_wrapper tr:nth-child(1) > th:nth-child(4) .trendCen {margin-right:31px;}
#table_398_wrapper tr:nth-child(1) > th:nth-child(5) .trendCen {margin-right:15px;}
#table_398_wrapper tr:nth-child(1) > th:nth-child(6) .trendCen {margin-right:6px;}
#table_398_wrapper tr:nth-child(1) > th:nth-child(7) .trendCen {margin-right:27px;}
#table_398_wrapper tr:nth-child(1) > th:nth-child(8) .trendCen {margin-right:18px;}
#table_398_wrapper tr:nth-child(1) > th:nth-child(9) .trendCen {margin-right:4px; }
#table_398_wrapper .DTFC_LeftBodyWrapper tr > td:nth-child(1) .tdCen {margin-right:36px;}
#table_398_wrapper tr > td:nth-child(1) .tdCen {margin-right:27px;}
#table_398_wrapper tr > td:nth-child(2) .tdCen {margin-right:27px;}
#table_398_wrapper tr > td:nth-child(3) .tdCen {margin-right:27px;}
#table_398_wrapper tr > td:nth-child(4) .tdCen {margin-right:27px;}
#table_398_wrapper tr > td:nth-child(5) .tdCen {margin-right:27px;}
#table_398_wrapper tr > td:nth-child(6) .tdCen {margin-right:23px;}
#table_398_wrapper tr > td:nth-child(7) .tdCen {margin-right:30px;}
#table_398_wrapper tr > td:nth-child(8) .tdCen {margin-right:23px;}
#table_398_wrapper tr > td:nth-child(9) .tdCen {margin-right:35px;}
#node-widget-398 td.class-name{width:75px;}

/* 399 */
#table_399_wrapper tr:nth-child(1) > th:nth-child(1) .trendCen {margin-right:98px;}
#table_399_wrapper tr:nth-child(1) > th:nth-child(2) .trendCen {margin-right:70px;}
#table_399_wrapper tr:nth-child(1) > th:nth-child(3) .trendCen {margin-right:125px;}
#table_399_wrapper tr:nth-child(1) > th:nth-child(4) .trendCen {margin-right:84px;}
#table_399_wrapper tr > td:nth-child(1) .tdCen {margin-right:105px;}
#table_399_wrapper tr > td:nth-child(2) .tdCen {margin-right:72px;}
#table_399_wrapper tr > td:nth-child(3) .tdCen {margin-right:147px;}
#table_399_wrapper tr > td:nth-child(4) .tdCen {margin-right:89px;}

/* 400 */
#table_400_wrapper .dataTables_scroll .dataTable th div,#table_400_wrapper .dataTables_scroll .dataTable td div{margin-left:0px;}
#table_400_wrapper .dataTables_scroll .dataTable th:first-child div, #table_400_wrapper .dataTables_scroll .dataTable td.text:first-child div{margin-left:0px;}
#table_400_wrapper tr:nth-child(2) > th .thAssess {margin-right:11px;}
#table_400_wrapper tr:nth-child(2) > th .thPercent {margin-right:13px;}
#table_400_wrapper tr:nth-child(2) > th .thDirect {margin-right:30px;}
#table_400_wrapper tr > td .tdCen {margin-right:29px;}

/* 404 */
body.page-trends-landing-trends-node-404 #page-title {
    display: none;
}
body.page-trends-node-404 #page-title {
    display: none;
}
#node-widget-404 a.trends-export{top:40px;}
#table_404_wrapper .DTFC_LeftHeadWrapper tr:nth-child(1) > th:nth-child(1) .trendCen {margin-right:55px;}
#table_404_wrapper .DTFC_LeftHeadWrapper tr:nth-child(2) > th:nth-child(1) .trendCen {margin-right:60px; }
#table_404_wrapper tr:nth-child(1) > th:nth-child(1) .trendCen {margin-right:44px;}
#table_404_wrapper tr:nth-child(1) > th:nth-child(2) .trendCen {margin-right:44px;}
#table_404_wrapper tr:nth-child(1) > th:nth-child(3) .trendCen {margin-right:44px;}
#table_404_wrapper tr:nth-child(1) > th:nth-child(4) .trendCen {margin-right:52px;}
#table_404_wrapper tr:nth-child(1) > th:nth-child(5) .trendCen {margin-right:42px;}
#table_404_wrapper tr:nth-child(1) > th:nth-child(6) .trendCen {margin-right:53px; }
#table_404_wrapper tr:nth-child(2) > th:nth-child(1) .trendCen {margin-right:36px;}
#table_404_wrapper tr:nth-child(2) > th:nth-child(2) .trendCen {margin-right:33px;}
#table_404_wrapper tr:nth-child(2) > th:nth-child(3) .trendCen {margin-right:45px;}
#table_404_wrapper tr:nth-child(1) > th:nth-child(8) .trendCen {margin-right:47px;}
#table_404_wrapper tr:nth-child(1) > th:nth-child(9) .trendCen {margin-right:43px; }
#table_404_wrapper tr:nth-child(1) > th:nth-child(10) .trendCen {margin-right:29px; }
#table_404_wrapper .DTFC_LeftBodyWrapper tr > td:nth-child(1) .tdCen {margin-right:61px; }
#table_404_wrapper tr > td:nth-child(1) .tdCen {margin-right:61px;}
#table_404_wrapper tr > td:nth-child(2) .tdCen {margin-right:61px;}
#table_404_wrapper tr > td:nth-child(3) .tdCen {margin-right:61px;}
#table_404_wrapper tr > td:nth-child(4) .tdCen {margin-right:61px;}
#table_404_wrapper tr > td:nth-child(5) .tdCen {margin-right:57px;}
#table_404_wrapper tr > td:nth-child(6) .tdCen {margin-right:57px;}
#table_404_wrapper tr > td:nth-child(7) .tdCen {margin-right:41px;}
#table_404_wrapper tr > td:nth-child(8) .tdCen {margin-right:60px;}
#table_404_wrapper tr > td:nth-child(9) .tdCen {margin-right:41px;}
#table_404_wrapper tr > td:nth-child(10) .tdCen {margin-right:69px;}
#table_404_wrapper tr > td:nth-child(11) .tdCen {margin-right:57px;}
#table_404_wrapper tr > td:nth-child(12) .tdCen {margin-right:52px;}

/* 406 */
#table_406_wrapper tr:nth-child(1) > th:nth-child(1) .trendCen {margin-right:97px;}
#table_406_wrapper tr:nth-child(1) > th:nth-child(2) .trendCen {margin-right:78px;}
#table_406_wrapper tr:nth-child(1) > th:nth-child(3) .trendCen {margin-right:59px;}
#table_406_wrapper tr:nth-child(1) > th:nth-child(4) .trendCen {margin-right:79px;}
#table_406_wrapper tr > td:nth-child(1) .tdCen {margin-right:104px;}
#table_406_wrapper tr > td:nth-child(2) .tdCen {margin-right:98px;}
#table_406_wrapper tr > td:nth-child(3) .tdCen {margin-right:99px;}
#table_406_wrapper tr > td:nth-child(4) .tdCen {margin-right:101px;}

#node-widget-406 h5 {
    margin-bottom: 10px;
}

#node-widget-406 .trends-export{
    top: 0;
}

/* 420 */
#node-widget-420 h5{
    color: #2D4C68;
    margin: 5px 0px;
    line-height:22px;
}
#node-widget-420 td.number div.dollarItem{
    margin-left:7px;
}
#node-widget-420 a.trends-export{top:23px;}
#table_420_wrapper .DTFC_LeftHeadWrapper tr:nth-child(1) > th:nth-child(1) .trendCen {margin-right:30px;}
#table_420_wrapper .DTFC_LeftHeadWrapper tr:nth-child(2) > th:nth-child(1) .trendCen {margin-right:35px; }
#table_420_wrapper tr:nth-child(1) > th:nth-child(1) .trendCen {margin-right:18px;}
#table_420_wrapper tr:nth-child(1) > th:nth-child(2) .trendCen {margin-right:18px;}
#table_420_wrapper tr:nth-child(1) > th:nth-child(3) .trendCen {margin-right:29px;}
#table_420_wrapper tr:nth-child(1) > th:nth-child(4) .trendCen {margin-right:26px;}
#table_420_wrapper tr:nth-child(1) > th:nth-child(5) .trendCen {margin-right:16px;}
#table_420_wrapper tr:nth-child(1) > th:nth-child(6) .trendCen {margin-right:27px; }
#table_420_wrapper tr:nth-child(2) > th:nth-child(1) .trendCen {margin-right:15px;}
#table_420_wrapper tr:nth-child(2) > th:nth-child(2) .trendCen {margin-right:13px;}
#table_420_wrapper tr:nth-child(2) > th:nth-child(3) .trendCen {margin-right:25px;}
#table_420_wrapper tr:nth-child(1) > th:nth-child(8) .trendCen {margin-right:21px;}
#table_420_wrapper tr:nth-child(1) > th:nth-child(9) .trendCen {margin-right:17px; }
#table_420_wrapper .DTFC_LeftBodyWrapper tr > td:nth-child(1) .tdCen {margin-right:36px; }
#table_420_wrapper tr > td:nth-child(1) .tdCen {margin-right:27px;}
#table_420_wrapper tr > td:nth-child(2) .tdCen {margin-right:27px;}
#table_420_wrapper tr > td:nth-child(3) .tdCen {margin-right:23px;}
#table_420_wrapper tr > td:nth-child(4) .tdCen {margin-right:27px;}
#table_420_wrapper tr > td:nth-child(5) .tdCen {margin-right:35px;}
#table_420_wrapper tr > td:nth-child(6) .tdCen {margin-right:23px;}
#table_420_wrapper tr > td:nth-child(7) .tdCen {margin-right:21px;}
#table_420_wrapper tr > td:nth-child(8) .tdCen {margin-right:21px;}
#table_420_wrapper tr > td:nth-child(9) .tdCen {margin-right:16px;}
#table_420_wrapper tr > td:nth-child(10) .tdCen {margin-right:35px;}
#table_420_wrapper tr > td:nth-child(11) .tdCen {margin-right:27px;}


#table_358_wrapper .number.sorting_disabled sup,
#table_358_wrapper .number > div {text-transform: lowercase;}
