.idea/
source/webapp/.buildpath
source/webapp/.project
source/webapp/.settings/.jsdtscope
source/webapp/.settings/org.eclipse.php.core.prefs
source/webapp/.settings/org.eclipse.php.debug.core.Debug_Process_Preferences.prefs
source/webapp/.settings/org.eclipse.wst.jsdt.ui.superType.container
source/webapp/.settings/org.eclipse.wst.jsdt.ui.superType.name
source/webapp/sites/all/modules/custom/checkbook_advanced_search/includes/ConfigUtility.php
source/tests/unit/reports
source/tests/functional/NYCAutomationTest\ExampleExcel20180515104306.xls
source/tests/functional/NYCAutomationTest\ExampleExcel20180515104808.xls
source/tests/functional/NYCAutomationTest\ExampleExcel20180515115755.xls
*.xls