<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

  <style type="text/css">
    body {
      font-family: Roboto;
      font-size: 12px;
    }

    table {
      border: #ccc 1px dotted;
      margin-left: auto;
      margin-right: auto;
    }

    table.status {
      font-size: larger;
      background: #ddd;
    }

    table.status th, table.status td {
      text-align: center;
    }

    thead tr.header th, tbody th.env {
      text-transform: uppercase;
      background: #3c6e95;
      color: #fff;
    }

    table.dbconnections tr.header th, table.dbconnections th.env {
      background: #8e9eac;
    }

    thead tr.filename th {
      color: darkred;
      text-align: right;
    }

    tbody tr.even {
      background: #ddd;
    }

    tbody tr.odd {
      background: #eee;
    }

    footer {
      border-top: 1px #2d5879 solid;
      text-align: center;
    }

    a:link, footer a:visited {
      color: #5b5b5b;
      text-decoration: none;
    }

    footer table {
      border: 0;
    }

    table.sample-data {
      margin: 10px;
    }
    table.sample-data, table.sample-data tr, table.sample-data td, table.sample-data th{
      background: #fefefe !important;
      font-size:smaller;
      margin-left: auto;
      margin-right: auto;
    }
    .ref-filename{
      display: inline-block;
      margin-bottom: 3%;
    }
  </style>

</head>
<body text="#5b5b5b">

<header>
  <table bgcolor="2d5879" width="100%">
    <tr align="center">
      <td width="50%"></td>
      <td width="400">
        <a href="https://checkbooknyc.com/">
          <img alt="CheckbookNYC logo" title="CheckbookNYC"
               src="https://www.checkbooknyc.com/themes/custom/nyccheckbook/images/logo.png"/><br/>
        </a>
      </td>
      <td width="50%"></td>
    </tr>
  </table>
</header>

<main>
  <br/>
  <br/>
  <table class="status">
   {{ CheckbookApiRefTabel(message)}}

  </table>

  <br/>
  <br/>
</main>

<footer>
  {{ CheckbookApiRefFooter | raw }}
</footer>

</body>

</html>
