.addtoany_list {
  display: inline-block;
  width: 100px;
  margin-top: 12px;
  margin-right: 3px;
}

.newwindow .addtoany_list {
  display: none;
}

.addtoany_list > a {
  padding: 0 2px 0 1px;
}

.a2a_svg {
  border-radius: 0 !important;
}

.addtoany_share .a2a_svg {
  background-color: rgb(255, 101, 80) !important;
}

.a2a_button_twitter .a2a_svg {
  background-color: rgb(29, 161, 242) !important;
}

.a2a_button_facebook .a2a_svg {
  background-color: rgb(59, 89, 152) !important;
}

.a2a_button_linkedin .a2a_svg {
  background-color: rgb(0, 119, 181) !important;
}

.a2a_button_email .a2a_svg {
  background-color: rgb(132, 132, 132) !important;
}
