<link href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css" rel="stylesheet" />
<a class="use-ajax"
   data-dialog-options="{&quot;width&quot;:855}"
   data-dialog-type="modal"
   href={{ '/'~search_route }}>
  <div>{{ search_label }}</div>
</a>
