.search-results {
  list-style: none;
}


#spending-transactions .grid-3,
#contract-details .grid-3,
#budget-transactions .grid-3,
#revenue-transactions .grid-3,
#payroll-transactions .grid-3,
#nycha-contracts-transactions .grid-3,
#nycha-spending-transactions .grid-3,
#nycha-budget-transactions .grid-3,
#nycha-revenue-transactions .grid-3,
.page-node div.filter-content,
.page-smart-search .smart-search-right{
  border: 1px solid #CACACA;
  padding-bottom: 10px;
  width: 222px;
  float: left;
  margin-right: 18px;
  margin-top: 32px;
}
#payroll-transactions .grid-3{
  margin-top: 47px;
}
#spending-transactions .grid-3{
  margin-top: 47px;
}
#contract-details .grid-3{
  margin-top: 30px;
}
#nycha-contracts-transactions .grid-3,
#nycha-spending-transactions .grid-3,
#nycha-budget-transactions .grid-3,
#nycha-revenue-transactions .grid-3
{
  margin-top: 47px;
}

.grid-3 .narrow-down-title,
.smart-search-right .narrow-down-title{
  color: #2E2E2E;
  text-align: left;
  background-color: #E9E9E9;
  border-bottom: 1px solid #CACACA;
  padding: 10px;
  font-size: 12px;
  text-transform: uppercase;
  /* */
  height: 38px;
  line-height: 15px;
}
div.filter-content {
  padding-top: 5px;
}
div.filter-content.disabled{
  margin-top: 0;
  padding-top: 0;
}
div.filter-content-fdomainName,
div.filter-content-fagencyName,
div.filter-content-fvendorName,
div.filter-content-fexpenseCategoryName,
div.filter-content-fyear{
  position: relative;
}
div.filter-content-fdomainName div.options{
  max-height: none;
}
.grid-3 div.filter-title,
.page-node div.filter-title,
.smart-search-right div.filter-title{
  background-color: #e9e9e9;
  border: 0.1px solid #cacaca;
  color: #2e2e2e;
  font-size: 12px;
  font-weight: bold;
  /* NYCCHKBK-12958 - defect #5 - fix issue with facet title - changing from 8px 8px 8px 7px  */
  padding: 8px;
  margin: 0 3px;
  text-align: left;
  text-transform: uppercase;
  cursor:pointer;
}
.grid-3 div.autocomplete,
.page-node div.autocomplete{
  padding: 10px 10px 0 10px;
}
.grid-3 div.autocomplete input,
.page-node div.autocomplete input,
.smart-search-right div.autocomplete input{
  width: 100%;
  height: 25px;
}
.grid-3 div.options,
.page-node div.options,
.smart-search-right div.options {
  max-height: 200px;
  overflow: auto;
  margin-top: 5px;
  margin-right: 3px;
}

.smart-search-right div.options {
  margin-right: 0;
}

.grid-3 div.options::-webkit-scrollbar,
.page-node div.options::-webkit-scrollbar,
.smart-search-right div.options::-webkit-scrollbar {
  width: 4px;
}

.grid-3 div.options::-webkit-scrollbar-button,
.page-node div.options::-webkit-scrollbar-button,
.smart-search-right div.options::-webkit-scrollbar-button {
  display: none;
}

.grid-3 div.options::-webkit-scrollbar-track-piece,
.page-node div.options::-webkit-scrollbar-track-piece,
.smart-search-right div.options::-webkit-scrollbar-track-piece {
  background-color: #e7e7e7;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

.grid-3 div.options::-webkit-scrollbar-thumb,
.page-node div.options::-webkit-scrollbar-thumb,
.smart-search-right div.options::-webkit-scrollbar-thumb {
  background-color: #737373;
  border-radius: 16px;
  min-height: 30px;
}

.filter-content-domain div.options {
  max-height: none !important;
}

.grid-3 div.row,
.page-node div.row,
.smart-search-right div.row{
  padding: 7px 10px 0 10px;
  min-height: 18px;
  box-sizing: content-box;
}
.grid-3 div.row:hover,
.page-node div.row:hover,
.smart-search-right div.row:hover{
  background-color:#eee !important;
}
/*.grid-3 div.row:nth-child(even),*/
/*.page-node div.row:nth-child(even),*/
/*.smart-search-right div.row:nth-child(even){*/
/*  background-color:#fafafa;*/
/*}*/
.grid-3 div.checkbox,
.grid-3 div.name,
.grid-3 div.number,
.page-node div.checkbox,
.page-node div.name,
.page-node div.number,
.smart-search-right div.checkbox,
.smart-search-right div.name,
.smart-search-right div.number{
  display: inline-block;
  vertical-align: top;
}

.grid-3 div.checkbox,
.page-node div.checkbox,
.smart-search-right div.checkbox{
  /* padding: 0 5px 0 0; */
  /* text-align: left; */
  /* width: 19px; */
  margin-top: -1px;
}
.grid-3 div.checkbox input,
.page-node div.checkbox input,
.smart-search-right div.checkbox input{
  /* vertical-align: baseline; */
}
.grid-3 div.name,
.page-node div.name,
.smart-search-right div.name{
  text-align: left;
  padding: 0 1px;
  max-width: 105px;
  text-transform: uppercase;
  cursor: pointer;
  word-break: break-word;
  position: relative;
  top: -1px;
}
.grid-3 div.number,
.page-node div.number,
.smart-search-right div.number{
  text-align: right;
  width: 60px;
  float: right;
  padding-top: 2px;
}
.grid-3 div.number span,
.page-node div.number span,
.smart-search-right div.number span{
  background: #F0F0F0;
  border-radius: 2px;
  padding: 2px;
}
.grid-3 div.number span.active,
.page-node div.number span.active,
.smart-search-right div.number span.active{
  background: #209ad6;
  color: #FFFFFF;
}
.mCSB_container{
  margin-right: 0;
}
.mCustomScrollBox .mCSB_scrollTools{
  width: 10px;
}
#spending-transactions .grid-3 .panel-separator,
#contract-details .grid-3 .panel-separator{
  margin: 0;
  border: none;
}
#spending-transactions .grid-3 .node-widget .content,
#spending-transactions div.node-widget,
#contract-details .grid-3 .node-widget .content,
#contract-details div.node-widget{
  margin:0;
}
.grid-3 .progress,
.page-node .progress,
.smart-search-right .progress{
  background: url(/themes/custom/nyccheckbook/images/loading.gif) no-repeat;
  display: none;
  position: absolute;
  left: 30px;
  top: 10px;
  height: 16px;
  width: 16px;
  text-align: center;
}

.grid-3 .progress {
  top: -22px;
}

.search-results .title{
  margin-top: 7px;
}

.smart-search-left {
  /* height: 18px; */
  float: left;
  width: 700px;
}

.smart-search-left .pager{
  display: contents;
  display: block;
  /* adds room for the spinner */
  width: 93%;
  float: right;
  margin-bottom:6px;
}

/* Only the first instance gets the block. This supports spinner placement.*/

.smart-search-left > .pager ~ .pager {
  display: block;
}

.smart-search-left .loading{
  background: url(/themes/custom/nyccheckbook/images/loading.gif) no-repeat;
  display: none;
  position: relative;
  top: 6px;
  height: 16px;
  width: 16px;
  text-align: center;
}
.sub-category{
  margin-left: 17px;
  width: 176px;
}
.sub-category div.subcat-filter-title{
  /* Causing indent on next line in smart search - padding: 5px 0 0 9px; */
  padding: 8px 0 0 0;
  font-size: 11px;
  color: #2e2e2e;
  text-transform: uppercase;
  font-weight: bold;
}
.sub-category div.options{
  font-size: 11px;
}
.sub-category div.row{
  margin: 5px 0 0 0;
  padding: 0;
  width: 180px;
}
.sub-category div.name{
  max-width: 90px;
}
.sub-category div.number{
  width: 62px;
}
.facet-content {
  margin-bottom: 20px;
  position: relative;
}

.facet-content label{
/*  all: unset;*/
  cursor: pointer;
}

.filter-title span{
  background:url("/modules/custom/jquery_plugins/images/arrow-down.png") no-repeat scroll 185px 3px transparent;
  cursor: pointer;
  display: block;
  padding-right: 31px;
}

.filter-title span.open{
  background-image:url("/modules/custom/jquery_plugins/images/arrow-up.png");
}

.smart-search-right div.disable_autocomplete{
  padding: 10px 10px 0 10px;
  width: 198px;
}

.smart-search-right div.disable_autocomplete input {
  opacity:0.5;
  width: 100%
}

/* Contract Includes Sub Vendors Facet */
#node-widget-921 div.name,
#node-widget-924 div.name,
#node-widget-926 div.name {
  max-width: 104px;
}
#node-widget-921 div.number,
#node-widget-924 div.number,
#node-widget-926 div.number {
  width: 67px;
}

/* Contract Id Facet */
#node-widget-922 div.name {
  max-width: 119px;
}
#node-widget-922 div.number {
  width: 11px;
}

/* Smart search facets ul:li */
.smart-search-right div.autocomplete{
  width:200px;
  margin-top:5px;
}
.smart-search-right .row:hover div{
  background-color:#eee !important;
}
.smart-search-right .row:hover div.name{
  font-weight:bolder;
}
.smart-search-right li.row{
  padding: 5px 0;
  width: 200px;
  clear: both;
}
.smart-search-right div.facet-content{
  padding-left: 10px;
  margin:0;
}
.smart-search-right ul.sub-category li.row{
  width: 182px;
}
.smart-search-right li.row div.checkbox{
  float: left;
  padding: 0 0 0 2px;
}

.smart-search-right li.row .facet-content label{
  background-color:green;
}

.smart-search-right li.row div.name{
  max-width: unset;
  display: flex;
  line-height: 13px;
  line-height: 11px;
}
.smart-search-right li.row div.number{
  width:unset;
  /* had been unset, but caused some text wrapping on smart search. */
  padding-top: unset;
}

.block-checkbook-transactions .contract-title,
.block-checkbook-transactions .title,
.block-widget-data-tables h2.contract-title {
  font-size: 28px;
}

.block-checkbook-transactions h2.contract-title,
.block-widget-data-tables h2.contract-title {
  width: 480px;
  text-align: left;
}

[about="/contract/transactions/contcat/expense/datasource/checkbook_oge"] h2.contract-title,
.node-widget-429 h2.contract-title {
  width: 550px;
}

[about="/nycha_spending/transactions"] h2.contract-title {
  width: 460px;
}

article[about="/payroll/employee/transactions/cy"] .block-checkbook-transactions h2.contract-title {
  width: 100%;
  text-align: center;
}

[about="/revenue/transactions/revenue_transactions"] {
  padding-top: 20px;
}

[about="/nycha_contracts/transactions"] h2.contract-title,
[about="/nycha_spending/transactions"] .contract-id,
[about="/contract/transactions/contcat/expense/datasource/checkbook_oge"] h2.contract-title,
[about="/revenue/transactions/revenue_transactions"] .layout--two_columns_39_stacked > .grid-row:first-child,
[about="/revenue/agency_details"] .layout--two_columns_39_stacked > .grid-row:first-child,
[about="/revenue/revcat_details"] .layout--two_columns_39_stacked > .grid-row:first-child,
[about="/revenue/fundsrc_details"] .layout--two_columns_39_stacked > .grid-row:first-child,
[about="/contract/transactions/contcat/revenue"] .layout--two_columns_39_stacked > .grid-row:first-child,
[about^="/contract/transactions/contcat/expense/dashboard"] .layout--two_columns_39_stacked > .grid-row:first-child {
  float: left;
  text-align: left;
}

[about="/revenue/transactions/revenue_transactions"] h2.contract-title,
[about="/revenue/agency_details"] h2.contract-title,
[about="/revenue/revcat_details"] h2.contract-title,
[about="/revenue/fundsrc_details"] h2.contract-title {
  margin-top: 0;
}

[about="/revenue/transactions/revenue_transactions"] h2.contract-title,
[about="/revenue/agency_details"] h2.contract-title,
[about="/revenue/revcat_details"] h2.contract-title,
[about="/revenue/fundsrc_details"] h2.contract-title,
[about^="/contract/transactions/contcat/expense/dashboard"] h2.contract-title {
  margin-bottom: 10px;
}

h2.page-payroll.contract-title {
  display: block;
  margin: 0 auto 15px;
  text-align: center;
}
[about="/payroll/payroll_title/transactions"] h2.page-payroll.contract-title {
  width: 100%;
}

.block-checkbook-transactions .narrow-down-title {
  color: #2E2E2E;
  text-align: left;
  background-color: #E9E9E9;
  border-top: 1px solid #CACACA;
  padding: 10px;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 46px;
}

.search-results .title {
  font-size: 1.2em;
  font-family: 'RobotoCondensed';
}

body.page-smart-search {
  color: #000;
}

body.page-smart-search .search-result-fields {
  width: 100%;
  margin-bottom: 10px;
  /* testing with expanded title. */
  margin-bottom: 6px;
}

body.page-smart-search .field-label {
  display: inline-block;
  margin-right: 20px;
  font-weight: bold;
  margin-top: 3px;
  margin-bottom: 3px;
}

body.page-smart-search .field-content {
  display: inline;
}

body.page-smart-search .search-results li {
  margin-bottom: 20px;
  border-bottom: 1px solid;
}

body.page-smart-search #smart-search-transactions {
  margin: 0 0 20px;
  font-weight: bold;
}
/*
Swapping this out to allow disabling.
body.page-smart-search .exportSmartSearch {
  top: 0px;
}
 */

body.page-smart-search .export {
  top: 3px;
}

body.page-smart-search .export .ui-dialog-content {
  position: static;
}

body.page-smart-search .export #loading_gif {
  background-color: rgba(255,255,255,0.5);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: auto;
  height: auto;
}

body.page-smart-search .export.clicked {
  pointer-events: none;
  opacity: 0.5;
}

.facet-content input[type=checkbox] {
  display: none;
}

.facet-content input[type=checkbox] + label:before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  vertical-align: middle;
  margin-right: 8px;
  background-color: #fff;
  box-shadow: inset 0 0 1px rgb(0 0 0 / 77%);
  border-radius: 4px;
}

.facet-content input[type=checkbox]:checked:enabled + label:before {
  color: white;
  background-color: #209AD6;
  background-image: url(/themes/custom/nyccheckbook/images/check_white.png);
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  line-height: 15px;
  text-shadow: 0px 0px 3px #eee;
  box-shadow: none;
}

/* Checked & Disabled */
.facet-content input[type=checkbox]:checked:disabled + label:before {
  background-image: url(/themes/custom/nyccheckbook/images/check_grey.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-color: #eee;
  text-align:center;
  line-height:15px;
  text-shadow:0px 0px 3px #eee;
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.77) inset;
}

.sub-category input[type="radio"] {
  margin-top: 1px;
  margin-right: 7px;
  margin-left: -1px;
}

.facet-content .checkbox label {
  margin-right: -2px;
}

.smart-search-right + .search-filters {
  display: none;
}

.search-filters #filter-header,
.search-filters ul {
  display: block;
  float: left;
}

.search-filters #filter-header {
  margin-top: 6px;
}

.search-filters ul {
  margin: 0;
  padding: 0;
}

.search-filters ul li {
  background: none repeat scroll 0 0 #EEEEEE;
  border: 1px solid #AAAAAA;
  border-radius: 3px 3px 3px 3px;
  list-style: none outside none;
  margin-bottom: 7px;
  margin-right: 20px;
  padding: 2px 5px;
  text-transform: capitalize;
  display: block;
  float: left;
  clear: none;
}

.search-filters ul li .search-terms {
  position: relative;
  top: -2px;
}

.search-filters ul li.clear-all {
  padding-top: 6px;
  padding-bottom: 4px;
}

.search-filters ul li img {
  vertical-align: bottom;
}

[about="/contract/search/transactions/datasource/checkbook_oge"] h2.contract-title {
  width: 550px;
}
