/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* line 2, ../scss/checkbook-alpha-default-narrow.scss */
body {
  overflow-x: hidden;
}

/* Layout */
#page {
  width: 720px;
}

#region-sidebar-second {
  margin-top: 64px;
}

.logged-in #region-sidebar-second {
  margin-top: 87px;
}

/* Header */
#zone-branding-wrapper {
  background: url("../images/header-bg.png") repeat-x;
  height: 104px;
}
#zone-branding-wrapper .logo-img {
  margin-top: 21px;
}
#zone-branding-wrapper .comptroller {
  float: right;
  margin-top: 21px;
}

/* Filters */
#region-filters {
	width: 720px;
}

/* Agency Dropdown */
.listContainer1 {
  height: 280px;
}

.agency-list-content {
	height: 310px;
  width: 720px;
}

/* Smart Search */
.smart-search-pager .pager .pager-item {
  display: none;
}

/* Postscript */
#zone-postscript-wrapper li {
  list-style: disc;
}

/* Menu */
#zone-menu .region-menu {
  width: 720px;
}
/* Highcharts Slider */
#node-chart-21,
#node-chart-259,
#node-chart-260,
#node-chart-261,
#node-chart-284,
#node-chart-288,
#node-chart-290,
#node-chart-293,
#node-chart-296,
#node-chart-297,
#node-chart-365,
#node-chart-364,
#node-chart-436{
	width: 700px !important;	
}

/* Footer */
#zone-footer .block-menu {
  display: none;
}
#zone-footer .block-quickmenu {
  display: block;
}

/* Transactions Pages */
.page-payroll-employee-transactions #node-widget-318 .content > table {
  //height: 360px;
}