/* This file will hold styles that are loaded using the same media query as the normal grid. */
/* line 2, ../scss/checkbook-alpha-default-normal.scss */
/* body {
  overflow-x: hidden;
}
*/
/* Layout */
#page {
  width: 960px;
}
#region-sidebar-second {
  margin-top: 64px;
}

.logged-in #region-sidebar-second {
  margin-top: 87px;
}

/* Header */
#zone-branding-wrapper {
    background: #2e4e70; /* Old browsers */
    background: -moz-linear-gradient(top,  #2e4e70 0%, #34587d 12%, #34587d 21%, #284461 88%, #233a53 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#2e4e70), color-stop(12%,#34587d), color-stop(21%,#34587d), color-stop(88%,#284461), color-stop(100%,#233a53)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #2e4e70 0%,#34587d 12%,#34587d 21%,#284461 88%,#233a53 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #2e4e70 0%,#34587d 12%,#34587d 21%,#284461 88%,#233a53 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #2e4e70 0%,#34587d 12%,#34587d 21%,#284461 88%,#233a53 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #2e4e70 0%,#34587d 12%,#34587d 21%,#284461 88%,#233a53 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e4e70', endColorstr='#233a53',GradientType=0 ); /* IE6-9 */
    height: 48px;
}
#zone-branding-wrapper .comptroller {
  float: right;
  margin-top: 5px;
}

/* Menu */
#zone-menu .region-menu {
  width: 960px;
}

/* Filters */
#region-filters {
	width: 960px;
}

/* Agency Dropdown */
.agency-list-content {
	height: 260px;
  width: 820px;
}
.listContainer1 {
  height: 230px;
}

/* Footer */
#section-footer {
  background: url("../images/footer-top-bg.png") no-repeat transparent;
}

#zone-footer .block-menu {
  display: inline-block;
  margin: 0 19px 0 0;
}
#zone-footer .block-quickmenu {
  display: none;
}

/* Widgets */
#contract-filters .records-select select {
  clear: none;
  display: inline;
  width: 25%;
}

/* Highcharts Slider */
.highcharts-wrapper,
.highstock-wrapper{
	width: 800px;
    line-height: normal;
    margin: 0 auto;
}
#nyc-revenue .highcharts-wrapper,
#nyc-revenue .highstock-wrapper,
#nyc-budget .highcharts-wrapper,
#nyc-budget .highstock-wrapper{
    width:auto;
}
#node-chart-339{
    width: 460px;
}
#featured-trends .highcharts-wrapper,
#featured-trends .highstock-wrapper{
    width:940px;
}