.inline-block {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.no-wrap {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  white-space: normal;
  word-wrap: break-word;
}
/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* Menu */
ul.nice-menu {
  width: auto;
}
ul.nice-menu li,
ul.nice-menu-down li.menuparent {
  display: inline;
  float: left;
}
ul.nice-menu li a,
ul.nice-menu-down li.menuparent a {
  float: left;
}
/* Smart Search */
.smart-search-pager .pager .pager-item {
  display: inline;
}
/* Advanced Search */
.form-item-spending-payee-name input,
.form-item-spending-contract-num input,
.form-item-spending-expense-id input,
.form-item-spending-unit input,
.form-item-spending-budget-code input,
.form-item-spending-capital-project input,
.form-item-spending-location select {
  width: 202px;
}
.form-item-spending-agencies select {
  width: 420px;
}
.form-item-spending-check-amount-from input,
.form-item-spending-check-amount-to input {
  width: 311px;
}
/*#checkbook-advanced-search-form .container-inline-date input {
  width: 284px;
}*/
#spending-advanced-search .form-item,
#payroll-advanced-search .form-item,
#budget-advanced-search .form-item,
#revenue-advanced-search .form-item {
  margin: 0 0;
}
/*#spending-advanced-search .form-item .form-item input,
#payroll-advanced-search .form-item .form-item input,
#budget-advanced-search .form-item .form-item input,
#revenue-advanced-search .form-item .form-item input {
  width: 85px;
}*/
/* Data Tables */
#dialog .dataTables_scroll {
  border-right: #ccc 1px solid;
}
/* Transactions Pages */
.page-payroll-employee-transactions #node-widget-318 .content > table {
  height: 230px;
}
/* Individual Trends datatables */
/* Datatables with one sidebar */
/* Highcharts */
body.page-featuredtrends-node .node-widget .content,
body.page-trends-node .node-widget .content,
body.page-trends-landing-trends-node .node-widget .content{
    position: relative;
}
.trends-export {
    position: absolute;
    cursor: pointer;
    color: #209AD6;
    right: 0;
    top:0;
    font-size: 12px;
    width: 70px;
    text-transform: uppercase;
    font-weight: bold;
    background: url("../images/export.png") no-repeat right 0;
    z-index:10;
}
.page-trends .trends-export,
.page-featuredtrends .trends-export,
.page-trends-landing .trends-export{
    top:-22px;
}
#node-widget-404 .trends-export,
#node-widget-355 .trends-export,
#node-widget-395 .trends-export{
    top:15px;
}
#node-widget-420 .trends-export{
    top:25px;
}
#node-widget-353 .trends-export{
    top:35px;
}
