.inline-block {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.no-wrap {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  white-space: normal;
  word-wrap: break-word;
}
/* This file will hold styles that are loaded using the same media query as the wide grid. */
/* line 2, ../scss/checkbook-alpha-default-wide.scss */
body {
  overflow-x: hidden;
}
/* Layout */
#page {
  width: 1200px;
}
#region-sidebar-second {
  margin-top: 64px;
}
.logged-in #region-sidebar-second {
  margin-top: 87px;
}
/* Header */
#zone-branding-wrapper {
  background: url("../images/header-bg.png") repeat-x;
  height: 104px;
}
#zone-branding-wrapper .logo-img {
  margin-top: 21px;
}
#zone-branding-wrapper .logo-img img {
  width: 168px;
}
#zone-branding-wrapper .comptroller {
  float: right;
  margin-top: 21px;
}
/* Menu */
#zone-menu .region-menu {
  width: 1200px;
}
/* Filters */
#region-filters {
  width: 1200px;
}
/* Agency Dropdown */
.agency-list-content {
  height: 260px;
  width: 800px;
}
.listContainer1 {
  height: 230px;
}
/* Postscript */
#zone-postscript-wrapper li {
  list-style: disc;
}
/* Footer */
#section-footer {
  background: url("../images/footer-top-bg-wide.png") no-repeat transparent;
}
#zone-footer .block-menu {
  display: inline-block;
  margin: 0 59px 0 0;
}
#zone-footer .block-quickmenu {
  display: none;
}
/* Highcharts Slider */
/* Featured Trends */
#featured-trends .pane-node {
  padding: 18px 36px 0;
}
/* Highcharts */
/* Main chart */
/* Data Tables */
#block-system-main {
  /* Full width datatable with no fixed left side */

  /* datatable with fixed left side */

  /* No fixed left side, one sidebar */

  /* datatable with fixed left side, one sidebar */

}
/* Datatables in popup window */
