/* General DataTables styles*/
.dataTables_wrapper{
    position: relative;
    clear:both;
}
.dataTables_scroll{
    clear:both;
}
.dataTables_wrapper table{
    width: 100%;
    margin:0 auto;
    clear:both;
    border-right: 1px solid #CACACA;
    border-bottom: 1px solid #CACACA;
    border-left: 1px solid #CACACA;
}

.dataTables_wrapper th{
    background: #48759d; /* Old browsers */
    background: -moz-linear-gradient(top, #48759d 0%, #3f668f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #48759d), color-stop(100%, #3f668f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #48759d 0%, #3f668f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #48759d 0%, #3f668f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #48759d 0%, #3f668f 100%); /* IE10+ */
    background: linear-gradient(to bottom, #48759d 0%, #3f668f 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#48759d', endColorstr = '#3f668f', GradientType = 0); /* IE6-9 */
    color: #ffffff;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    vertical-align: middle;
    line-height: 1;
}


.dataTables_wrapper .dataTables_scrollBody th {
    background: none;
    filter: none;
    line-height: 1;
}
.dataTables_scrollHead table,
table#table_267,
td.childcontracts table,
table#table_411,
table#table_266,
table#table_398{
    border: none;
}

table.dataTable th.number{
    text-align: right;
}

table.dataTable th.centrig{
    text-align: center;
}

table.dataTable th.sorting span,
table.dataTable th.sorting_asc span,
table.dataTable th.sorting_desc span {
/*  breaking in trans table  padding-left: 15px; */
    position: relative;
}

table.dataTable th.sorting span {
    display: inline-block;
    cursor: pointer;
}
table.dataTable th.sorting_disabled span{
    display: inline-block;
}
table.dataTable th.sorting span:hover{
    text-decoration: underline;
}
table.dataTable th.sorting_asc span {
    background: url('../images/arrow-desc.png') no-repeat left center;
    display: inline-block;
    cursor: pointer;
}
table.dataTable th.sorting_asc span:hover{
    text-decoration: underline;
}
table.dataTable th.sorting_desc span {
    background: url('../images/arrow-asc.png') no-repeat left center;
    display: inline-block;
    cursor: pointer;
}
table.dataTable th.sorting_desc span:hover{
    text-decoration: underline;
}
table.dataTable tr.even,
table.dataTable tr.odd{
    border-bottom: none;
}

table.dataTable tr.even{
    background-color: #F8F8F8;
}

table.dataTable tr.odd{
    background-color: #FFFFFF;
}

table.dataTable td{
    text-transform: uppercase;
    vertical-align: middle;
    word-wrap: break-word;
    line-height: 1;
}

table.dataTable td.text{
    text-align: left;
    overflow: hidden;
}
table.dataTable td.text-sort{
    padding-left: 20px;
}
table.dataTable td.number{
    text-align: right;
}

.dataTables_wrapper .dataTables_paginate {
    text-align: center;
/*
    margin-bottom: 15px;
*/
}
.footnote {
  margin-top: 10px;
}

/*Contract ID Page overrides*/
#node-widget-424 table,
#node-widget-428 table,
#node-widget-427 table,
#node-widget-426 table,
table#table_395,
table#table_360,
table.chart-grid-view-table{
    width: 100%;
    margin-bottom: 0;
    border-right: 1px solid #CACACA;
    border-bottom: 1px solid #CACACA;
    border-left: 1px solid #CACACA;
}
#node-widget-424 table,
#node-widget-428 table,
#node-widget-427 table,
#node-widget-426 table{
    table-layout: fixed;
}
#node-widget-424 th,
#node-widget-428 th,
#node-widget-427 th,
#node-widget-426 th,
#table_395 th,
#table_360 th,
table.chart-grid-view-table th{
    background: #48759d; /* Old browsers */
    background: -moz-linear-gradient(top, #48759d 0%, #3f668f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #48759d), color-stop(100%, #3f668f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #48759d 0%, #3f668f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #48759d 0%, #3f668f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #48759d 0%, #3f668f 100%); /* IE10+ */
    background: linear-gradient(to bottom, #48759d 0%, #3f668f 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#48759d', endColorstr = '#3f668f', GradientType = 0); /* IE6-9 */
    color: #ffffff;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    vertical-align: middle;
}
#node-widget-424 th.centrig,
#node-widget-428 th.centrig,
#node-widget-427 th.centrig,
#node-widget-426 th.centrig,
#table_395 th.centrig,
#table_360 th.centrig,
table.chart-grid-view-table th.centrig,
table.chart-grid-view-table th.number{
    text-align: center;
}
#node-widget-424 tr.even,
#node-widget-424 tr.odd,
#node-widget-428 tr.even,
#node-widget-428 tr.odd,
#node-widget-427 tr.even,
#node-widget-427 tr.odd,
#node-widget-426 tr.even,
#node-widget-426 tr.odd,
#table_395 tr.even,
#table_395 tr.odd,
#table_360 tr.even,
#table_360 tr.odd,
table.chart-grid-view-table tr.even,
table.chart-grid-view-table th.odd{
    border-bottom: none;
}
#node-widget-424 tr.even,
#node-widget-428 tr.even,
#node-widget-427 tr.even,
#node-widget-426 tr.even,
#table_395 tr.even,
#table_360 tr.even,
table.chart-grid-view-table tr.even{
    background-color: #F8F8F8;
}
#node-widget-424 tr.odd,
#node-widget-428 tr.odd,
#node-widget-427 tr.odd,
#node-widget-426 tr.odd,
#table_395 tr.odd,
#table_360 tr.odd,
table.chart-grid-view-table tr.odd{
    background-color: #FFFFFF;
}
#node-widget-424 td,
#node-widget-428 td,
#node-widget-427 td,
#node-widget-426 td,
table.chart-grid-view-table td{
    text-transform: uppercase;
    vertical-align: middle;
}
#node-widget-424 td.text,
#node-widget-428 td.text,
#node-widget-427 td.text,
#node-widget-426 td.text,
#table_395 td.text,
#table_360 td.text,
table.chart-grid-view-table td.text{
    text-align: left;
}
#node-widget-424 td.number,
#node-widget-428 td.number,
#node-widget-427 td.number,
#node-widget-426 td.number,
#table_395 td.number,
#table_360 td.number,
table.chart-grid-view-table td.number{
    text-align: right;
}
#node-widget-424 table.sub-table,
#node-widget-428 table.sub-table,
#node-widget-427 table.sub-table,
#node-widget-426 table.sub-table{
    border:none;
}
#node-widget-427 table.sub-table thead tr,
#node-widget-426 table.sub-table thead tr{
    background-color: transparent;
}
#node-widget-424 table.sub-table th,
#node-widget-427 table.sub-table th,
#node-widget-426 table.sub-table th{
    background: none;
    filter:none;
    color:#336699;
    font: bold 12px 'RobotoCondensed';
}
#node-widget-424 table.sub-table tr.odd,
#node-widget-424 table.sub-table tr.even,
#node-widget-427 table.sub-table tr.odd,
#node-widget-427 table.sub-table tr.even,
#node-widget-426 table.sub-table tr.odd,
#node-widget-426 table.sub-table tr.even{
    background: transparent;
}
table#assoc_contracts_list{
    border:none;
    border-collapse: separate;
    border-spacing: 0 10px;
}
table#assoc_contracts_list > tbody > tr > td{
    border:1px solid #CACACA;
}
table#assoc_contracts_list tr{
    background-color: #FFFFFF;
}
#node-widget-428 tr.odd,
#node-widget-427 tr.odd,
#node-widget-426 tr.odd,
#table_395 tr.odd{
    background-color: #F8F8F8;
}
#node-widget-428 tr.even,
#node-widget-427 tr.even,
#node-widget-426 tr.even,
#table_395 tr.even{
    background-color: #FFFFFF;
}
.dataTables_paginate a{
    color:#366B9E;
    font-size:12px;
    font-weight: normal;
    cursor: pointer;
}
.dataTables_paginate a.paginate_active{
    color:#ffffff;
    font-weight: bold;
    background: url('/sites/all/themes/checkbook/images/pager-active-bg.png') repeat-x scroll 0 0 transparent;
    display: inline-block;
    height: 1em;
}
.dataTables_paginate a.paginate_button,
.dataTables_paginate a.paginate_active{
    margin-left:12px;
    padding:0.5em;
}
.dataTables_paginate a.paginate_button_disabled{
    color:#606060;
    text-decoration:none;
    cursor: default;
}
.dataTables_paginate a.first{
    margin-left: 0;
}

.dataTables_paginate .paginate_button {
    padding: 0.5em;
    cursor: pointer;
    display: inline-block;
}
.dataTables_paginate .paginate_button img{
    vertical-align: middle;
}
.paging_input input{
    display:inline;
    width:3em;
}
#table_267_wrapper table{
    table-layout: fixed;
}

/*Transactions Pages*/
table.dataTable td.childcontracts{
    padding:0;
    position: relative;
}
td.childcontracts div.sub-table-wrapper{
    height: 200px;
    overflow: auto;
    position: relative;
}
td.childcontracts table{
    table-layout:fixed;
}
div.sub-table-wrapper{
    margin-left: 5px;
}
td.childcontracts div.sub-table-wrapper .jspVerticalBar{
    left: 0;
}
.DTFC_ScrollWrapper table{
    border:none;
}
div#table_267_wrapper .dataTables_scroll,
div#table_411_wrapper .dataTables_scroll,
div#table_266_wrapper .dataTables_scroll{
    border-right: 1px solid #CACACA;
    border-bottom: 1px solid #CACACA;
    border-left: 1px solid #CACACA;
}


/* cleaning up --- hope this remove doesnt break another area */

/*
#node-widget-427 th,
#node-widget-427 td,
#node-widget-428 th,
#node-widget-428 td{
    width: 33%;
}
#node-widget-424 th,
#node-widget-424 td,
#node-widget-426 th,
#node-widget-426 td{
    width: 25%;
}
#node-widget-427 table.sub-table th,
#node-widget-427 table.sub-table td,
#node-widget-424 table.sub-table th,
#node-widget-424 table.sub-table td,
#node-widget-426 table.sub-table th,
#node-widget-426 table.sub-table td{
    width:auto;
}
*/

/*Trends Tables*/
.dataTables_scrollHead table,
table#table_399{
    border:none;
}
.dataTables_wrapper .ui-state-default,
.dataTables_wrapper .ui-widget-content .ui-state-default,
.dataTables_wrapper .ui-widget-header .ui-state-default{
    border: none;
}
.dataTables_wrapper .DTFC_ScrollWrapper{
    border-left: 1px solid #CACACA;
    border-bottom: 1px solid #CACACA;
    border-right: 1px solid #CACACA;
}
#table_399_wrapper .dataTables_scrollBody table{
    border-left: 1px solid #CACACA;
    border-right: 1px solid #CACACA;
}
#table_398_wrapper .dataTables_scrollBody,
#table_399_wrapper .dataTables_scrollBody{
    border-bottom: 1px solid #CACACA;
}
/*Trends Tables indenting*/
/* Moved these styles from td tags to the divs that the td tags contain*/
/*
table.dataTable.DTFC_Cloned td.highlight {
    color: #4c7ba3;
}
table.dataTable.DTFC_Cloned td {
    color: #676767;
}

table.dataTable.DTFC_Cloned td.level1 {
    padding-left: 10px;
}
table.dataTable.DTFC_Cloned td.level2 {
    padding-left: 20px;
}
table.dataTable.DTFC_Cloned td.level3 {
    padding-left: 30px;
}
table.dataTable.DTFC_Cloned td.level4 {
    padding-left: 40px;
}
table.dataTable.DTFC_Cloned td.level5 {
    padding-left: 50px;
}
table.dataTable.DTFC_Cloned td.level6 {
    padding-left: 60px;
}
table.dataTable.DTFC_Cloned td.level7 {
    padding-left: 70px;
}
table.dataTable.DTFC_Cloned td.level8 {
    padding-left: 80px;
}
table.dataTable.DTFC_Cloned td.level9 {
    padding-left: 90px;
}
table.dataTable.DTFC_Cloned td.level10 {
    padding-left: 100px;
}
*/
/*Alignment*/

table.dataTable th.forty span{
    width:40px;
}
table.dataTable th.forty-five span{
    width:45px;
}
table.dataTable th.fifty span{
    width:50px;
}
table.dataTable th.fifty-five span{
    width:55px;
}
table.dataTable th.sixty span{
    width:60px;    
}
table.dataTable th.sixty-five span{
    width:65px;
}
table.dataTable th.seventy span{
    width:70px;
}
table.dataTable th.seventy-five span{
    width:75px;
}
table.dataTable th.eighty span{
    /* width:80px; */
    width: auto;
}
table.dataTable th.eighty-five span{
    width:85px;
}
table.dataTable th.ninety span{
    width:90px;
}
table.dataTable th.ninety-five span{
    width:95px;
}
table.dataTable th.one-hundred span{
    width:100px;
}
table.dataTable th.one-fifteen span{
    width:115px;
}
table.dataTable th.one-twenty-five span{
    width:125px;
}
table.dataTable th.one-seventy-five span{
    width:175px;
}
table.dataTable th.no-padding-l {
    padding-left: 0;
}
table.dataTable td.five{
    padding-right:5px;
}
table.dataTable td.ten{
    padding-right:10px;
}
table.dataTable td.fourteen{
    padding-right:14px;
}
table.dataTable td.fifteen{
    padding-right: 15px;
}
table.dataTable td.sixteen{
    padding-right: 16px;
}
table.dataTable td.seventeen{
    padding-right: 17px;
}
table.dataTable td.eighteen{
    padding-right: 18px;
}
table.dataTable td.nineteen{
    padding-right: 19px;
}
table.dataTable td.twenty{
    padding-right: 20px;
}
table.dataTable td.twenty-one{
    padding-right: 21px;
}
table.dataTable td.twenty-two-data{
    padding-right: 22px;
}
table.dataTable td.twenty-two{
    padding-right: 22px;
}
table.dataTable td.twenty-three{
    padding-right: 23px;
}
table.dataTable td.twenty-four{
    padding-right: 24px;
}
table.dataTable td.twenty-five{
    padding-right: 25px;
}
table.dataTable td.twenty-six{
    padding-right: 26px;
}
table.dataTable td.twenty-eight{
    padding-right: 28px;
}
table.dataTable td.thirty{
    padding-right: 30px;
}
table.dataTable td.thirty-two{
    padding-right: 32px;
}
table.dataTable td.thirty-five{
    padding-right: 35px;
}
table.dataTable td.thirty-six{
    padding-right: 36px;
}
table.dataTable td.thirty-seven{
    padding-right: 37px;
}
table.dataTable td.thirty-eight{
    padding-right: 38px;
}
table.dataTable td.thirty-nine{
    padding-right: 39px;
}
table.dataTable td.forty{
    padding-right: 40px;
}
table.dataTable td.forty-two{
    padding-right: 42px;
}
table.dataTable td.forty-three{
    padding-right: 42px;
}
table.dataTable td.forty-five{
    padding-right: 45px;
}
table.dataTable td.forty-eight{
    padding-right: 48px;
}
table.dataTable td.forty-nine{
    padding-right: 49px;
}
table.dataTable td.fifty{
    padding-right: 50px;
}
table.dataTable td.sixty{
    padding-right: 60px;
}
table.dataTable td.sixty-five{
    padding-right: 65px;
}
table.dataTable td.fifty-five-data{
    padding-right: 55px;
}
table.dataTable td.sixty-data{
    padding-right: 60px;
}
table.dataTable td.seventy-data{
    padding-right: 70px;
}
table.dataTable td.ninety-data{
    padding-right: 90px;
}
table.dataTable td.hundred{
    padding-right: 100px;
}
table.dataTable td.one-ten{
    padding-right: 110px;
}
table.dataTable td.one-thirty{
    padding-right: 130px;
}
table.dataTable td.one-forty{
    padding-right: 140px;
}
table.dataTable td.one-sixty{
    padding-right: 160px;
}
table.dataTable td.one-eighty{
    padding-right: 180px;
}
table.dataTable td.two-hundred{
    padding-right: 200px;
}
table.dataTable td.two-hundred-25{
    padding-right: 225px;
}
table.dataTable td.centrig   {
    padding-right: 60px;
}
table.dataTable td.center-txt   {
    text-align: center;
}

table.dataTable th.hfive{
    padding-right:5px;
}
table.dataTable th.hten{
    padding-right:10px;
}
table.dataTable th.htwenty{
    padding-right:20px;
}

table.dataTable td.centrig.pop_0{
    padding-right: 50px;
}
table.dataTable td.centrig.pop_5{
    padding-right: 55px;
}
table.dataTable td.centrig.pop_15 {
    padding-right: 65px;
}

table.dataTable td.centrig.pop_20 {
    padding-right: 70px;
}

table.dataTable td.centrig.pop_25 {
    padding-right: 75px;
}

table.dataTable td.centrig.pop_30 {
    padding-right: 80px;
}

table.dataTable td.centrig.pop_35 {
    padding-right: 85px;
}

table.dataTable td.centrig.pop_40 {
    padding-right: 90px;
}

table.dataTable td.centrig.pop_45 {
    padding-right: 95px;
}

table.dataTable td.centrig.pop_50 {
    padding-right: 100px;
}

/* table grid view */

.chart-grid-view-table td.centrig.pop_20 {
  padding-right: 200px;
}

.chart-grid-view-table td.centrig {
  padding-right: 130px;
}
.chart-grid-view-table td.centrig.pop_10{
  padding-right:140px;
}
.chart-grid-view-table td.centrig.pop_20 {
  padding-right: 150px;
}
td.centrig.pop_40 {
    padding-right: 90px;
}

table#table_21 td,
table#table_332 td,
table#table_324 td,
table#table_331 td,
table#table_491 td,
table#table_492 td,
table#table_494 td,
table#table_495 td,
table#table_365 td,
table#table_452 td,
table#table_451 td,
table#table_455 td,
table#table_456 td,
table#table_457 td,
table#table_460 td,
table#table_458 td,
table#table_459 td{
    width:33%;
}


/* Section setting widths on data tables
   Trends Data Tables*/

div#table_398_wrapper div.dataTables_scrollHeadInner table
{
   table-layout: fixed !Important;
}

.dataTables_scrollHeadInner {
  background: #48759D;
  background: -moz-linear-gradient(top,#48759D 0%,#3F668F 100%);
  background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#48759D),color-stop(100%,#3F668F));
  background: -webkit-linear-gradient(top,#48759D 0%,#3F668F 100%);
  background: -o-linear-gradient(top,#48759D 0%,#3F668F 100%);
  background: -ms-linear-gradient(top,#48759D 0%,#3F668F 100%);
  background: linear-gradient(to bottom,#48759D 0%,#3F668F 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#48759d',endColorstr = '#3f668f',GradientType = 0);
}

div#table_398_wrapper div.dataTables_scrollBody table
{
   table-layout: fixed !Important;
}
div#table_485_wrapper table,
div#table_411_wrapper table,
div#table_488_wrapper table,
div#table_266_wrapper table,
div#table_6_wrapper table,
div#table_477_wrapper table{
    table-layout: fixed !important;
}
/* Pocessing animation */

.dataTables_processing {
  width:24px;
  height:24px;
  position: absolute;
  right: 0px;
  top: -30px;
}

.page-trends-node-404 #page-title:after {
  position: relative;
  top: -8px;
  color: #6D6D6D;
  font-size: 18px;
  left: 2px;
}


/* Custom padding for all data tables*/
/* contracts */
/* headers */
table.dataTable th.awdmthd div.center{
    padding-left: 3px;
}
table.dataTable th.camnt div.center{
    padding-right: 2px;
}
table.dataTable th.oamnt div.center{
    padding-right: 3px;
}
table.dataTable th.spnttodt div.center{
    padding-right: 10px;
}
table.dataTable th.cid div.center{
    padding-left: 25px;
}
table.dataTable th.fmspcid div.center{
    padding-left: 12px;
}
table.dataTable th.cpurpose div.center{
    padding-left: 3px;
}
table th.agname div.center{
    padding-left: 18px;
}
table.dataTable th.agname2 div.center{
    padding-left: 5px;
}
table.dataTable th.cdept div.center{
    padding-left: 18px;
}
table.dataTable th.venname div.center{
    padding-left: 7px;
}
table.dataTable th.ddiff div.center{
    padding-right: 12px;
}
table.dataTable th.pdiff div.center{
    padding-right: 10px;
}
table.dataTable th.csize div.center{
    padding-left: 15px;
}
table.dataTable th.ctype div.center{
    padding-left: 15px;
}
table.dataTable th.stdate div.center{
    padding-left: 5px;
}
table.dataTable th.regdate div.center{
    padding-left: 25px;
}
table.dataTable th.spnttodt{
    padding-right: 15px;
}
table.dataTable th.docid div.center{
    padding-left: 25px;
}
table.dataTable th.expcat div.center{
    padding-left: 4px;
}
table.dataTable th.caproj div.center{
    padding-left:2px;
}
table.dataTable th.exptype div.center{
    padding-left: 10px;
}
table.dataTable th.noofmod div.center{
    padding-left: 10px;
}
table.dataTable th.regdt div.center{
    padding-left: 20px;
}
table.dataTable th.lastmoddt div.center{
    padding-left: 20px;
}
table.dataTable th.status div.center{
    padding-left: 4px;
}
table.dataTable th.fyear div.center{
    padding-left: 4px;
}
table.dataTable th.eamount div.center{
    padding-right: 10px;
}
table.dataTable th.samount div.center{
    padding-right: 5px;
}
table.dataTable th.nooftrans div.center{
    padding-right: 7px;
}
table.dataTable th.docid div.center{
    padding-right: 10px;
}
table.dataTable th.expcat div.center{
    padding-right: 5px;
}
table.dataTable th.camount div.center{
    padding-right: 5px;
}

/** Payroll Landing Pages **/
table.dataTable th.pragname div.center{
    padding-left: 6px;
}
table.dataTable td.pragname{
    padding-left: 12px;
}
table.dataTable th.prgross div.center{
    padding-right: 6px;
}
table.dataTable th.prnoofemp div.center{
    padding-right: 0px;
}
table.dataTable td.prnoofemp{
    padding-right: 30px;
}
table.dataTable th.prsalemp div.center{
    padding-right: 25px;
}
table.dataTable td.prsalemp{
    padding-right: 55px;
}
table.dataTable th.prnonsalemp div.center{
    padding-right: 40px;
}
table.dataTable td.prnonsalemp{
    padding-right: 75px;
}
table.dataTable th.provertime div.center{
    padding-right: 17px;
}
table.dataTable td.provertime{
    padding-right: 25px;
}
table.dataTable th.prtitle div.center{
    padding-left: 2px;
}
table.dataTable td.prtitle{
    padding-left: 8px;
}
table.dataTable th.prannual div.center{
    padding-right: 2px;
}
table.dataTable th.prbase div.center{
    padding-right: 10px;
}
table.dataTable th.prother div.center{
    padding-right: 27px;
}
table.dataTable td.prother{
    padding-right: 25px;
}
/* payroll */
/* headers */

table.dataTable th.civiltitle div.center{
    padding-left: 10px;
}
table.dataTable th.payfreq div.center{
    padding-left: 25px;
}
table.dataTable th.grspay div.center{
    padding-right: 7px;
}
table.dataTable th.grspayytd div.center{
    padding-right: 5px;
}
table.dataTable th.basepay div.center{
    padding-right: 5px;
}
table.dataTable th.otherpay div.center{
    padding-right: 7px;
}
table.dataTable th.annsal div.center{
    padding-right: 3px;
}
table.dataTable th.paydate div.center{
    padding-left: 3px;
}
table.dataTable th.hourrate div.center{
    padding-right: 8px;
}
/*end payroll th*/
/*** Spending Header Alignments on Landing Pages ***/



/***********************************/
/* HOPE THIS DOESNT BREAK ANYTHING */
/***********************************/
/*
table.dataTable th.spagname div.center{
    padding-left: 6px;
}
table.dataTable th.spdeptname div.center{
    padding-left: 20px;
}
table.dataTable th.spamount div.center{
    padding-right: 19px;
}
table.dataTable td.spamount{
    padding-right: 15px;
}
table.dataTable th.spvenamount div.center{
    padding-right: 19px;
}
table.dataTable td.spvenamount{
    padding-right: 10px;
}
table.dataTable th.spcontamount div.center{
    padding-right: 19px;
}
table.dataTable td.spcontamount{
    padding-right: 19px;
}
table.dataTable td.x{
    padding-right: 30px;
}
table.dataTable th.spexpcat div.center{
    padding-left: 3px;
}
table.dataTable th.payee div.center{
    padding-left: 2px;
}
table.dataTable th.issuedate div.center{
    padding-left: 2px;
}
*/
/* td */
/*
table.dataTable td.ctnum{
    padding-right: 35px;
}

table.dataTable td.spnttodt{
    padding-right: 15px;
}
table.dataTable td.ddiff{
    padding-right: 15px;
}
table.dataTable td.pdiff{
    padding-right: 15px;
}

table.dataTable td.last{
    padding-right: 15px;
}

table.dataTable th.last{
    padding-right: 15px;
}
table.dataTable td.fy-three{
    padding-right: 130px;
}
table.dataTable td.fy-four{
    padding-right: 90px;
}
table.dataTable td.numcont{
    padding-right: 135px;
}
table.dataTable td.contamt{
    padding-right:130px;
}
table.dataTable td.amt{
    padding-right:90px;
}
table.dataTable td.version{
    padding-right: 30px;
}
table.dataTable td.percent{
    padding-right: 22px;
}
table.dataTable td.ckamt{
    padding-right:35px;
}
table.dataTable td.version{
    padding-right:20px;
}
table.dataTable td.incrdicr{
    padding-right:25px;
}
table.dataTable td.eamount{
    padding-right:20px;
}
table.dataTable td.trends-year{
    padding-right:73px;
}
table.dataTable td.trends-us{
    padding-right: 55px;
}
table.dataTable td.trends-percentchg{
    padding-right: 73px;
}
table.dataTable td.trends-cny{
    padding-right: 65px;
}
table.dataTable td.trends-public-year{
    padding-right: 135px;
}
table.dataTable td.trends-public-assistance{
    padding-right: 145px;
}
table.dataTable td.trends-ssi{
    padding-right: 135px;
}
table.dataTable td.bonded{
    padding-right: 105px;
}
table.dataTable td.pledged-interest{
    padding-right: 40px;
}
table.dataTable td.pledged-principal{
    padding-right: 40px;
}
table.dataTable td.pledged-total{
    padding-right: 35px;
}
table.dataTable td.emp-nyce{
    padding-right: 65px;
}
table.dataTable td.emp-nycu{
    padding-right: 70px;
}
table.dataTable td.emp-nycep{
    padding-right: 60px;
}
table.dataTable td.emp-nycup{
    padding-right: 60px;
}
*/
/*Trends overrides*/
/*
.page-trends .dataTables_wrapper th,
#table_360 th,
#table_397 th,
#table_395 th,
#table_396 th{
    background:none;
    filter:none;
}
.page-trends .DTFC_LeftHeadWrapper,
.page-trends-landing .DTFC_LeftHeadWrapper,
.page-featuredtrends .DTFC_LeftHeadWrapper,
#table_360 thead,
#table_397 thead,
#table_395 thead,
#table_396 thead{
    background: #48759D;
    background: -moz-linear-gradient(top,#48759D 0%,#3F668F 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#48759D),color-stop(100%,#3F668F));
    background: -webkit-linear-gradient(top,#48759D 0%,#3F668F 100%);
    background: -o-linear-gradient(top,#48759D 0%,#3F668F 100%);
    background: -ms-linear-gradient(top,#48759D 0%,#3F668F 100%);
    background: linear-gradient(to bottom,#48759D 0%,#3F668F 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#48759d',endColorstr = '#3f668f',GradientType = 0);
}
.page-trends .dataTables_wrapper th,
.page-trends-landing .dataTables_wrapper th,
.page-featuredtrends .dataTables_wrapper th{
    background:none;
    filter:none;
}
#table_399 th,
#table_406 th{
    background: #48759D;
    background: -moz-linear-gradient(top,#48759D 0%,#3F668F 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#48759D),color-stop(100%,#3F668F));
    background: -webkit-linear-gradient(top,#48759D 0%,#3F668F 100%);
    background: -o-linear-gradient(top,#48759D 0%,#3F668F 100%);
    background: -ms-linear-gradient(top,#48759D 0%,#3F668F 100%);
    background: linear-gradient(to bottom,#48759D 0%,#3F668F 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#48759d',endColorstr = '#3f668f',GradientType = 0);
}
*/
#table_399_wrapper table{
    border-right: 1px solid #CACACA;
    border-bottom: 1px solid #CACACA;
    border-left: 1px solid #cacaca;
}
body.page-trends-landing-trends-node-404 #page-title{
	display:none;
}
body.page-trends-node-404 #page-title{
	display:none;
}

body.page-trends-landing-trends-node-395 #page-title{
	display:none;
}
body.page-trends-node-395 #page-title{
	display:none;
}
.DTFC_LeftWrapper tr th{
    border:0;
}
tr.first-row td,
td.bb,
th.bb{
    border-bottom: 1px solid #5d96c8;
}
th.bb{
    border-bottom: 1px solid #5d96c8;
}
#table_359_wrapper tr.third-row{
    border-top: 1px solid #5d96c8;
}
.dataTables_scrollBody tr.first-row,
.dataTables_scrollBody tr.third-row{
    border:0;
}
table.fy-ait{
    width:100%;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color:#ffffff;
    border-left: 1px solid #CACACA;
    border-right: 1px solid #CACACA;
    background: #48759D;
    background: -moz-linear-gradient(top,#48759D 0%,#3F668F 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#48759D),color-stop(100%,#3F668F));
    background: -webkit-linear-gradient(top,#48759D 0%,#3F668F 100%);
    background: -o-linear-gradient(top,#48759D 0%,#3F668F 100%);
    background: -ms-linear-gradient(top,#48759D 0%,#3F668F 100%);
    background: linear-gradient(to bottom,#48759D 0%,#3F668F 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#48759d',endColorstr = '#3f668f',GradientType = 0);
}
body.page-trends table.dataTable td,
body.page-featuredtrends table.dataTable td,
body.page-trends-landing table.dataTable td{
    line-height: 1.5;
}
/*Trends sScrollX column fix*/
div#table_316_wrapper table,
div#table_347_wrapper table,
div#table_353_wrapper table,
div#table_354_wrapper table,
div#table_355_wrapper table,
div#table_357_wrapper table,
div#table_358_wrapper table,
div#table_359_wrapper table,
div#table_392_wrapper table,
div#table_393_wrapper table,
div#table_394_wrapper table,
div#table_396_wrapper table,
div#table_397_wrapper table,
div#table_398_wrapper table,
div#table_401_wrapper table,
div#table_404_wrapper table,
div#table_405_wrapper table,
div#table_406_wrapper table,
div#table_407_wrapper table,
div#table_420_wrapper table
{
    table-layout: fixed;
}
th.fake-center-top{
    vertical-align: bottom;
    padding-bottom:0;
    padding:20px 0 0 0;
    text-align: center;
}
th.fake-center-bottom{
    vertical-align: top;
    padding:0 0 20px 0;
    text-align: center;
}

/* sup issues in scrolling tables */
td.sup6 {background: url('../images/sup6.png') no-repeat 109px 0px transparent;}
td.sup2 {background: url('../images/sup2.png') no-repeat 112px 0px transparent;}
td.sup1 {background: url('../images/sup1.png') no-repeat 55px 0px transparent;}


/* new table solution */
th.text div {text-align:center; float:left;}
th.number div{text-align:center; float:right;}
td.number div{text-align:right; float:right;}
td.text div{text-align:left; float:left;}

.dataTable th div{margin:8px 0px 8px 5px;}
.dataTable td div{margin:13px 0px 13px 5px;}
.dataTable th:first-child div{margin:8px 0px 8px 15px;}
.dataTable td:first-child.text div{margin:13px 0px 13px 15px;}
table.initiative-table td:first-child.text div{margin-left:33px;}
.dataTable  td.expander div{margin:0px;}
.dataTable  td.childcontracts  div{margin:0px;}
#table_267_wrapper td.childcontracts td.text div,
#table_485_wrapper td.childcontracts td.text div
{margin:13px 0px 13px 20px;}

#table_267_wrapper td.childcontracts td.text-sort2 div,
#table_485_wrapper td.childcontracts td.text-sort2 div{
    margin-left: 35px;
}
#table_267_wrapper td.childcontracts td.no-sort div,
#table_485_wrapper td.childcontracts td.no-sort div{
    margin: 13px 0px 13px 10px;
}

/* centers the headers of the trends tables, PM requested that they be right aligned for the time being */
/*.page-trends-landing th div{margin:0px 0px 0px 0px; float:none; margin:0px auto;}*/

/*.dataTable  td.childcontracts  div.jspScrollable{margin:0px;}
.dataTable  td.childcontracts  div.jspContainer{margin:0px;}
.dataTable  td.childcontracts  div.jspPane{margin:0px;}*/
.dataTable th,.dataTable td,.dataTable tr{padding:0px 0px 0px 0px; margin:0px 0px 0px 0px;}

.tableFooter {margin:0px; padding:6px 0px 0px 0px;}
table.dataTable th.sorting span,
table.dataTable th.sorting_asc span,
table.dataTable th.sorting_desc span {
    padding-left: 15px;
    position: relative;
}
table.dataTable th.text-sort2 div,
table.dataTable td.text-sort2 div{
    margin-left: 18px;
}
body.page-gridview .dataTable th:first-child div, body.page-gridview .dataTable td:first-child div {
    margin: 8px 0 8px 5px;    
}
.expandCollapseWidget {margin-right:5px;}

table.dataTable th.colFips:first-child div, table.dataTable td.colFips:first-child div{margin: 8px 25px 8px -10px;}

/*api landingPages styles */
.api-center {width:565px; margin:0px auto 20px auto;}
.field-item .ui-table th {background: linear-gradient(to bottom, #48759D 0%, #3F668F 100%) repeat scroll 0 0 transparent; color:#fff; font-weight:bold}
#node-page-466 h3, #node-page-483 h3, #node-page-304 h3{font-size:14px;}
.api-bullet-table ul{margin-left:10px; list-style-type:disc;}

.dataTable th.fiscalYear:first-child div{margin-left:0px; text-align:center;}
.dataTable td.fiscalYear:first-child div{float:none; text-align:center;} 

/* 
=============================================
#############################################
### START OF CONTARCT DETAIL PAGES STYLES ###
#############################################
=============================================
 */

/*widget details display*/

#contract-transactions{margin:0px 19px 0px 19px;}
#contract-transactions .dollar-amounts {width:auto;float:right;}
#contract-transactions .contract-id{width:auto;float:left;}
#contract-transactions .contract-details{width:550px;}
#contract-transactions .contract-vendor-details{width:320px}
table#assoc_contracts_list td.assoc_item{padding: 13px 21px 13px 13px;}
table#assoc_contracts_list div{padding:0px; margin:0px;}
table#assoc_contracts_list span{padding:0px; margin:0px;}
.node-widget table#assoc_contracts_list span.toggler{height:13px; width:13px; margin-right:13px;}
table#assoc_contracts_list table.dataTable div{margin: 8px 0px 8px 5px;}
table#assoc_contracts_list td.assoc_item .node-widget{margin-left:8px;}

table#assoc_contracts_list th.endCol div, table#assoc_contracts_list td.endCol div {margin:8px 5px 8px 0px}

table#assoc_contracts_list table.cta-spending-history div.scroll,
table#assoc_contracts_list table.cta-history div.scroll{
    max-height: 200px;
    overflow: auto;
    margin:0 0 0 20px;
    border-top: 1px dotted #cacaca;
}
#node-widget-427 tr.showHide td,
#node-widget-426 tr.showHide td,
#node-widget-424 tr.showHide td{
    padding:10px 5px;
}
#node-widget-427 table.sub-table th,
#node-widget-427 table.sub-table td{
    padding:8px 0 0 0;
}
#node-widget-427 table.sub-table th.number div{
    margin-right: 46px;
}
#node-widget-427 table.sub-table td.number div{
    margin-right: 40px;
}

/* 
============================================
############################################
### END OF CONTRACTS DETAIL PAGES STYLES ### 
############################################
============================================
*/

table.dataTable.DTFC_Cloned .highlight {
    color: #4c7ba3;
}
table.dataTable.DTFC_Cloned .level1 {
    padding-left: 0px;
}
table.dataTable.DTFC_Cloned .level2 {
    padding-left: 10px;
}
table.dataTable.DTFC_Cloned .level3 {
    padding-left: 20px;
}
table.dataTable.DTFC_Cloned .level4 {
    padding-left: 30px;
}
table.dataTable.DTFC_Cloned .level5 {
    padding-left: 40px;
}
table.dataTable.DTFC_Cloned .level6 {
    padding-left: 50px;
}
table.dataTable.DTFC_Cloned .level7 {
    padding-left: 60px;
}
table.dataTable.DTFC_Cloned .level8 {
    padding-left: 70px;
}
table.dataTable.DTFC_Cloned .level9 {
    padding-left: 80px;
}
table.dataTable.DTFC_Cloned .level10 {
    padding-left: 90px;
}
table.chart-grid-view-table{
    table-layout: fixed;
}

th.endCol div,
td.endCol div{
    margin-right:15px;
}
.dataTables_scrollHead table,
.DTFC_LeftHead table{
    border:none;
}

table.dataTable td.dataTables_empty{
    padding: 13px 21px 13px 13px;
    font-size:14px;
    color:#1F82C9;
    text-transform: none;
}

/* highcharts issues */
.highcharts-wrapper #no-records {width:800px;}



/* issues of not enough padding between cells */
#table_317_wrapper tr > th:nth-child(5){padding-left:10px;}
#table_317_wrapper tr > td:nth-child(5){padding-left:10px;}

#table_330_wrapper tr > th:nth-child(1){padding-right:10px;}
#table_330_wrapper tr > td:nth-child(1){padding-right:10px;}





/* 
===========================
###########################
### TRENDS TABLE STYLES ### 
###########################
===========================
*/
/* strange cases */
.page-featuredtrends .clearfix h3, .page-trends-landing .clearfix h3{ margin-bottom: 0px;}
.page-featuredtrends #page-title2, .page-trends-landing  #page-title2 {
	color: #3C5E7C;
    font-family: 'RobotoCondensed';
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 0;
}
.page-featuredtrends #page-title, .page-trends-landing #page-title {
	color: #3C5E7C;
    font-family: 'RobotoCondensed';
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 0;
}
.page-featuredtrends h1, .page-trends-landing h1 {width:850px;}

.dataTables_wrapper th.rowspan2Bot div{margin-top:0px;}
.dataTables_wrapper th.rowspan2Bot{
background: #446d96; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ0NmQ5NiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0ODc0OWQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #446d96 0%, #3f668f 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#446d96), color-stop(100%,#3f668f)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #446d96 0%,#3f668f 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #446d96 0%,#3f668f 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #446d96 0%,#3f668f 100%); /* IE10+ */
background: linear-gradient(to bottom,  #446d96 0%,#3f668f 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#446d96', endColorstr='#3f668f',GradientType=0 ); /* IE6-8 */
vertical-align:top;

}
.dataTables_wrapper th.rowspan2Top div{margin-bottom: 0px;}
.dataTables_wrapper th.rowspan2Top{
    background: #48759d; /* Old browsers */
    background: -moz-linear-gradient(top, #48759d 0%, #446d96 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #48759d), color-stop(100%, #446d96)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #48759d  0%, #446d96 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #48759d 0%, #446d96 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #48759d 0%, #446d96 100%); /* IE10+ */
    background: linear-gradient(to bottom, #48759d 0%, #446d96 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#48759d', endColorstr = '#446d96', GradientType = 0); /* IE6-9 */
vertical-align:bottom;
}





/* dollar styles */
td.number div.dollarItem {float:left; margin-left:5px;}
#table_355_wrapper	td.number div.dollarItem {float:left; margin-left:30px;}
#table_406_wrapper	td.number div.dollarItem {float:left; margin-left:75px;}
#table_404_wrapper	td.number div.dollarItem {float:left; margin-left:40px;}
#table_360	td.number div.dollarItem {float:left; margin-left:50px;}
#table_399_wrapper	td.number div.dollarItem {float:left; margin-left:95px;}

/* 351 */
#table_351_wrapper .DTFC_LeftHeadWrapper tr:nth-child(1) > th:nth-child(1) .trendCen {margin-right:30px;}
#table_351_wrapper .DTFC_LeftHeadWrapper tr:nth-child(2) > th:nth-child(1) .trendCen {margin-right:35px;}
#table_351_wrapper tr:nth-child(1) > th:nth-child(1) .trendCen {margin-right:31px;}
#table_351_wrapper tr:nth-child(2) > th:nth-child(1) .trendCen {margin-right:45px;}
#table_351_wrapper tr:nth-child(2) > th:nth-child(2) .trendCen {margin-right:33px;}
#table_351_wrapper tr:nth-child(1) > th:nth-child(3) .trendCen {margin-right:24px;}
#table_351_wrapper tr:nth-child(1) > th:nth-child(4) .trendCen {margin-right:14px;}
#table_351_wrapper tr:nth-child(2) > th:nth-child(3) .trendCen {margin-right:45px;}
#table_351_wrapper tr:nth-child(2) > th:nth-child(4) .trendCen {margin-right:33px;}
#table_351_wrapper tr:nth-child(1) > th:nth-child(6) .trendCen {margin-right:29px;}

#table_351_wrapper .DTFC_LeftBodyWrapper tr > td:nth-child(1) .tdCen  {margin-right:36px;}
#table_351_wrapper tr > td:nth-child(1) .tdCen {margin-right:29px;}
#table_351_wrapper tr > td:nth-child(2) .tdCen {margin-right:32px;}
#table_351_wrapper tr > td:nth-child(3) .tdCen {margin-right:50px;}
#table_351_wrapper tr > td:nth-child(4) .tdCen {margin-right:37px;}
#table_351_wrapper tr > td:nth-child(5) .tdCen {margin-right:32px;}
#table_351_wrapper tr > td:nth-child(6) .tdCen {margin-right:29px;}
#table_351_wrapper tr > td:nth-child(7) .tdCen {margin-right:50px;}
#table_351_wrapper tr > td:nth-child(8) .tdCen {margin-right:37px;}

/* 353 */
#table_353_wrapper .DTFC_LeftHeadWrapper tr:nth-child(1) > th:nth-child(1) .trendCen {margin-right:26px;}
#table_353_wrapper .DTFC_LeftBodyWrapper tr > td:nth-child(1) .tdCen  {margin-right:22px;}


/* 355 */
#table_355_wrapper .DTFC_LeftHeadWrapper tr:nth-child(1) > th:nth-child(1) .trendCen {margin-right:28px;}
#table_355_wrapper tr:nth-child(1) > th:nth-child(1) .trendCen {margin-right:28px;}
#table_355_wrapper tr:nth-child(1) > th:nth-child(2) .trendCen {margin-right:36px;}
#table_355_wrapper tr:nth-child(1) > th:nth-child(3) .trendCen {margin-right:52px;}
#table_355_wrapper tr:nth-child(1) > th:nth-child(4) .trendCen {margin-right:48px;}
#table_355_wrapper tr:nth-child(1) > th:nth-child(5) .trendCen {margin-right:52px;}
#table_355_wrapper tr:nth-child(1) > th:nth-child(6) .trendCen {margin-right:44px;}
#table_355_wrapper tr:nth-child(1) > th:nth-child(7) .trendCen {margin-right:48px;}
#table_355_wrapper tr:nth-child(1) > th:nth-child(8) .trendCen {margin-right:51px;}
#table_355_wrapper tr:nth-child(1) > th:nth-child(9) .trendCen {margin-right:48px;}
#table_355_wrapper tr:nth-child(1) > th:nth-child(10) .trendCen {margin-right:29px;}
#table_355_wrapper tr:nth-child(1) > th:nth-child(11) .trendCen {margin-right:24px;}
#table_355_wrapper tr:nth-child(1) > th:nth-child(12) .trendCen {margin-right:42px;}
#table_355_wrapper tr:nth-child(1) > th:nth-child(13) .trendCen {margin-right:24px;}
#table_355_wrapper tr:nth-child(1) > th:nth-child(14) .trendCen {margin-right:23px;}

#table_355_wrapper .DTFC_LeftBodyWrapper tr > td:nth-child(1) .tdCen  {margin-right:36px;}
#table_355_wrapper tr > td:nth-child(1) .tdCen {margin-right:43px;}
#table_355_wrapper tr > td:nth-child(2) .tdCen {margin-right:51px;}
#table_355_wrapper tr > td:nth-child(3) .tdCen {margin-right:51px;}
#table_355_wrapper tr > td:nth-child(4) .tdCen {margin-right:46px;}
#table_355_wrapper tr > td:nth-child(5) .tdCen {margin-right:43px;}
#table_355_wrapper tr > td:nth-child(6) .tdCen {margin-right:46px;}
#table_355_wrapper tr > td:nth-child(7) .tdCen {margin-right:46px;}
#table_355_wrapper tr > td:nth-child(8) .tdCen {margin-right:51px;}
#table_355_wrapper tr > td:nth-child(9) .tdCen {margin-right:51px;}
#table_355_wrapper tr > td:nth-child(10) .tdCen {margin-right:46px;}
#table_355_wrapper tr > td:nth-child(11) .tdCen {margin-right:46px;}
#table_355_wrapper tr > td:nth-child(12) .tdCen {margin-right:51px;}
#table_355_wrapper tr > td:nth-child(13) .tdCen {margin-right:47px;}
#table_355_wrapper tr > td:nth-child(14) .tdCen {margin-right:43px;}



/* 359 */
#table_359_wrapper tr:nth-child(1) > th:nth-child(1) .trendCen {margin-right:62px;}
#table_359_wrapper tr:nth-child(3) > th:nth-child(1) .trendCen {margin-right:33px;}
#table_359_wrapper tr:nth-child(3) > th:nth-child(2) .trendCen {margin-right:29px;}
#table_359_wrapper tr:nth-child(3) > th:nth-child(3) .trendCen {margin-right:47px;}
#table_359_wrapper tr:nth-child(3) > th:nth-child(4) .trendCen {margin-right:56px;}

#table_359_wrapper tr > td:nth-child(1) .tdCen {margin-right:63px;}
#table_359_wrapper tr > td:nth-child(2) .tdCen {margin-right:62px;}
#table_359_wrapper tr > td:nth-child(3) .tdCen {margin-right:67px;}
#table_359_wrapper tr > td:nth-child(5) .tdCen {margin-right:58px;}
#table_359_wrapper tr > td:nth-child(6) .tdCen {margin-right:58px;}



/* 360 */
#table_360 tr:nth-child(1) > th:nth-child(1) .trendCen {margin-right:28px;}
#table_360 tr:nth-child(1) > th:nth-child(2) .trendCen {margin-right:36px;}
#table_360 tr:nth-child(2) > th:nth-child(1) .trendCen {margin-right:43px; }
#table_360 tr:nth-child(2) > th:nth-child(2) .trendCen {margin-right:35px;}
#table_360 tr:nth-child(2) > th:nth-child(3) .trendCen {margin-right:27px;}
#table_360 tr:nth-child(1) > th:nth-child(4) .trendCen {margin-right:35px;}

#table_360 tr > td:nth-child(1) .tdCen {margin-right:34px;}
#table_360 tr > td:nth-child(2) .tdCen {margin-right:43px;}
#table_360 tr > td:nth-child(3) .tdCen {margin-right:70px;}
#table_360 tr > td:nth-child(4) .tdCen {margin-right:73px;}
#table_360 tr > td:nth-child(5) .tdCen {margin-right:73px;}
#table_360 tr > td:nth-child(6) .tdCen {margin-right:68px;}



/* 395 */
#table_395_wrapper tr:nth-child(1) > th:nth-child(1) .trendCen {margin-right:20px; }
#table_395_wrapper tr:nth-child(1) > th:nth-child(2) .trendCen {margin-right:17px;}
#table_395_wrapper tr:nth-child(1) > th:nth-child(3) .trendCen {margin-right:18px;}
#table_395_wrapper tr:nth-child(1) > th:nth-child(4) .trendCen {margin-right:17px;}
#table_395_wrapper tr:nth-child(2) > th:nth-child(1) .trendCen {margin-right:25px;}
#table_395_wrapper tr:nth-child(2) > th:nth-child(2) .trendCen {margin-right:19px;}
#table_395_wrapper tr:nth-child(2) > th:nth-child(3) .trendCen {margin-right:16px;}
#table_395_wrapper tr:nth-child(1) > th:nth-child(6) .trendCen {margin-right:20px;}
#table_395_wrapper tr:nth-child(1) > th:nth-child(7) .trendCen {margin-right:22px; }
#table_395_wrapper tr:nth-child(1) > th:nth-child(8) .trendCen {margin-right:21px;}

#table_395_wrapper tr > td:nth-child(1) .tdCen {margin-right:27px;}
#table_395_wrapper tr > td:nth-child(2) .tdCen {margin-right:25px;}
#table_395_wrapper tr > td:nth-child(3) .tdCen {margin-right:30px;}
#table_395_wrapper tr > td:nth-child(4) .tdCen {margin-right:25px;}
#table_395_wrapper tr > td:nth-child(5) .tdCen {margin-right:37px;}
#table_395_wrapper tr > td:nth-child(6) .tdCen {margin-right:30px;}
#table_395_wrapper tr > td:nth-child(7) .tdCen {margin-right:15px;}
#table_395_wrapper tr > td:nth-child(8) .tdCen {margin-right:38px;}
#table_395_wrapper tr > td:nth-child(9) .tdCen {margin-right:39px;}
#table_395_wrapper tr > td:nth-child(10) .tdCen {margin-right:42px;}




/* 396 */
#table_396_wrapper tr:nth-child(2) > th:nth-child(1) .trendCen {margin-right:79px;}
#table_396_wrapper tr:nth-child(2) > th:nth-child(2) .trendCen {margin-right:51px;}
#table_396_wrapper tr:nth-child(2) > th:nth-child(3) .trendCen {margin-right:52px; }
#table_396_wrapper tr:nth-child(2) > th:nth-child(4) .trendCen {margin-right:64px;}
#table_396_wrapper tr:nth-child(2) > th:nth-child(5) .trendCen {margin-right:52px;}

#table_396_wrapper tr > td:nth-child(1) .tdCen {margin-right:80px;}
#table_396_wrapper tr > td:nth-child(2) .tdCen {margin-right:61px;}
#table_396_wrapper tr > td:nth-child(3) .tdCen {margin-right:78px;}
#table_396_wrapper tr > td:nth-child(4) .tdCen {margin-right:68px;}
#table_396_wrapper tr > td:nth-child(5) .tdCen {margin-right:78px;}



/* 397 */
#table_397_wrapper tr:nth-child(2) > th:nth-child(1) .trendCen {margin-right:141px;}
#table_397_wrapper tr:nth-child(2) > th:nth-child(2) .trendCen {margin-right:121px;}
#table_397_wrapper tr:nth-child(2) > th:nth-child(3) .trendCen {margin-right:138px;}

#table_397_wrapper tr > td:nth-child(1) .tdCen {margin-right:143px;}
#table_397_wrapper tr > td:nth-child(2) .tdCen {margin-right:146px;}
#table_397_wrapper tr > td:nth-child(3) .tdCen {margin-right:135px;}



/* 398 */
#table_398_wrapper .DTFC_LeftHeadWrapper tr:nth-child(1) > th:nth-child(1) .trendCen {margin-right:30px;}
#table_398_wrapper tr:nth-child(1) > th:nth-child(1) .trendCen {margin-right:31px; }
#table_398_wrapper tr:nth-child(1) > th:nth-child(2) .trendCen {margin-right:31px;}
#table_398_wrapper tr:nth-child(1) > th:nth-child(3) .trendCen {margin-right:31px;}
#table_398_wrapper tr:nth-child(1) > th:nth-child(4) .trendCen {margin-right:31px;}
#table_398_wrapper tr:nth-child(1) > th:nth-child(5) .trendCen {margin-right:15px;}
#table_398_wrapper tr:nth-child(1) > th:nth-child(6) .trendCen {margin-right:6px;}
#table_398_wrapper tr:nth-child(1) > th:nth-child(7) .trendCen {margin-right:27px;}
#table_398_wrapper tr:nth-child(1) > th:nth-child(8) .trendCen {margin-right:18px;}
#table_398_wrapper tr:nth-child(1) > th:nth-child(9) .trendCen {margin-right:4px; }

#table_398_wrapper .DTFC_LeftBodyWrapper tr > td:nth-child(1) .tdCen {margin-right:36px;}
#table_398_wrapper tr > td:nth-child(1) .tdCen {margin-right:27px;}
#table_398_wrapper tr > td:nth-child(2) .tdCen {margin-right:27px;}
#table_398_wrapper tr > td:nth-child(3) .tdCen {margin-right:27px;}
#table_398_wrapper tr > td:nth-child(4) .tdCen {margin-right:27px;}
#table_398_wrapper tr > td:nth-child(5) .tdCen {margin-right:27px;}
#table_398_wrapper tr > td:nth-child(6) .tdCen {margin-right:23px;}
#table_398_wrapper tr > td:nth-child(7) .tdCen {margin-right:30px;}
#table_398_wrapper tr > td:nth-child(8) .tdCen {margin-right:23px;}
#table_398_wrapper tr > td:nth-child(9) .tdCen {margin-right:35px;}



/* 399 */
#table_399_wrapper tr:nth-child(1) > th:nth-child(1) .trendCen {margin-right:98px;}
#table_399_wrapper tr:nth-child(1) > th:nth-child(2) .trendCen {margin-right:70px;}
#table_399_wrapper tr:nth-child(1) > th:nth-child(3) .trendCen {margin-right:125px;}
#table_399_wrapper tr:nth-child(1) > th:nth-child(4) .trendCen {margin-right:84px;}

#table_399_wrapper tr > td:nth-child(1) .tdCen {margin-right:105px;}
#table_399_wrapper tr > td:nth-child(2) .tdCen {margin-right:72px;}
#table_399_wrapper tr > td:nth-child(3) .tdCen {margin-right:147px;}
#table_399_wrapper tr > td:nth-child(4) .tdCen {margin-right:89px;}


/* 400 */
#table_400_wrapper .dataTables_scroll .dataTable th div,#table_400_wrapper .dataTables_scroll .dataTable td div{margin-left:0px;}
#table_400_wrapper .dataTables_scroll .dataTable th:first-child div, #table_400_wrapper .dataTables_scroll .dataTable td.text:first-child div{margin-left:0px;}
#table_400_wrapper tr:nth-child(2) > th .thAssess {margin-right:11px;}
#table_400_wrapper tr:nth-child(2) > th .thPercent {margin-right:13px;}
#table_400_wrapper tr:nth-child(2) > th .thDirect {margin-right:30px;}

#table_400_wrapper tr > td .tdCen {margin-right:23px;}
#table_400_wrapper tr > td .tdCen {margin-right:40px;}
#table_400_wrapper tr > td .tdCen {margin-right:32px;}




/* 404 */
#table_404_wrapper .DTFC_LeftHeadWrapper tr:nth-child(1) > th:nth-child(1) .trendCen {margin-right:55px;}
#table_404_wrapper .DTFC_LeftHeadWrapper tr:nth-child(2) > th:nth-child(1) .trendCen {margin-right:60px; }
#table_404_wrapper tr:nth-child(1) > th:nth-child(1) .trendCen {margin-right:44px;}
#table_404_wrapper tr:nth-child(1) > th:nth-child(2) .trendCen {margin-right:44px;}
#table_404_wrapper tr:nth-child(1) > th:nth-child(3) .trendCen {margin-right:44px;}
#table_404_wrapper tr:nth-child(1) > th:nth-child(4) .trendCen {margin-right:52px;}
#table_404_wrapper tr:nth-child(1) > th:nth-child(5) .trendCen {margin-right:42px;}
#table_404_wrapper tr:nth-child(1) > th:nth-child(6) .trendCen {margin-right:53px; }
#table_404_wrapper tr:nth-child(2) > th:nth-child(1) .trendCen {margin-right:36px;}
#table_404_wrapper tr:nth-child(2) > th:nth-child(2) .trendCen {margin-right:33px;}
#table_404_wrapper tr:nth-child(2) > th:nth-child(3) .trendCen {margin-right:45px;}
#table_404_wrapper tr:nth-child(1) > th:nth-child(8) .trendCen {margin-right:47px;}
#table_404_wrapper tr:nth-child(1) > th:nth-child(9) .trendCen {margin-right:43px; }
#table_404_wrapper tr:nth-child(1) > th:nth-child(10) .trendCen {margin-right:29px; }

#table_404_wrapper .DTFC_LeftBodyWrapper tr > td:nth-child(1) .tdCen {margin-right:61px; }
#table_404_wrapper tr > td:nth-child(1) .tdCen {margin-right:61px;}
#table_404_wrapper tr > td:nth-child(2) .tdCen {margin-right:61px;}
#table_404_wrapper tr > td:nth-child(3) .tdCen {margin-right:61px;}
#table_404_wrapper tr > td:nth-child(4) .tdCen {margin-right:61px;}
#table_404_wrapper tr > td:nth-child(5) .tdCen {margin-right:57px;}
#table_404_wrapper tr > td:nth-child(6) .tdCen {margin-right:57px;}
#table_404_wrapper tr > td:nth-child(7) .tdCen {margin-right:41px;}
#table_404_wrapper tr > td:nth-child(8) .tdCen {margin-right:60px;}
#table_404_wrapper tr > td:nth-child(9) .tdCen {margin-right:41px;}
#table_404_wrapper tr > td:nth-child(10) .tdCen {margin-right:69px;}
#table_404_wrapper tr > td:nth-child(11) .tdCen {margin-right:57px;}
#table_404_wrapper tr > td:nth-child(12) .tdCen {margin-right:52px;}


/* 406 */
#table_406_wrapper tr:nth-child(1) > th:nth-child(1) .trendCen {margin-right:97px;}
#table_406_wrapper tr:nth-child(1) > th:nth-child(2) .trendCen {margin-right:78px;}
#table_406_wrapper tr:nth-child(1) > th:nth-child(3) .trendCen {margin-right:59px;}
#table_406_wrapper tr:nth-child(1) > th:nth-child(4) .trendCen {margin-right:79px;}

#table_406_wrapper tr > td:nth-child(1) .tdCen {margin-right:104px;}
#table_406_wrapper tr > td:nth-child(2) .tdCen {margin-right:98px;}
#table_406_wrapper tr > td:nth-child(3) .tdCen {margin-right:99px;}
#table_406_wrapper tr > td:nth-child(4) .tdCen {margin-right:101px;}


/* 420 */
#table_420_wrapper .DTFC_LeftHeadWrapper tr:nth-child(1) > th:nth-child(1) .trendCen {margin-right:30px;}
#table_420_wrapper .DTFC_LeftHeadWrapper tr:nth-child(2) > th:nth-child(1) .trendCen {margin-right:35px; }
#table_420_wrapper tr:nth-child(1) > th:nth-child(1) .trendCen {margin-right:18px;}
#table_420_wrapper tr:nth-child(1) > th:nth-child(2) .trendCen {margin-right:18px;}
#table_420_wrapper tr:nth-child(1) > th:nth-child(3) .trendCen {margin-right:29px;}
#table_420_wrapper tr:nth-child(1) > th:nth-child(4) .trendCen {margin-right:26px;}
#table_420_wrapper tr:nth-child(1) > th:nth-child(5) .trendCen {margin-right:16px;}
#table_420_wrapper tr:nth-child(1) > th:nth-child(6) .trendCen {margin-right:27px; }
#table_420_wrapper tr:nth-child(2) > th:nth-child(1) .trendCen {margin-right:15px;}
#table_420_wrapper tr:nth-child(2) > th:nth-child(2) .trendCen {margin-right:13px;}
#table_420_wrapper tr:nth-child(2) > th:nth-child(3) .trendCen {margin-right:25px;}
#table_420_wrapper tr:nth-child(1) > th:nth-child(8) .trendCen {margin-right:21px;}
#table_420_wrapper tr:nth-child(1) > th:nth-child(9) .trendCen {margin-right:17px; }

#table_420_wrapper .DTFC_LeftBodyWrapper tr > td:nth-child(1) .tdCen {margin-right:36px; }
#table_420_wrapper tr > td:nth-child(1) .tdCen {margin-right:27px;}
#table_420_wrapper tr > td:nth-child(2) .tdCen {margin-right:27px;}
#table_420_wrapper tr > td:nth-child(3) .tdCen {margin-right:23px;}
#table_420_wrapper tr > td:nth-child(4) .tdCen {margin-right:27px;}
#table_420_wrapper tr > td:nth-child(5) .tdCen {margin-right:35px;}
#table_420_wrapper tr > td:nth-child(6) .tdCen {margin-right:23px;}
#table_420_wrapper tr > td:nth-child(7) .tdCen {margin-right:21px;}
#table_420_wrapper tr > td:nth-child(8) .tdCen {margin-right:21px;}
#table_420_wrapper tr > td:nth-child(9) .tdCen {margin-right:16px;}
#table_420_wrapper tr > td:nth-child(10) .tdCen {margin-right:35px;}
#table_420_wrapper tr > td:nth-child(11) .tdCen {margin-right:27px;}

table.initiative-table td.text div{
    margin-left: 20px;
}
table.initiative-table td.text-sort2 div{
    margin-left: 35px;
}
table.initiative-table th.no-sort div,
table.initiative-table td.no-sort div{
    margin-left: 10px;
}
th.recdate div{
    margin-left: 0;
}
td.recdate div{
    margin-left: 3px;
}