table{
    width: 100%;
    font:12px normal 'Roboto';
    color: #666666;
    border: none;
    clear:both;
}
tr.even,
tr.odd{
    border:none;
    padding:0;
}
tr.odd{
    background-color: #f8f8f8 !important;
}
tr.even{
    background-color: white !important;
}
table.sub-table tr.odd,
table.sub-table tr.even{
    background-color:transparent !important;
}
table thead tr {
     border: 1px solid #174373;
}
table thead th{
    background: url("/sites/all/themes/checkbook/images/table-header-bg-blue.png") repeat-x 0 top #406790;
    color: white;
    font-family: 'Roboto';
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    height: 40px;
    min-height: 40px;
    vertical-align: middle;
    padding: 0 10px;
}
thead th.sortable div.DataTables_sort_wrapper,
thead th.sorting_asc div.DataTables_sort_wrapper,
thead th.sorting_desc div.DataTables_sort_wrapper
{
    padding-left: 15px;
    position: relative;
}
thead th div.DataTables_sort_wrapper span {
    margin-top: -8px;
    position: absolute;
    left: 0;
    top: 50%;
}
th.sortable,
th.sorting_asc,
th.sorting_desc{
    cursor: pointer;
}
/*table th.sorting,
table th.sorting_desc,
table th.sorting_asc{
    color: white;
}
table th.sorting:hover,
table th.sorting_desc:hover,
table th.sorting_asc:hover{
    text-decoration: underline;
    cursor: pointer;
}
table th.sorting_disabled{
    color: white;
}
table th.sorting_desc span,
table th.sorting_asc span{
    cursor: pointer;
    padding-left: 15px;
    display: block;
}
table th.sorting_asc span{
    background:url('jquery-ui/images/ui-icons_ffffff_256x240.png') scroll no-repeat 0 -16px;
}
table th.sorting_desc span{
    background: url('jquery-ui/images/ui-icons_ffffff_256x240.png') scroll no-repeat -64px -16px;
}*/
th,
td {
    padding: 12px;
}
/* makes sure that borders are only applied on the center column. */
table tbody{
    border-bottom: 1px solid #CACACA;
    border-right: 1px solid #CACACA;
    border-left: 1px solid #CACACA;
}

table.expense tbody {
  border: none;
}

table td{
    text-align: left;
    vertical-align: middle;
    text-transform: uppercase;
    font-family: 'Roboto';
}
table .highcharts-wrapper,
table .highstock-wrapper{
    width:auto;
}
table a{
    color:#336699;
    text-decoration: none;
}
table a:hover{
    text-decoration: underline;
}
.dataTables_paginate a{
    color:#366B9E;
    font:12px normal 'Roboto';
    cursor: pointer;
}
.dataTables_paginate a.paginate_active{
    color:#ffffff;
    font-weight: bold;
    background: url('/sites/all/themes/checkbook/images/pager-active-bg.png') repeat-x scroll 0 0 transparent;
    display: inline-block;
    height: 1em;
}
.dataTables_paginate a.paginate_button,
.dataTables_paginate a.paginate_active{
    margin-left:12px;
    padding:0.5em;
}
.dataTables_paginate a.first{
    margin-left: 0;
}

.dataTables_paginate .paginate_button {
    padding: 0.5em;
    cursor: pointer;
    display: inline-block;
}
.dataTables_paginate .paginate_button img{
    vertical-align: middle;
}
.paging_input input{
    display:inline;
    width:3em;
}
#table_411_processing,
#table_267_processing,
#table_266_processing,
#table_6_processing,
#table_477_processing{
    top: 0;
    left:0;
    position: absolute;
}

#agencyfilter thead th,
#payeefilter thead th,
#chkamtfilter thead th{
    background: none;
}

#agencyfilter tbody,
#payeefilter tbody,
#chkamtfilter tbody,
#expcatfilter tbody,
#spendexpcatfilter tbody{
    border: none;
}

/*
.panel-panel.grid-12 table th, .panel-panel.grid-9 table th{
    text-align: center;
} */

.panel-panel.grid-3 table th{
    text-align: left;
}
.panel-panel.grid-3 table thead tr{
	border:none;
}
.text,
.text div.DataTables_sort_wrapper{
    text-align: left;
}
.number,
.number div.DataTables_sort_wrapper{
    text-align: right;
}
.center,
.center div.DataTables_sort_wrapper{
    text-align: center;
}

.dataTables_scrollBody table th{
    min-height: 0;
}
.dataTables_scrollBody table thead tr{
    border: none;
}
th.sorting_desc span{
    background:url(../images/arrow-asc.png) scroll no-repeat left center;
    padding-left:15px;
    display: inline-block;
    cursor: pointer;
}
th.sorting_asc span{
    background:url(../images/arrow-desc.png) scroll no-repeat left center;
    padding-left:15px;
    display: inline-block;
    cursor:pointer;
}
th.sorting span{
    background:url(../images/double.png) scroll no-repeat left center;
    padding-left:15px;
    display: inline-block;
    cursor:pointer;
}
div.DTFC_LeftHeadWrapper table thead tr{
    border: none;
}
div.DTFC_ScrollWrapper table thead tr{
    border: none;
}

.print_html {
  position: absolute;
  top: 43px;
  right: 0;
  width: 53px;
  border: 1px solid black;
}

.print_html a {
  display: block;
  float: left;
  background: none;
  padding: 5px;
  position: relative;
  z-index: 5000;
  cursor: pointer !important;
}
th.forty span{
    width:40px;
}
th.forty-five span{
    width:45px;
}
th.fifty span{
    width:50px;
}
th.fifty-five span{
    width:55px;
}
th.sixty span{
    width:60px;
}
th.sixty-five span{
    width:65px;
}
th.seventy span{
    width:70px;
}
th.seventy-five span{
    width:75px;
}
th.eighty span{
    /* width:80px; */
   width: auto;
}
th.eighty-five span{
    width:85px;
}
th.ninety span{
    width:90px;
}
th.ninety-five span{
    width:95px;
}
th.one-hundred span{
    width:100px;
}
th.one-fifteen span{
    width:115px;
}
th.one-twenty-five span{
    width:125px;
}
th.one-seventy-five span{
    width:175px;
}
.dataTables_paginate a.paginate_button_disabled{
    color:#606060;
    text-decoration: none;
    cursor: default;
}
.bottomContainer .tableHeader{
    float:left;
}
.dataTables_processing {
    width:24px;
    height:24px;
    position: absolute;
    right: 0px;
    top: -30px;
}
.bottomContainer .dataTables_processing{
    float: right;
}
table.api-table td{
    text-transform: none;
}
table.api-table th{
    text-transform: none;
}
