.omega-grid{
	zoom: 1;
}
.tabs,
.node-links{
	height: 0;
}
body.page-data-feeds .tabs{
    height: auto;
}
/* Display Inline-Block Fix */
#zone-footer .block-menu,
.agency-list-open,
#block-block-3,
#block-block-4{
	display: inline;
	zoom: 1 !important;
}

.slider-pager a {
  text-indent: 0px !important;
  font-size: 0;
}

/* Equal Heights */
.page-spending-nyc .grid-6 .panel-pane{
	min-height: 300px;
}
.page-spending-agency .grid-6 .panel-pane{
	min-height: 300px;
}

/* Agency Dropdown */
#block-block-4{
	margin-right: 10px;
}
.agency-list-content{
	left: 0px;
	z-index: 40;
}
.listContainer1{
	border-bottom: 1px solid #B9CBDC;
}
.agency-list-pager{
	padding-top: 4px;
}

/* HighCharts */
.top-chart .node-widget,
.top-chart .highcharts-container{
	height: 400px !important;
	width: 940px !important;
}
/* DataTables */

table#table_360{
    border-bottom:none;
}
#table_360_wrapper .dataTables_scrollBody{
    border-bottom:1px solid #CACACA;
}
/*table.vendor-table {
  border-bottom: 1px solid #CCC;
}

table.vendor-table tr {
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
}

tr.odd td{
    background-color: #f8f8f8;
}
tr.even td{
    background-color: #ffffff;
}
table.sub-table tr.odd td,
table.sub-table tr.even td{
    background-color: transparent;
}

div.bottomContainer table{
    border-left:1px solid #CACACA;
    border-right:1px solid #CACACA;
    border-bottom: 1px solid #CACACA;
}
div.bottomContainer table.sub-table{
    border:none;
}
#node-widget-423 table,
#node-widget-408 table,
#node-widget-410 table,
#node-widget-270 table{
    border:none;
}
#node-widget-428 table,
#node-widget-427 table,
#node-widget-426 table{
    border-left:1px solid #CACACA;
    border-right:1px solid #CACACA;
    border-bottom: 1px solid #CACACA;
}
#node-widget-428 table.sub-table,
#node-widget-427 table.sub-table,
#node-widget-426 table.sub-table{
    border: none;
}
div.dataTables_scrollHeadInner table{
    border: none none none;
}
body.gridview table{
    border-left:1px solid #CACACA;
    border-right:1px solid #CACACA;
    border-bottom: 1px solid #CACACA;
}
*/
/*table.dataTable thead{
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='true', sizingMethod='scale', src='/sites/all/themes/checkbook/images/table-header-bg-blue.png');
}

table.dataTables_scrollBody thead,
#contract-transactions table.sub-table th,
#agencyfilter table th,
#payeefilter table th,
#chkamtfilter table th{
    filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled='false');
}*/


/* Inline-block fix */
.contract-id,
.dollar-amounts,
.contract-information ul,
.contract-vendor-details ul,
#assoc_contracts_list_info,
#assoc_contracts_list_paginate,
.contract-details,
.contract-vendor-details,
.contract-information ul.left,
.contract-information ul.right,
a.showHide,
.featured-trends-filter input,
.featured-trends-filter label,
.featured-trends-filter img,
.featured-trends-filter .filter-container,
#featured-trends-thumbnails div.navigation,
.block-checkbook-smart-search,
.block-7,
#spending-transactions .pane-1,
#spending-transactions #spending-amount,
.first-page #edit-type .form-type-radio,
.first-page #edit-format .form-type-radio,
#checkbook-datafeeds-data-feed-wizard .column,
#checkbook-datafeeds-tracking-status .column,
.datarange label,
.datarange input,
.datarange select,
.datarange .form-item,
#checkbook-datafeeds-tracking-form .form-item-tracking-number,
#checkbook-datafeeds-tracking-form input#edit-go{
    zoom: 1;
    display: inline;
}
p.show-details-link{
    margin-top:10px;
}

.nyc_totals_links td {
  padding-left: 0;
  padding-right: 0;
}

.nyc_totals_links ul {
  float: none;
}

div.nyc_totals_links li.last {
  border-right: none;
  width: 126px;
}

/* grid popup overrides */

.chart-grid-view.gridpopup {
 top: 15px; 
}
.page-featured-trends .highlighted {
    background-color: #dcdcdc;
}

/* Footer */
#section-footer{
    position: relative;
    top: 0;
}

/* main navigation overrides */

#table_400_wrapper th.ie-pos {
  height: 162px !important;
}

#table_420_wrapper th.ie-pos {
  height: 49px !important;
}

#table_358_wrapper th.ie-pos.row-one {
  height: 32px !important;
}

#table_358_wrapper th.ie-pos.row-two {
  height: 32px !important;
}

table.expense td .expense-container a {
  padding-top: 45px;
  line-height: 31px;
}

.autoheight {
  height: 60px !important;
}

/* smart search */
ul.pager li a.pagerItemDisabled {
	color:#606060;
}

#checkbook-smart-search-form input#edit-search-box {
  padding-top: 10px;
  height: 25px;
}

.dataTables_paginate a.paginate_active {
  height: 16px;
  padding: 2px 6px 8px;
}

.sup {
  position: static;
}
.featured-trends-filter input{
    height:24px;
}
td.amount-G{
    border-bottom: 4px double #676767;
}
td.amount-L{
    border-bottom: 1px solid #676767;
}
td.amount-S{
    border-bottom: 1px solid #676767;
}
tr.even td{
    border-bottom: 1px solid #F8F8F8;
}
tr.even td.cat-G{
    border-bottom: 4px solid #F8F8F8;
}
tr.odd td{
    border-bottom: 1px solid #FFFFFF;
}
tr.odd td.cat-G{
    border-bottom: 4px solid #FFFFFF;
}



/* .grid-3 overlap right border corrected */
.grid-3 table td {padding: 0px 3px 4px 3px;}
.grid-3 table td:first-child input {border: none; margin:0px; padding:0px;}
.grid-3 .content .clearfix {background-color:transparent;}
#node-widget-486 > div.clearfix {overflow:hidden;}

.block-7 .block-inner{
    padding-right:120px;
}
input#edit-submit[type="image"]{
    margin-top:2px;
}
#table_397 th,
#table_395 th,
#table_396 th{
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#48759d',endColorstr = '#3f668f',GradientType = 0);
}
#table_351_wrapper .DTFC_LeftHeadWrapper,
#table_400_wrapper .DTFC_LeftHeadWrapper,
#table_404_wrapper .DTFC_LeftHeadWrapper,
#table_420_wrapper .DTFC_LeftHeadWrapper{
    border-bottom:1px solid #3f668f;
}

#table_351_wrapper .DTFC_Cloned th.centrig {text-align:center; padding-left:22px;}
#table_360 td{width:0px;}
#table_360 td.sixty-five{padding-right: 80px;}
#table_360 td.hundred{padding-right: 80px; padding-left:30px;}
#table_360 td.forty-five{padding-right: 55px;}
#table_360 td.thirty-five{padding-right: 45px;}

/*

#table_351 td{width:0px;}
#table_395 td{width:0px;}
#table_353 td{width:0px;}

#table_353_wrapper .DTFC_Cloned td {width:0px;}
#table_353_wrapper .DTFC_Cloned td.eighteen {padding-right:40px;}
#table_353_wrapper .DTFC_Cloned th.thFips div{position:absolute; left:40px; top:10px;}
#table_353_wrapper .DTFC_Cloned th.thArea div{position:absolute; left:150px; top:10px;}
#table_353_wrapper .DTFC_Cloned th.thLineCode div{position:absolute; left:247px; top:10px;}
#table_353_wrapper .DTFC_Cloned th.thDescription div{padding-left:5px;}

*/

/* #table_353_wrapper .DTFC_Cloned td.eighteen {padding-right:25px; padding-left:-25px;} */

/*sup issue in scrolling data tables */
td.sup2 {background: url('../images/sup2.png') no-repeat 123px 0px transparent;}
table.dataTable tr.even td.sup6{background-color:#F8F8F8;}
table.dataTable tr.even td.sup1{background-color:#F8F8F8;}


/*td.number{border:1px solid red;}*/

body.page-all-trends h2.pane-title {font-size:12px; font-weight: bold; margin-bottom:10px }
th div span{display:block; float:left; position:static;}


/* fixing sorting arrow issue */

table.dataTable {font-size:11px;}
.dataTable th:first-child div, .dataTable td.text:first-child div {
    margin: 0px 0 0px 15px;
}
table#assoc_contracts_list table.dataTable th.endCol div,
table#assoc_contracts_list td.endCol div,
.page-contract-details table.dataTable th.endCol div,
.page-contract-details table.dataTable td.endCol div {
    margin: 0px 15px 0px 0;
}
table#assoc_contracts_list table.dataTable th.endCol div, table#assoc_contracts_list td.endCol div {
    margin: 0px 15px 0px 0;
}


/* 9 column details display */
#node-widget-426 .col9 .th1 {width:auto;}
#node-widget-426 .col9 .th2 {width:auto;}
#node-widget-426 .col9 .th3 {width:auto;}
#node-widget-426 .col9 .th4 {width:auto;}
#node-widget-426 .col9 .th5 {width:auto;}
#node-widget-426 .col9 .th6 {width:auto;}
#node-widget-426 .col9 .th7 {width:auto;}
#node-widget-426 .col9 .th8 {width:auto;}



/* 6 column details display */
#node-widget-427 table.col6 th.th1{width:auto;}
#node-widget-427 table.col6 th2{width:auto;}
#node-widget-427 table.col6 th3{width:auto;}
#node-widget-427 table.col6 th4{width:auto;}
#node-widget-427 table.col6 th5{width:auto;}
#node-widget-427 table.col6 th6{width:auto;}

table#assoc_contracts_list table.dataTable table.col9 th.th1 div,
table#assoc_contracts_list table.dataTable table.col9 td.td1 div,
table#assoc_contracts_list table.dataTable table.col9 th.th6 div,
table#assoc_contracts_list table.dataTable table.col9 td.td6 div,
table#assoc_contracts_list table.dataTable table.col9 th.th8 div,
table#assoc_contracts_list table.dataTable table.col9 td.td8 div
{margin: 8px 0px 8px 0px;}

table#assoc_contracts_list table.dataTable table.col6 th.th3 div,
table#assoc_contracts_list table.dataTable table.col6 td.td3 div
{margin: 8px 0px 8px 0px;}

table#assoc_contracts_list table.dataTable th div {
    margin: 0px 0px 0px 0px;
}
.dataTable th div, .dataTable td div{margin:0px 0px 0px 5px;}
.dataTable th:first-child div, .dataTable td:first-child.text div{margin:0px 0px 0px 15px;}
.dataTable th div, .dataTable td div{margin:0px 0px 0px 5px;}
.dataTable  td.expander div{margin:0px;}
.dataTable  td.childcontracts  div{margin:0px;}
.dataTable th, .dataTable td{padding:8px 0px 8px 0px; }
body.page-gridview .dataTable th:first-child div, body.page-gridview .dataTable td:first-child div {
    margin: 0px 0 0px 5px;    
}

table.dataTable th.colFips:first-child div, table.dataTable td.colFips:first-child div{margin: 0px 25px 0px -10px;}
table#assoc_contracts_list table.dataTable table.col9 th.th1 div,
table#assoc_contracts_list table.dataTable table.col9 td.td1 div,
table#assoc_contracts_list table.dataTable table.col9 th.th6 div,
table#assoc_contracts_list table.dataTable table.col9 td.td6 div,
table#assoc_contracts_list table.dataTable table.col9 th.th8 div,
table#assoc_contracts_list table.dataTable table.col9 td.td8 div
{margin: 0px 10px 0px 0px;}
table#assoc_contracts_list table.dataTable table.col6 th.th3 div,
table#assoc_contracts_list table.dataTable table.col6 td.td3 div
{margin: 0px 10px 0px 0px;}
table#assoc_contracts_list table.dataTable div{margin: 0px 0px 0px 5px;}

table#assoc_contracts_list th.endCol div, table#assoc_contracts_list td.endCol div {margin:0px 5px 0px 0px}


/*Data Feeds*/
.tabs h2.element-invisible{display:none;}
.overtime input{
    width:68px;
}

/*Fix for child contract expansion issue*/
table.dataTable td.childcontracts{
    padding-left:20px;
    position:static;
}
td.childcontracts div.sub-table-wrapper{
    height: auto;
    overflow: visible;
    position: static;
}
input{border:none;}
#checkbook-advanced-search-form .payroll-submit input#edit-payroll-submit, #checkbook-advanced-search-form .contracts-submit INPUT#edit-contracts-submit, #checkbook-advanced-search-form .spending-submit input#edit-spending-submit, #checkbook-advanced-search-form .revenue-submit input#edit-revenue-submit, #checkbook-advanced-search-form .budget-submit input#edit-budget-submit{height:23px; width:62px; background: transparent url("../images/IE7_searchButton.png") no-repeat 0px 0px; border:none;}
#checkbook-advanced-search-form .payroll-submit input#edit-payroll-clear, #checkbook-advanced-search-form .contracts-submit INPUT#edit-contracts-clear, #checkbook-advanced-search-form .spending-submit input#edit-spending-clear, #checkbook-advanced-search-form .revenue-submit input#edit-revenue-clear, #checkbook-advanced-search-form .budget-submit input#edit-budget-clear{height:23px; width:71px; background: transparent url("../images/IE7_searchButton.png") no-repeat -62px 0px; border:none;}
.smart-search-right table{width:100%;}
.smart-search-right table td{width:auto;}

.smart-search-pager ul li{float:left; clear:none;}
.contract-details-heading{width:940px;}
.contract-details-heading .contract-id{float:left; clear:none; width:auto;}
.contract-details-heading .dollar-amounts{float:right; clear:none; width:auto;}
.page-contract-details .contract-details-heading {width: 902px}

/* Added this specific rule because the general  heading details is too wide for this page */
.page-contracts-landing .contract-details-heading{width:902px;}

#checkbook-advanced-search-form .column,
#checkbook-advanced-search-form .ranges .form-item,
#checkbook-advanced-search-form .form-item-spending-issue-date .container-inline-date,
#checkbook-advanced-search-form .form-item-end-date .container-inline-date,
#checkbook-advanced-search-form .form-item-registration-date .container-inline-date,
#checkbook-advanced-search-form .form-item-start-date .container-inline-date,
#checkbook-advanced-search-form .form-item-received-date .container-inline-date,
#checkbook-advanced-search-form .form-item-payroll-pay-date .container-inline-date{
    display: inline;
    zoom: 1;
}
#table_6_wrapper .DTFC_LeftBodyWrapper thead th,
.page-trends-landing-trends .DTFC_LeftBodyWrapper thead th,
.page-trends .DTFC_LeftBodyWrapper thead th,
.page-featuredtrends .DTFC_LeftBodyWrapper thead th{
    background: none;
    filter:none;
}
.ui-accordion .ui-accordion-header a{padding-left: 2.2em;}
.dataTables_scrollBody sup{position:static;}

.ranges label{
    text-transform: uppercase;
    margin:0 5px;
}
#checkbook-advanced-search-form select{
    width: 195px;
}
#checkbook-advanced-search-form input{
    width: 186px;
}
#edit-payroll-amount-type input{
    width:auto;
}
#checkbook-advanced-search-form .ranges input{
    width:75px;
}
ul#site-overview li{
    display: inline;
    zoom: 1;
}
#node-widget-428 table.outerTable > thead > tr > th > div,
#node-widget-427 table.outerTable > thead > tr > th > div,
#node-widget-426 table.outerTable > thead > tr > th > div{
    margin:8px 0 8px 5px;
}
#node-widget-428 table.outerTable > thead > tr > th,
#node-widget-427 table.outerTable > thead > tr > th,
#node-widget-426 table.outerTable > thead > tr > th{
    padding:0;
}
/* data tables with no results */
#no-records-datatable {position:static;}
#no-records-datatable span{float:left; padding-top:21px; line-height: normal;}
.dataTable td div.no-transactions{float:left; margin-left:295px;}

.highcharts-wrapper #no-records {position:static;}
#no-records span{float:left; padding-top:21px; line-height: normal;}
#no-records .no-transactions{float:left; margin-left:182px;}

#table_317_wrapper tr > th + th + th + th + th{padding-left:10px;}
#table_317_wrapper tr > td + td + td + td + td{padding-left:10px;}

/* advanced search form date*/
#edit-date-filter input, #edit-date-filter-0, #edit-date-filter-1{
    width:auto;
    float:left;
    margin-right: 5px;
    border-color:#fff;
}
#checkbook-advanced-search-form div.year{float:left; clear:both;}
#checkbook-advanced-search-form .form-item-spending-fiscal-year select{float:left;}

#edit-date-filter .form-item-date-filter label{float:left;}
#edit-date-filter .form-item-date-filter{
    display:block;
    float:left;
}
form.spending div.year select{
    float: none;
}
/* 
===========================
###########################
### TRENDS TABLE STYLES ### 
###########################
===========================
*/
.dataTables_wrapper th.rowspan2Bot{padding-top:0px; padding-bottom:16px;}
.dataTables_wrapper th.rowspan2Top{padding-bottom: 0px; padding-top:16px;}


td.number div.dollarItem {float:left; margin-left:5px;}
#table_355_wrapper	td.number div.dollarItem {float:left; margin-left:30px;}
#table_406_wrapper	td.number div.dollarItem {float:left; margin-left:75px;}
#table_404_wrapper	td.number div.dollarItem {float:left; margin-left:40px;}
#table_360	td.number div.dollarItem {float:left; margin-left:30px;}
#table_399_wrapper	td.number div.dollarItem {float:left; margin-left:95px;}

/* 351 */
#table_351_wrapper .DTFC_LeftHeadWrapper tr > th .trendCen {margin-right:30px;}
#table_351_wrapper .DTFC_LeftHeadWrapper tr + tr > th .trendCen {margin-right:35px;}
#table_351_wrapper tr > th .trendCen {margin-right:31px;}
#table_351_wrapper tr + tr > th .trendCen {margin-right:45px;}
#table_351_wrapper tr + tr > th + th .trendCen {margin-right:33px;}
#table_351_wrapper tr > th + th + th .trendCen {margin-right:24px;  }
#table_351_wrapper tr > th + th + th + th .trendCen {margin-right:14px;}
#table_351_wrapper tr + tr > th + th + th .trendCen {margin-right:45px;}
#table_351_wrapper tr + tr > th + th + th + th .trendCen {margin-right:33px;}
#table_351_wrapper tr > th + th + th + th + th + th .trendCen {margin-right:29px;}

#table_351_wrapper .DTFC_LeftBodyWrapper tr > td:nth-child(1) .tdCen  {margin-right:36px;}
#table_351_wrapper tr > td .tdCen {margin-right:29px;}
#table_351_wrapper tr > td + td .tdCen {margin-right:32px;}
#table_351_wrapper tr > td + td + td  .tdCen {margin-right:50px;}
#table_351_wrapper tr > td + td + td + td .tdCen {margin-right:37px;}
#table_351_wrapper tr > td + td + td + td + td  .tdCen {margin-right:32px;}
#table_351_wrapper tr > td + td + td + td + td + td .tdCen {margin-right:29px;}
#table_351_wrapper tr > td + td + td + td + td + td + td .tdCen {margin-right:50px;}
#table_351_wrapper tr > td + td + td + td + td + td + td + td  .tdCen {margin-right:37px;}


/* 353 */
#table_353_wrapper .DTFC_LeftHeadWrapper tr > th:first-child .trendCen {margin-right:0px; margin-left:40px;}
#table_353_wrapper tr > td .tdCen {margin-right:43px;}



/* 355 */
#table_355_wrapper .DTFC_LeftHeadWrapper tr > th:first-child  div.trendCen {margin-right:0px; margin-left:30px;}
#table_355_wrapper tr > th .trendCen {margin-right:28px;}
#table_355_wrapper tr > th + th .trendCen {margin-right:36px;}
#table_355_wrapper tr > th + th + th .trendCen {margin-right:52px;}
#table_355_wrapper tr > th + th + th + th .trendCen {margin-right:48px;}
#table_355_wrapper tr > th + th + th + th + th .trendCen {margin-right:52px;}
#table_355_wrapper tr > th + th + th + th + th + th .trendCen {margin-right:44px;}
#table_355_wrapper tr > th + th + th + th + th + th + th .trendCen {margin-right:48px;}
#table_355_wrapper tr > th + th + th + th + th + th + th + th .trendCen {margin-right:51px;}
#table_355_wrapper tr > th + th + th + th + th + th + th + th + th .trendCen {margin-right:48px;}
#table_355_wrapper tr > th + th + th + th + th + th + th + th + th + th .trendCen {margin-right:29px;}
#table_355_wrapper tr > th + th + th + th + th + th + th + th + th + th + th .trendCen {margin-right:24px;}
#table_355_wrapper tr > th + th + th + th + th + th + th + th + th + th + th + th .trendCen {margin-right:42px;}
#table_355_wrapper tr > th + th + th + th + th + th + th + th + th + th + th + th + th .trendCen {margin-right:24px;}
#table_355_wrapper tr > th + th + th + th + th + th + th + th + th + th + th + th + th + th .trendCen {margin-right:23px;}

#table_355_wrapper .DTFC_LeftBodyWrapper tr > td .tdCen  {margin-right:39px;}
#table_355_wrapper tr > td .tdCen {margin-right:48px;}
#table_355_wrapper tr > td + td .tdCen {margin-right:56px;}
#table_355_wrapper tr > td + td + td .tdCen {margin-right:56px;}
#table_355_wrapper tr > td + td + td + td .tdCen {margin-right:51px;}
#table_355_wrapper tr > td + td + td + td + td .tdCen {margin-right:48px;}
#table_355_wrapper tr > td + td + td + td + td + td .tdCen {margin-right:51px;}
#table_355_wrapper tr > td + td + td + td + td + td + td .tdCen {margin-right:51px;}
#table_355_wrapper tr > td + td + td + td + td + td + td + td .tdCen {margin-right:56px;}
#table_355_wrapper tr > td + td + td + td + td + td + td + td + td .tdCen {margin-right:56px;}
#table_355_wrapper tr > td + td + td + td + td + td + td + td + td + td .tdCen {margin-right:51px;}
#table_355_wrapper tr > td + td + td + td + td + td + td + td + td + td + td .tdCen {margin-right:51px;}
#table_355_wrapper tr > td + td + td + td + td + td + td + td + td + td + td + td .tdCen {margin-right:56px;}
#table_355_wrapper tr > td + td + td + td + td + td + td + td + td + td + td + td + td .tdCen {margin-right:48px;}
#table_355_wrapper tr > td + td + td + td + td + td + td + td + td + td + td + td + td + td.tdCen {margin-right:41px;}



/* 359 */
#table_359_wrapper tr > th .trendCen {margin-right:62px;}
#table_359_wrapper tr + tr + tr > th .trendCen {margin-right:33px;}
#table_359_wrapper tr + tr + tr > th + th .trendCen {margin-right:29px;}
#table_359_wrapper tr + tr + tr > th + th + th .trendCen {margin-right:47px;}
#table_359_wrapper tr + tr + tr > th + th + th + th .trendCen {margin-right:56px;}

#table_359_wrapper tr > td .tdCen {margin-right:63px;}
#table_359_wrapper tr > td + td .tdCen {margin-right:62px;}
#table_359_wrapper tr > td + td + td .tdCen {margin-right:67px;}
#table_359_wrapper tr > td + td + td + td + td .tdCen {margin-right:58px;}
#table_359_wrapper tr > td + td + td + td + td + td  .tdCen {margin-right:58px;}



/* 360 */
#table_360_wrapper tr > th .trendCen {margin-right:28px;}
#table_360_wrapper tr > th + th .trendCen {margin-right:36px;}
#table_360_wrapper tr + tr > th .trendCen {margin-right:43px;}
#table_360_wrapper tr + tr > th + th .trendCen {margin-right:35px;}
#table_360_wrapper tr + tr > th + th + th .trendCen {margin-right:27px;}
#table_360_wrapper tr > th + th + th + th .trendCen {margin-right:35px;}

#table_360_wrapper tr > td .tdCen {margin-right:34px;}
#table_360_wrapper tr > td + td .tdCen {margin-right:43px;}
#table_360_wrapper tr > td + td + td .tdCen {margin-right:70px;}
#table_360_wrapper tr > td + td + td + td .tdCen {margin-right:73px;}
#table_360_wrapper tr > td + td + td + td + td .tdCen {margin-right:73px;}
#table_360_wrapper tr > td + td + td + td + td + td .tdCen {margin-right:68px;}



/* 395 */
#table_395_wrapper tr > th .trendCen {margin-right:20px; }
#table_395_wrapper tr > th + th .trendCen {margin-right:17px;}
#table_395_wrapper tr > th + th + th .trendCen {margin-right:18px;}
#table_395_wrapper tr > th+ th + th + th .trendCen {margin-right:17px;}
#table_395_wrapper tr + tr > th .trendCen {margin-right:25px;}
#table_395_wrapper tr + tr > th + th .trendCen {margin-right:19px;}
#table_395_wrapper tr + tr > th + th + th .trendCen {margin-right:16px;}
#table_395_wrapper tr > th + th + th + th + th + th .trendCen {margin-right:20px;}
#table_395_wrapper tr > th + th + th + th + th + th + th .trendCen {margin-right:22px; }
#table_395_wrapper tr > th + th + th + th + th + th + th + th .trendCen {margin-right:21px;}

#table_395_wrapper tr > td .tdCen {margin-right:27px;}
#table_395_wrapper tr > td + td .tdCen {margin-right:25px;}
#table_395_wrapper tr > td + td + td .tdCen {margin-right:30px;}
#table_395_wrapper tr > td + td + td + td .tdCen {margin-right:25px;}
#table_395_wrapper tr > td + td + td + td + td .tdCen {margin-right:37px;}
#table_395_wrapper tr > td + td + td + td + td + td .tdCen {margin-right:30px;}
#table_395_wrapper tr > td + td + td + td + td + td + td .tdCen {margin-right:15px;}
#table_395_wrapper tr > td + td + td + td + td + td + td + td .tdCen {margin-right:38px;}
#table_395_wrapper tr > td + td + td + td + td + td + td + td + td .tdCen {margin-right:39px;}
#table_395_wrapper tr > td + td + td + td + td + td + td + td + td + td .tdCen {margin-right:42px;}




/* 396 */
#table_396_wrapper tr + tr > th .trendCen {margin-right:79px;}
#table_396_wrapper tr + tr > th + th .trendCen {margin-right:51px;}
#table_396_wrapper tr + tr > th + th + th .trendCen {margin-right:52px; }
#table_396_wrapper tr + tr > th + th + th + th .trendCen {margin-right:64px;}
#table_396_wrapper tr + tr > th + th + th + th + th .trendCen {margin-right:52px;}

#table_396_wrapper tr > td .tdCen {margin-right:80px;}
#table_396_wrapper tr > td + td .tdCen {margin-right:61px;}
#table_396_wrapper tr > td + td + td .tdCen {margin-right:78px;}
#table_396_wrapper tr > td + td + td + td .tdCen {margin-right:68px;}
#table_396_wrapper tr > td + td + td + td + td .tdCen {margin-right:78px;}



/* 397 */
#table_397_wrapper tr + tr > th .trendCen {margin-right:141px;}
#table_397_wrapper tr + tr > th + th .trendCen {margin-right:121px;}
#table_397_wrapper tr + tr > th + th + th .trendCen {margin-right:138px;}

#table_397_wrapper tr > td .tdCen {margin-right:143px;}
#table_397_wrapper tr > td + td .tdCen {margin-right:146px;}
#table_397_wrapper tr > td + td + td .tdCen {margin-right:135px;}



/* 398 */
#table_398_wrapper .DTFC_LeftHeadWrapper tr > th .trendCen {margin-right:30px;}
#table_398_wrapper tr > th .trendCen {margin-right:31px; }
#table_398_wrapper tr > th + th .trendCen {margin-right:31px;}
#table_398_wrapper tr > th + th + th .trendCen {margin-right:31px;}
#table_398_wrapper tr > th + th + th + th .trendCen {margin-right:31px;}
#table_398_wrapper tr > th + th + th + th + th .trendCen {margin-right:15px;}
#table_398_wrapper tr > th + th + th + th + th + th .trendCen {margin-right:6px;}
#table_398_wrapper tr > th + th + th + th + th + th + th .trendCen {margin-right:27px;}
#table_398_wrapper tr > th + th + th + th + th + th + th + th .trendCen {margin-right:18px;}
#table_398_wrapper tr > th + th + th + th + th + th + th + th + th .trendCen {margin-right:4px; }

#table_398_wrapper .DTFC_LeftBodyWrapper tr > td:nth-child(1) .tdCen {margin-right:36px;}
#table_398_wrapper tr > td .tdCen {margin-right:27px;}
#table_398_wrapper tr > td + td .tdCen {margin-right:27px;}
#table_398_wrapper tr > td + td + td .tdCen {margin-right:27px;}
#table_398_wrapper tr > td + td + td + td .tdCen {margin-right:27px;}
#table_398_wrapper tr > td + td + td + td + td .tdCen {margin-right:27px;}
#table_398_wrapper tr > td + td + td + td + td + td .tdCen {margin-right:23px;}
#table_398_wrapper tr > td + td + td + td + td + td + td .tdCen {margin-right:30px;}
#table_398_wrapper tr > td + td + td + td + td + td + td + td .tdCen {margin-right:23px;}
#table_398_wrapper tr > td + td + td + td + td + td + td + td + td .tdCen {margin-right:35px;}



/* 399 */
#table_399_wrapper tr > th .trendCen {margin-right:98px;}
#table_399_wrapper tr > th + th .trendCen {margin-right:70px;}
#table_399_wrapper tr > th + th + th .trendCen {margin-right:125px;}
#table_399_wrapper tr > th + th + th + th .trendCen {margin-right:84px;}

#table_399_wrapper tr > td .tdCen {margin-right:105px;}
#table_399_wrapper tr > td + td .tdCen {margin-right:72px;}
#table_399_wrapper tr > td + td + td .tdCen {margin-right:147px;}
#table_399_wrapper tr > td + td + td + td .tdCen {margin-right:89px;}


/* 400 */
#table_400_wrapper .dataTables_scroll .dataTable th div,#table_400_wrapper .dataTables_scroll .dataTable td div{margin-left:0px;}
#table_400_wrapper .dataTables_scroll .dataTable th:first-child div, #table_400_wrapper .dataTables_scroll .dataTable td.text:first-child div{margin-left:0px;}
#table_400_wrapper tr + tr > th .thAssess {margin-right:11px;}
#table_400_wrapper tr + tr > th .thPercent {margin-right:13px;}
#table_400_wrapper tr + tr > th .thDirect {margin-right:30px;}

#table_400_wrapper tr > td .tdCen {margin-right:23px;}
#table_400_wrapper tr > td .tdCen {margin-right:40px;}
#table_400_wrapper tr > td .tdCen {margin-right:32px;}




/* 404 */
#table_404_wrapper .DTFC_LeftHeadWrapper tr > th .trendCen {margin-right:12px;}
#table_404_wrapper .DTFC_LeftHeadWrapper tr + tr > th .trendCen {margin-right:17px; }
#table_404_wrapper tr > th .trendCen {margin-right:44px;}
#table_404_wrapper tr > th + th .trendCen {margin-right:44px;}
#table_404_wrapper tr > th + th + th .trendCen {margin-right:44px;}
#table_404_wrapper tr > th + th + th + th .trendCen {margin-right:52px;}
#table_404_wrapper tr > th + th + th + th + th .trendCen {margin-right:42px;}
#table_404_wrapper tr > th + th + th + th + th + th .trendCen {margin-right:53px; }
#table_404_wrapper tr + tr > th .trendCen {margin-right:36px;}
#table_404_wrapper tr + tr > th + th.trendCen {margin-right:33px;}
#table_404_wrapper tr + tr > th+ th + th .trendCen {margin-right:45px;}
#table_404_wrapper tr > th + th + th + th + th + th + th + th .trendCen {margin-right:47px;}
#table_404_wrapper tr > th + th + th + th + th + th + th + th + th .trendCen {margin-right:43px; }
#table_404_wrapper tr > th + th + th + th + th + th + th + th + th .trendCen {margin-right:29px; }

#table_404_wrapper .DTFC_LeftBodyWrapper tr > td:nth-child(1) .tdCen {margin-right:61px; }
#table_404_wrapper tr > td .tdCen {margin-right:61px;}
#table_404_wrapper tr > td + td .tdCen {margin-right:61px;}
#table_404_wrapper tr > td + td + td .tdCen {margin-right:61px;}
#table_404_wrapper tr > td + td + td + td .tdCen {margin-right:61px;}
#table_404_wrapper tr > td + td + td + td + td .tdCen {margin-right:57px;}
#table_404_wrapper tr > td + td + td + td + td + td .tdCen {margin-right:57px;}
#table_404_wrapper tr > td + td + td + td + td + td + td .tdCen {margin-right:41px;}
#table_404_wrapper tr > td + td + td + td + td + td + td + td .tdCen {margin-right:60px;}
#table_404_wrapper tr > td + td + td + td + td + td + td + td + td .tdCen {margin-right:41px;}
#table_404_wrapper tr > td + td + td + td + td + td + td + td + td + td .tdCen {margin-right:69px;}
#table_404_wrapper tr > td + td + td + td + td + td + td + td + td + td + td .tdCen {margin-right:57px;}
#table_404_wrapper tr > td + td + td + td + td + td + td + td + td + td + td + td .tdCen {margin-right:52px;}


/* 406 */
#table_406_wrapper tr > th .trendCen {margin-right:97px;}
#table_406_wrapper tr > th + th .trendCen {margin-right:78px;}
#table_406_wrapper tr > th + th + th .trendCen {margin-right:59px;}
#table_406_wrapper tr > th + th + th + th .trendCen {margin-right:79px;}

#table_406_wrapper tr > td .tdCen {margin-right:104px;}
#table_406_wrapper tr > td + td .tdCen {margin-right:98px;}
#table_406_wrapper tr > td + td + td .tdCen {margin-right:99px;}
#table_406_wrapper tr > td + td + td + td .tdCen {margin-right:101px;}


/* 420 */
#table_420_wrapper .DTFC_LeftHeadWrapper tr > th .trendCen {margin-right:30px;}
#table_420_wrapper .DTFC_LeftHeadWrapper tr + tr > th .trendCen {margin-right:35px; }
#table_420_wrapper tr > th .trendCen {margin-right:18px;}
#table_420_wrapper tr > th + th .trendCen {margin-right:18px;}
#table_420_wrapper tr > th + th + th .trendCen {margin-right:29px;}
#table_420_wrapper tr > th + th + th + th .trendCen {margin-right:26px;}
#table_420_wrapper tr > th + th + th + th + th .trendCen {margin-right:16px;}
#table_420_wrapper tr > th + th + th + th + th + th .trendCen {margin-right:27px; }
#table_420_wrapper tr + tr > th .trendCen {margin-right:15px;}
#table_420_wrapper tr + tr > th + th .trendCen {margin-right:13px;}
#table_420_wrapper tr + tr > th + th + th .trendCen {margin-right:25px;}
#table_420_wrapper tr > th + th + th + th + th + th + th + th .trendCen {margin-right:21px;}
#table_420_wrapper tr > th + th + th + th + th + th + th + th + th .trendCen {margin-right:17px; }

#table_420_wrapper .DTFC_LeftBodyWrapper tr > td:nth-child(1) .tdCen {margin-right:36px; }
#table_420_wrapper tr > td .tdCen {margin-right:27px;}
#table_420_wrapper tr > td + td .tdCen {margin-right:27px;}
#table_420_wrapper tr > td + td + td .tdCen {margin-right:23px;}
#table_420_wrapper tr > td + td + td + td .tdCen {margin-right:27px;}
#table_420_wrapper tr > td + td + td + td + td .tdCen {margin-right:35px;}
#table_420_wrapper tr > td + td + td + td + td + td .tdCen {margin-right:23px;}
#table_420_wrapper tr > td + td + td + td + td + td + td .tdCen {margin-right:21px;}
#table_420_wrapper tr > td + td + td + td + td + td + td + td .tdCen {margin-right:21px;}
#table_420_wrapper tr > td + td + td + td + td + td + td + td + td .tdCen {margin-right:16px;}
#table_420_wrapper tr > td + td + td + td + td + td + td + td + td + td .tdCen {margin-right:35px;}
#table_420_wrapper tr > td + td + td + td + td + td + td + td + td + td + td .tdCen {margin-right:27px;}

#social-media img,
#social-media span{
    float: left;
}
.grid-3 div.checkbox,
.grid-3 div.name,
.grid-3 div.number,
.page-node div.checkbox,
.page-node div.name,
.page-node div.number{
    display: inline;
    zoom: 1;
    vertical-align: top;
}
.grid-3 div.number,
.page-node div.number{
    position: absolute;
    top: 0;
    right: 0;
}
.grid-3 div.autocomplete,
.page-node div.autocomplete{
    margin:0;
    padding: 10px 10px 0 10px;
    width: 188px;
}
.mCS-dark .mCSB_scrollTools .mCSB_draggerRail{
    background-color: #fff;
    filter: none;
}