#node-widget-424 table.sub-table th{
    padding: 4px;
}
#node-widget-424 table.sub-table td{
    padding: 4px;
}
.chzn-container-single .chzn-single{
    border-radius: 0;
}

#edit-date-filter--2 input, #edit-date-filter-0, #edit-date-filter-1{
    width:auto;
    float:left;
    margin-right: 5px;
    border-color:#fff;
}
#edit-date-filter--2 .form-item-date-filter {
	float:left;
    margin-right: 17px;
}
#edit-date-filter .form-item:first-child{
    margin-right: 85px;
}
.narrow-down-filter td.checkbox{
    width: 13px;
}
.narrow-down-filter td.checkbox input{
    padding: 0;
    border: 0;
}