
body {
  background-color: #fff;
  font-family: sans-serif;
  margin:0;
  font-size: 12px;
}
h3{
    font-size: 16px;
}
div.print-content{
    margin:0 10px;
    width:940px;
}
table {
  width: 100%;
  border-bottom: 1px solid #CACACA;
}
th {
  text-align: left; /* LTR */
  background: url("/sites/all/themes/checkbook/images/table-header-bg-blue.png") repeat-x 0 top #406790;
  color: white;
  height: 40px;
  min-height: 40px;
  padding: 0 10px;
  border-bottom: none;
}
tr.odd {
  background-color: #ddd;
  border-right: 1px solid #CACACA;
  border-left: 1px solid #CACACA;
}
tr.even {
  background-color: #fff;
  border-right: 1px solid #CACACA;
  border-left: 1px solid #CACACA;
}
td {
  padding: 5px;
}
#menu {
  visibility: hidden;
}
#main {
  margin: 1em;
}
a:link {color: #000;}
a:visited {color: #000;}
a:hover {color: #00f;}
a:link img, a:visited img {border: 0;}
.print-footnote {font-size: xx-small;}
img.print-logo {border: 0;}
.print-site_name {}
.print-breadcrumb {font-size: x-small;}
.print-title {}
.print-submitted {font-size: small;}
.print-created {font-size: small;}
.print-taxonomy {
  text-align: right;
}
.print-taxonomy li {display: inline;}
.print-content {}
.print-hr {
  border: 0;
  height: 1px;
  width: 100%;
  color: #9E9E9E;
  background-color: #9E9E9E;
}
.print-message {
  border: medium dotted blue;
  padding: 1em;
}
.print-source_url {font-size: small;}
.print-links {font-size: small;}
.print-footer {text-align: center;}

th.sorting_desc span{
    background:url(../images/arrow-asc.png) scroll no-repeat left center;
    padding-left:15px;
    display: inline-block;
    cursor: pointer;
}
th.sorting_asc span{
    background:url(../images/arrow-desc.png) scroll no-repeat left center;
    padding-left:15px;
    display: inline-block;
    cursor:pointer;
}
th.sorting span{
    padding-left:15px;
    display: inline-block;
    cursor:pointer;
}
div.print-content div.DTTT_container{
    display: none;
}
div.print-content th.number{
    text-align: center;
}
div.print-content td.number{
    text-align: right;
}
div.grid{
    display: none;
}