
<div class="dollar-amounts">
  <div class="total-spending-amount">{{customAmount(node.data[0]['revenue_amount_sum'] ,2,'$')}}<div class='amount-title'>Total Revenue<br />Recognized</div></div>
  <div class="total-spending-amount">{{customAmount(node.data[0]['current_modified_budget'],2,'$')}}<div class='amount-title'>Total Modified<br />Budget</div></div>
  <div class="total-spending-amount">{{customAmount(node.data[0]['adopted_budget'],2,'$')}}<div class='amount-title'>Total Adopted<br />Budget</div></div>
  <div class="total-spending-amount">{{customAmount(node.data[0]['remaining_amount'],2,'$') }}<div class='amount-title'>Total Remaining<br />Budget</div></div>
  </div>
