#spending-transactions .grid-3,
#contract-details .grid-3,
#budget-transactions .grid-3,
#revenue-transactions .grid-3,
#payroll-transactions .grid-3,
#nycha-contracts-transactions .grid-3,
.page-node div.filter-content,
.page-smart-search .smart-search-right{
    border: 1px solid #CACACA;
    padding-bottom: 10px;
    width: 218px;
}
#payroll-transactions .grid-3{
    margin-top: 47px;
}
#spending-transactions .grid-3{
    margin-top: 47px;
}
#contract-details .grid-3{
    margin-top: 30px;
}
#nycha-contracts-transactions .grid-3{
  margin-top: 47px;
}

.grid-3 .narrow-down-title,
.smart-search-right .narrow-down-title{
    color: #2E2E2E;
    text-align: left;
    background-color: #E9E9E9;
    border-bottom: 1px solid #CACACA;
    padding: 10px;
    font-size: 12px;
    text-transform: uppercase;
}
div.filter-content{
    margin-top: 5px;
}
div.filter-content.disabled{
    margin-top: 0;
}
div.filter-content-fdomainName,
div.filter-content-fagencyName,
div.filter-content-fvendorName,
div.filter-content-fexpenseCategoryName,
div.filter-content-fyear{
    position: relative;
}
div.filter-content-fdomainName div.options{
    max-height: none;
}
.grid-3 div.filter-title,
.page-node div.filter-title,
.smart-search-right div.filter-title{
    background-color: #e9e9e9;
    border: 0.1px solid #cacaca;
    color: #2e2e2e;
    font-size: 12px;
    font-weight: bold;
    padding: 8px;
    margin: 0 3px;
    text-align: left;
    text-transform: uppercase;
    cursor:pointer;
}
.grid-3 div.autocomplete,
.page-node div.autocomplete,
.smart-search-right div.autocomplete{
    padding: 10px 10px 0 10px;
    width: 198px;
}
.grid-3 div.autocomplete input,
.page-node div.autocomplete input,
.smart-search-right div.autocomplete input{
    width: 100%;
}
.grid-3 div.options,
.page-node div.options,
.smart-search-right div.options{
    max-height: 200px;
    overflow: auto;
    width: 100%;
}
.grid-3 div.row,
.page-node div.row,
.smart-search-right div.row{
    padding: 10px 10px 0 10px;
    min-height: 18px;
}
.grid-3 div.checkbox,
.grid-3 div.name,
.grid-3 div.number,
.page-node div.checkbox,
.page-node div.name,
.page-node div.number,
.smart-search-right div.checkbox,
.smart-search-right div.name,
.smart-search-right div.number{
    display: inline-block;
    vertical-align: top;
}
.grid-3 div.checkbox,
.page-node div.checkbox,
.smart-search-right div.checkbox{
    padding: 0 5px 0 0;
    text-align: left;
    width: 12px;
}
.grid-3 div.checkbox input,
.page-node div.checkbox input,
.smart-search-right div.checkbox input{
    vertical-align: baseline;
}
.grid-3 div.name,
.page-node div.name,
.smart-search-right div.name{
    text-align: left;
    padding: 0 5px;
    max-width: 88px;
    text-transform: uppercase;
}
.grid-3 div.number,
.page-node div.number,
.smart-search-right div.number{
    text-align: right;
    width: 70px;
    float: right;
    padding-top: 2px;
}
.grid-3 div.number span,
.page-node div.number span,
.smart-search-right div.number span{
    background: #F0F0F0;
    border-radius: 2px;
    padding: 2px;
}
.grid-3 div.number span.active,
.page-node div.number span.active,
.smart-search-right div.number span.active{
    background: #209ad6;
    color: #FFFFFF;
}
.mCSB_container{
    margin-right: 0;
}
.mCustomScrollBox .mCSB_scrollTools{
    width: 10px;
}
#spending-transactions .grid-3 .panel-separator,
#contract-details .grid-3 .panel-separator{
    margin: 0;
    border: none;
}
#spending-transactions .grid-3 .node-widget .content,
#spending-transactions div.node-widget,
#contract-details .grid-3 .node-widget .content,
#contract-details div.node-widget{
    margin:0;
}
.grid-3 .progress,
.page-node .progress,
.smart-search-right .progress{
    background: url(/sites/all/themes/checkbook/images/loading.gif) no-repeat;
    display: none;
    position: absolute;
    left: 30px;
    top: 10px;
    height: 16px;
    width: 16px;
    text-align: center;
}
.smart-search-left .loading{
    background: url(/sites/all/themes/checkbook/images/loading.gif) no-repeat;
    display: none;
    position: absolute;
    top: 10px;
    height: 16px;
    width: 16px;
    text-align: center;
}
.sub-category{
    margin-left: 22px;
    width: 176px;
}
.sub-category div.subcat-filter-title{
    padding: 10px 0 0 0;
    font-size: 11px;
    color: #2e2e2e;
    text-transform: uppercase;
    font-weight: bold;
}
.sub-category div.options{
    font-size: 11px;
}
.sub-category div.row{
    margin: 10px 0 0 0;
    padding: 0;
    width: 176px;
}
.sub-category div.name{
    max-width: 79px;
}
.sub-category div.number{
    width: 70px;
}
.facet-content{
    margin-bottom: 20px;
}

.facet-content label{
  all: unset;
  cursor: pointer;
}

.filter-title span{
    -moz-user-select: none;
    background:url("/sites/all/themes/checkbook3/images/arrow-down.png") no-repeat scroll 185px 3px transparent;
    cursor: pointer;
    display: block;
    line-height: 12px;
    padding-right: 31px;
}

.filter-title span.open{
    background:url("/sites/all/themes/checkbook3/images/arrow-up.png") no-repeat scroll 185px 3px transparent;
}

.smart-search-right div.disable_autocomplete{
    padding: 10px 10px 0 10px;
    width: 198px;
}

.smart-search-right div.disable_autocomplete input {
    opacity:0.5;
    width: 100%
}

/* Contract Includes Sub Vendors Facet */
#node-widget-921 div.name,
#node-widget-924 div.name,
#node-widget-926 div.name {
    max-width: 104px;
}
#node-widget-921 div.number,
#node-widget-924 div.number,
#node-widget-926 div.number {
    width: 67px;
}

/* Contract Id Facet */
#node-widget-922 div.name {
    max-width: 119px;
}
#node-widget-922 div.number {
    width: 11px;
}
