@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular-webfont.eot');
    src: local('☺'), url('Roboto-Regular-webfont.woff') format('woff'), url('Roboto-Regular-webfont.ttf') format('truetype'), url('Roboto-Regular-webfont.svg#RobotoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Bold-webfont.eot');
    src: local('☺'), url('Roboto-Bold-webfont.woff') format('woff'), url('Roboto-Bold-webfont.ttf') format('truetype'), url('Roboto-Bold-webfont.svg#RobotoBold') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Italic-webfont.eot');
    src: local('☺'), url('Roboto-Italic-webfont.woff') format('woff'), url('Roboto-Italic-webfont.ttf') format('truetype'), url('Roboto-Italic-webfont.svg#RobotoItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Roboto';
    src: url('Roboto-BoldItalic-webfont.eot');
    src: local('☺'), url('Roboto-BoldItalic-webfont.woff') format('woff'), url('Roboto-BoldItalic-webfont.ttf') format('truetype'), url('Roboto-BoldItalic-webfont.svg#RobotoBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}
@font-face {
    font-family: 'RobotoCondensed';
    src: url('Roboto-Condensed-webfont.eot');
    src: local('☺'), url('Roboto-Condensed-webfont.woff') format('woff'), url('Roboto-Condensed-webfont.ttf') format('truetype'), url('Roboto-Condensed-webfont.svg#RobotoCondensed') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoCondensed';
    src: url('Roboto-BoldCondensed-webfont.eot');
    src: local('☺'), url('Roboto-BoldCondensed-webfont.woff') format('woff'), url('Roboto-BoldCondensed-webfont.ttf') format('truetype'), url('Roboto-BoldCondensed-webfont.svg#RobotoBoldCondensed') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoThin';
    src: url('Roboto-Thin-webfont.eot');
    src: local('☺'), url('Roboto-Thin-webfont.woff') format('woff'), url('Roboto-Thin-webfont.ttf') format('truetype'), url('Roboto-Thin-webfont.svg#RobotoThin') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'RobotoLight';
    src: url('Roboto-LightItalic-webfont.eot');
    src: local('☺'), url('Roboto-LightItalic-webfont.woff') format('woff'), url('Roboto-LightItalic-webfont.ttf') format('truetype'), url('Roboto-LightItalic-webfont.svg#RobotoLightItalic') format('svg');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Novecento';
    src: url('23DA07_0_0.eot');
    src: local('☺'), url('23DA07_0_0.woff') format('woff'), url('23DA07_0_0.ttf') format('truetype'), url('23DA07_0_0.svg#wf') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Novecento';
    src: url('23DA07_1_0.eot');
    src: local('☺'), url('23DA07_1_0.woff') format('woff'), url('23DA07_1_0.ttf') format('truetype'), url('23DA07_1_0.svg#wf') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Novecentowide-Light';
    src: url('23DA13_0_0.eot');
    src: local('☺'), url('23DA13_0_0.woff') format('woff'), url('23DA13_0_0.ttf') format('truetype'), url('23DA13_0_0.svg#wf') format('svg');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'NovecentowideNormalRegular';
    src: url('Novecentowide-Normal-webfont.eot');
    src: url('Novecentowide-Normal-webfont.eot?#iefix') format('embedded-opentype'),
         url('Novecentowide-Normal-webfont.woff') format('woff'),
         url('Novecentowide-Normal-webfont.ttf') format('truetype'),
         url('Novecentowide-Normal-webfont.svg#NovecentowideNormalRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}
/* @license
* MyFonts Webfont Build ID 2433020, 2012-12-17T15:22:01-0500
*
 * The fonts listed in this notice are subject to the End User License
* Agreement(s) entered into by the website owner. All other parties are
 * explicitly restricted from using the Licensed Webfonts(s).
*
 * You may obtain a valid license at the URLs below.
*
 * Webfont: Novecento Wide Book by Synthview
* URL: http://www.myfonts.com/fonts/synthview/novecento/wide-book/
* Copyright: Copyright &#x00A9; 2011 by Jan Tonellato. All rights reserved.
* Licensed pageviews: Unlimited
*
 *
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2433020
*
 * � 2012 Bitstream Inc
*/