<span>Total current modified amount: {{ customAmount(node.data[0]['total_current_modified_budget_amount'] ,2,'$') }}</span><br/>
<span>Total adopted budget amount: {{ customAmount(node.data[0]['total_adopted_amount'] ,2,'$') }}</span>
