/* $Id $ */
/**
 * @file
 * Customize System Modules fieldsets
 */

#module-weights-settings .form-radios {
  margin-top: 0;
}

#module-weights-settings .form-radios .form-item {
  float: left;
  margin-left: 2em;
}

#module-weights-settings .description {
  clear: both;
}
